<% content_for :title, @head + " Matchups" %>
<div class="header row">
  <h1><%= @head + " Matchups"%></h1>
</div>

<ul>
  <li><%= link_to 'Home', { action: 'home' }%></li>
</ul>
<div class="dateselect" style="text-align: center;">
  <button class="btn btn-primary prevbutton" style="margin:10px; padding: 5px 20px;">Prev Day</button>
  <button class="btn btn-primary nextbutton" style="margin:10px; padding: 5px 20px;">Next Day</button>
  <input type="text" data-toggle="daterangepicker" name="timestamp" data-filter-type="date-range" style="width: 400px; text-align:center; margin: 20px;" class="daterange">
</div>
<script type="text/javascript">
  var start = moment("<%= @game_start_index %>").format('MMM DD, YYYY');
  var end = moment("<%= @game_end_index %>").format('MMM DD, YYYY') ;
  $('.daterange').daterangepicker({
    showDropdowns: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Next 7 Days': [moment(), moment().add(6, 'days')],
           'This Week': [moment().startOf('week'), moment().endOf('week')],
           'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')]
        },
        locale: {
      format: 'MMM DD, YYYY'
    },
        startDate: start,
        endDate: end
    }, cb);
    function cb(start, end) {
      window.location.href = "/index/birthday/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    }
    $('.prevbutton').click(function(){
        var start = moment("<%= @game_start_index %>").subtract(1, 'days');
    var end = moment("<%= @game_end_index %>").subtract(1, 'days');
    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
        window.location.href = "/index/birthday/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    }); 
    $('.nextbutton').click(function(){
        var start = moment("<%= @game_start_index %>").add(1, 'days');
    var end = moment("<%= @game_end_index %>").add(1, 'days');
    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
        window.location.href = "/index/birthday/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    });
</script>

<div style="
    position: absolute;
    top: 10px;
    left: 10px;
">
  <button class="btn btn-danger refreshbutton">Refresh</button>
</div>
  
<script>
 $('.refreshbutton').click(function(){
    window.location.href = window.location.href;
  });
</script>
<div style="display: flex">
<div style="display: inline-block">
  <table border="1">
    <thead>
    <tr>
      <td>DATE</td>
      <td>NAME</td>
      <td>TEAM</td>
      <td>NEXT GAME</td>
      <td>LAST GAME</td>
    </tr>
    </thead>
    <tbody>
    <% @nba_records.each do |record| %>
      <tr>
        <%
          record_date = record[:date]
          record_date = record[:date].strftime("%^A %^b %-d") if record_date != '-'
        %>
        <td><%= record_date %></td>
        <% if record[:player] == 'NONE' %>
          <td>NONE</td>
          <% (0..2).each do |index| %>
            <td>-</td>
          <% end %>
        <% else %>
          <td><%= record[:player].player_name %></td>
          <td><%= record[:player].team_name %></td>
          <% next_game = Nba.where("home_team = ? AND game_date >= ?", record[:player].team_name, record[:current].beginning_of_day).or(Nba.where("away_team = ? AND game_date >= ?", record[:player].team_name, record[:current].beginning_of_day)).order(:game_date).first %>
          <% if next_game %>
            <td><%= Date.strptime(next_game.game_date).strftime("%^b %e") %></td>
          <% else %>
            <td>-</td>
          <% end %>

          <% last_game = Nba.where("home_team = ? AND game_date < ?", record[:player].team_name, record[:current].beginning_of_day).or(Nba.where("away_team = ? AND game_date < ?", record[:player].team_name, record[:current].beginning_of_day)).order(:game_date).last %>
          <% if last_game %>
            <td><%= Date.strptime(last_game.game_date).strftime("%^b %e") %></td>
          <% else %>
            <td>-</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  <div style="display: inline-block">
  <table border="1">
    <thead>
      <tr bgcolor="lightgray">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td bgcolor="yellow"></td>
        <td bgcolor="yellow">Opponent</td>
        <td bgcolor="yellow"></td>
        <td bgcolor="yellow"></td>
        <td bgcolor="orange" colspan="2">what was line</td>
        <td bgcolor="orange" colspan="2">final score</td>
        <td bgcolor="black"></td>
        <td bgcolor="mediumpurple"></td>
        <td bgcolor="mediumpurple">Opponent</td>
        <td bgcolor="mediumpurple"></td>
        <td bgcolor="mediumpurple"></td>
        <td bgcolor="hotpink" colspan="2">what was line</td>
        <td bgcolor="hotpink" colspan="2">final score</td>
      </tr>
      <tr bgcolor="lightgray">
        <td>DATE</td>
        <td>NAME</td>
        <td>CLASS</td>
        <td>AVE MINS</td>
        <td>TEAM</td>
        <td bgcolor="yellow">NEXT GAME</td>
        <td bgcolor="yellow">VS or @</td>
        <td bgcolor="yellow">Did he play</td>
        <td bgcolor="yellow">How many mins</td>
        <td bgcolor="yellow">Side</td>
        <td bgcolor="yellow">Total</td>
        <td bgcolor="yellow">Away</td>
        <td bgcolor="yellow">Home</td>
        <td bgcolor="black"></td>
        <td bgcolor="mediumpurple">LAST GAME</td>
        <td bgcolor="mediumpurple">VS or @</td>
        <td bgcolor="mediumpurple">Did he play</td>
        <td bgcolor="mediumpurple">How many mins</td>
        <td bgcolor="mediumpurple">Side</td>
        <td bgcolor="mediumpurple">Total</td>
        <td bgcolor="mediumpurple">Away</td>
        <td bgcolor="mediumpurple">Home</td>
      </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr>
            <%
              record_date = record[:date]
              record_date = record[:date].strftime("%^A %^b %-d") if record_date != '-'
            %>
            <td><%= record_date %></td>
            <% if record[:player] == 'NONE' %>
              <td>NONE</td>
              <% (0..18).each do |index| %>
                <td>-</td>
              <% end %>
            <% else %>
              <td><%= record[:player].player_name %></td>
              <td><%= record[:player].player_class ? record[:player].player_class : '-' %></td>
              <td><%= record[:player].ave_mins ? record[:player].ave_mins : '-' %></td>
              <% cbb_team = CbbTeam.find_by(id: record[:player].cbb_team_id) %>
              <td><%= cbb_team.name %></td>

              <% next_cbb_record = CbbGame.where("home_team = ? AND game_date >= ?", cbb_team.name, record[:current].beginning_of_day).or(CbbGame.where("away_team = ? AND game_date >= ?", cbb_team.name, record[:current].beginning_of_day)).order(:game_date).first %>
              <% if next_cbb_record && next_cbb_record.game_date %>
                <td><%= Date.strptime(next_cbb_record.game_date).strftime("%^b %e") %></td>
                <td>@ <%= next_cbb_record.home_team == cbb_team.name ? '@' + next_cbb_record.away_team : 'vs' + next_cbb_record.home_team %></td>
                <% next_record = CbbRecord.find_by(game_date: next_cbb_record.game_date, cbb_player_id: record[:player].id) %>
                <% if next_record %>
                  <td>YES</td>
                  <td><%= next_record.min %></td>
                <% else %>
                  <td>NO</td>
                  <td>-</td>
                <% end %>
                <td bgcolor="yellow"><%= next_cbb_record.home_team == cbb_team.name ?  - next_cbb_record.full_closer_side.to_f : next_cbb_record.full_closer_side %></td>
                <td bgcolor="yellow"><%= next_cbb_record.full_closer_total %></td>
                <td><%= next_cbb_record.away_score %></td>
                <td><%= next_cbb_record.home_score %></td>
              <% else %>
                <% (0..4).each do |index| %>
                  <td>-</td>
                <% end %>
                <td bgcolor="yellow"></td>
                <td bgcolor="yellow"></td>
                <td></td>
                <td></td>
              <% end %>

              <td bgcolor="black"></td>

              <% last_cbb_record = CbbGame.where("home_team = ? AND game_date < ?", cbb_team.name, record[:current].beginning_of_day).or(CbbGame.where("away_team = ? AND game_date < ?", cbb_team.name, record[:current].beginning_of_day)).order(:game_date).last %>
              <% if last_cbb_record && last_cbb_record.game_date %>
                <td><%= Date.strptime(last_cbb_record.game_date).strftime("%^b %e") %></td>
                <td><%= last_cbb_record.home_team == cbb_team.name ? '@' + last_cbb_record.away_team : 'vs' + last_cbb_record.home_team %></td>
                <% last_record = CbbRecord.find_by(game_date: last_cbb_record.game_date, cbb_player_id: record[:player].id) %>
                <% if last_record %>
                  <td>YES</td>
                  <td><%= last_record.min %></td>
                  <% else %>
                  <td>NO</td>
                  <td>-</td>
                <% end %>
                <td bgcolor="hotpink"><%= last_cbb_record.home_team == cbb_team.name ?  - last_cbb_record.full_closer_side.to_f : last_cbb_record.full_closer_side %></td>
                <td bgcolor="hotpink"><%= last_cbb_record.full_closer_total %></td>
                <td><%= last_cbb_record.away_score %></td>
                <td><%= last_cbb_record.home_score %></td>
              <% else %>
                <% (0..4).each do |index| %>
                  <td>-</td>
                <% end %>
                <td bgcolor="hotpink"></td>
                <td bgcolor="hotpink"></td>
                <td></td>
                <td></td>
              <% end %>

            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>