<div class="header">
  <h1><%= @head %></h1>
</div>

<ul>
  <li><%= link_to 'Back', { action: 'game', id: @date_id }%></li>
</ul>

<table border="1">
  	<thead>
  		<tr>
	  		<th><%= @game.away_team %> <br> Starters</th>
	      <th>POS</th>
	      <th>PLAYER <br> POSS %</th>
        <th>PRO RATE</th>
	  		<th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
	    </tr>
  	</thead>
  	<tbody>
    <% @away_players.each_with_index do |player, index| %>
      <tr>
        <td><%= player.player_name %></td>
        <td><%= player.position %></td>
        <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td><%= number_with_precision(100 * player.sum_poss.to_f/player.team_poss, precision:2) %>%</td>
        <% else %>
        <td></td>
        <% end %>
        <td></td>
        <td><%= player.ortg %></td>
        <td></td>
        <td><%= player.drtg %></td>
        <td></td>
      </tr>
      <% if index == 4 %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="7"></td>
      </tr>
      <% end %>
    <% end %>
  	</tbody>
</table>

<table border="1">
    <thead>
      <tr>
        <th><%= @game.home_team %> <br> Starters</th>
        <th>POS</th>
        <th>PLAYER <br> POSS %</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @home_players.each_with_index do |player, index| %>
      <tr>
        <td><%= player.player_name %></td>
        <td><%= player.position %></td>
        <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td><%= number_with_precision(100 * player.sum_poss.to_f/player.team_poss, precision:2) %>%</td>
        <% else %>
        <td></td>
        <% end %>
        <td></td>
        <td><%= player.ortg %></td>
        <td></td>
        <td><%= player.drtg %></td>
        <td></td>
      </tr>
      <% if index == 4 %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="7"></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
</table>