<div class="header row">
  <div class="col-md-1 col-md-offset-2">
    <p>POSSESSIONS</p>
    <input type="text" class="awayPossessions"/>
  </div>
  <div class="col-md-4  col-md-offset-1">
    <h1><%= @head %></h1>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <p>POSSESSIONS</p>
    <input type="text"  class="homePossessions"/>
  </div>
</div>

<ul>
  <li><%= link_to 'Back', { action: 'game', id: @date_id }%></li>
</ul>
<div class="tableBody">
  <div style="display:inline-block;">
    <table border="1">
      <thead>
        <tr>
          <th colspan="7">REBOUNDS</th>
          <th class="between"></th>
          <th colspan="7">OFFENSIVE REBOUNDS</th>
        </tr>
        <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.possessions_current %> </td>
          <td> <%= @home_team_info.possessions_last_three %> </td>
          <td> <%= @home_team_info.possessions_last_one %> </td>
          <td> <%= @home_team_info.possessions_home %> </td>
          <td> <%= @home_team_info.possessions_away %> </td>
          <td> <%= @home_team_info.possessions_last %> </td>
          <td class="between"></td>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.rebound_current %> </td>
          <td> <%= @home_team_info.rebound_last_three %> </td>
          <td> <%= @home_team_info.rebound_last_one %> </td>
          <td> <%= @home_team_info.rebound_home %> </td>
          <td> <%= @home_team_info.rebound_away %> </td>
          <td> <%= @home_team_info.rebound_last %> </td>
        </tr>
        <tr>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.possessions_current %> </td>
          <td> <%= @away_team_info.possessions_last_three %> </td>
          <td> <%= @away_team_info.possessions_last_one %> </td>
          <td> <%= @away_team_info.possessions_home %> </td>
          <td> <%= @away_team_info.possessions_away %> </td>
          <td> <%= @away_team_info.possessions_last %> </td>
          <td class="between"></td>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.rebound_current %> </td>
          <td> <%= @away_team_info.rebound_last_three %> </td>
          <td> <%= @away_team_info.rebound_last_one %> </td>
          <td> <%= @away_team_info.rebound_home %> </td>
          <td> <%= @away_team_info.rebound_away %> </td>
          <td> <%= @away_team_info.rebound_last %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
        <tr>
          <th colspan="7">STEALS</th>
          <th class="between"></th>
          <th colspan="7">BLOCKS</th>
        </tr>
        <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.steal_current %> </td>
          <td> <%= @home_team_info.steal_last_three %> </td>
          <td> <%= @home_team_info.steal_last_one %> </td>
          <td> <%= @home_team_info.steal_home %> </td>
          <td> <%= @home_team_info.steal_away %> </td>
          <td> <%= @home_team_info.steal_last %> </td>
          <td class="between"></td>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.block_current %> </td>
          <td> <%= @home_team_info.block_last_three %> </td>
          <td> <%= @home_team_info.block_last_one %> </td>
          <td> <%= @home_team_info.block_home %> </td>
          <td> <%= @home_team_info.block_away %> </td>
          <td> <%= @home_team_info.block_last %> </td>
        </tr>
        <tr>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.steal_current %> </td>
          <td> <%= @away_team_info.steal_last_three %> </td>
          <td> <%= @away_team_info.steal_last_one %> </td>
          <td> <%= @away_team_info.steal_home %> </td>
          <td> <%= @away_team_info.steal_away %> </td>
          <td> <%= @away_team_info.steal_last %> </td>
          <td class="between"></td>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.block_current %> </td>
          <td> <%= @away_team_info.block_last_three %> </td>
          <td> <%= @away_team_info.block_last_one %> </td>
          <td> <%= @away_team_info.block_home %> </td>
          <td> <%= @away_team_info.block_away %> </td>
          <td> <%= @away_team_info.block_last %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
        <tr>
          <th colspan="7">TURNOVERS</th>
          <th class="between"></th>
          <th colspan="6">RECORD</th>
        </tr>
        <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>WON</th>
        <th>LAST</th>
        <th>PPG</th>
        <th>OPP</th>
        <th>DIFF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.turnover_current %> </td>
          <td> <%= @home_team_info.turnover_last_three %> </td>
          <td> <%= @home_team_info.turnover_last_one %> </td>
          <td> <%= @home_team_info.turnover_home %> </td>
          <td> <%= @home_team_info.turnover_away %> </td>
          <td> <%= @home_team_info.turnover_last %> </td>
          <td class="between"></td>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.record_won.round() %> </td>
          <td> <%= @home_team_info.record_lost.round() %> </td>
          <td> <%= @home_team_info.record_ppg %> </td>
          <td> <%= @home_team_info.record_opp %> </td>
          <td> <%= @home_team_info.record_diff %> </td>
        </tr>
        <tr>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.turnover_current %> </td>
          <td> <%= @away_team_info.turnover_last_three %> </td>
          <td> <%= @away_team_info.turnover_last_one %> </td>
          <td> <%= @away_team_info.turnover_home %> </td>
          <td> <%= @away_team_info.turnover_away %> </td>
          <td> <%= @away_team_info.turnover_last %> </td>
          <td class="between"></td>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.record_won.round() %> </td>
          <td> <%= @away_team_info.record_lost.round() %> </td>
          <td> <%= @away_team_info.record_ppg %> </td>
          <td> <%= @away_team_info.record_opp %> </td>
          <td> <%= @away_team_info.record_diff %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
        <tr>
          <th colspan="7">OPPONENTS 1H points per game</th>
          <th class="between"></th>
          <th colspan="7">OPPONENTS 2H points per game</th>
        </tr>
        <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.opponentfirst_current %> </td>
          <td> <%= @home_team_info.opponentfirst_last_three %> </td>
          <td> <%= @home_team_info.opponentfirst_last_one %> </td>
          <td> <%= @home_team_info.opponentfirst_home %> </td>
          <td> <%= @home_team_info.opponentfirst_away %> </td>
          <td> <%= @home_team_info.opponentfirst_last %> </td>
          <td class="between"></td>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.opponentsecond_current %> </td>
          <td> <%= @home_team_info.opponentsecond_last_three %> </td>
          <td> <%= @home_team_info.opponentsecond_last_one %> </td>
          <td> <%= @home_team_info.opponentsecond_home %> </td>
          <td> <%= @home_team_info.opponentsecond_away %> </td>
          <td> <%= @home_team_info.opponentsecond_last %> </td>
        </tr>
        <tr>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.opponentfirst_current %> </td>
          <td> <%= @away_team_info.opponentfirst_last_three %> </td>
          <td> <%= @away_team_info.opponentfirst_last_one %> </td>
          <td> <%= @away_team_info.opponentfirst_home %> </td>
          <td> <%= @away_team_info.opponentfirst_away %> </td>
          <td> <%= @away_team_info.opponentfirst_last %> </td>
          <td class="between"></td>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.opponentsecond_current %> </td>
          <td> <%= @away_team_info.opponentsecond_last_three %> </td>
          <td> <%= @away_team_info.opponentsecond_last_one %> </td>
          <td> <%= @away_team_info.opponentsecond_home %> </td>
          <td> <%= @away_team_info.opponentsecond_away %> </td>
          <td> <%= @away_team_info.opponentsecond_last %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
        <tr>
          <th colspan="7">1ST HALF POINTS</th>
          <th class="between"></th>
          <th colspan="7">2ND HALF POINTS</th>
        </tr>
        <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.first_current %> </td>
          <td> <%= @home_team_info.first_last_three %> </td>
          <td> <%= @home_team_info.first_last_one %> </td>
          <td> <%= @home_team_info.first_home %> </td>
          <td> <%= @home_team_info.first_away %> </td>
          <td> <%= @home_team_info.first_last %> </td>
          <td class="between"></td>
          <td> <%= @home_team_info.team %> </td>
          <td> <%= @home_team_info.second_current %> </td>
          <td> <%= @home_team_info.second_last_three %> </td>
          <td> <%= @home_team_info.second_last_one %> </td>
          <td> <%= @home_team_info.second_home %> </td>
          <td> <%= @home_team_info.second_away %> </td>
          <td> <%= @home_team_info.second_last %> </td>
        </tr>
        <tr>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.first_current %> </td>
          <td> <%= @away_team_info.first_last_three %> </td>
          <td> <%= @away_team_info.first_last_one %> </td>
          <td> <%= @away_team_info.first_home %> </td>
          <td> <%= @away_team_info.first_away %> </td>
          <td> <%= @away_team_info.first_last %> </td>
          <td class="between"></td>
          <td> <%= @away_team_info.team %> </td>
          <td> <%= @away_team_info.second_current %> </td>
          <td> <%= @away_team_info.second_last_three %> </td>
          <td> <%= @away_team_info.second_last_one %> </td>
          <td> <%= @away_team_info.second_home %> </td>
          <td> <%= @away_team_info.second_away %> </td>
          <td> <%= @away_team_info.second_last %> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <input type="checkbox" id="inqury"> Show inquries
</div>
<div class="tableBody fulltable" style="display:none">
  <h5> NEXT STAT </h5>
  <table border="1" class="tableSide">
  	<thead>
  		<tr>
	  		<th><%= @game.away_team %> <br> Starters</th>
	      <th>POS</th>
        <th>HT</th>
	      <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
	  		<th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
        <th></th>
	    </tr>
  	</thead>
  	<tbody>
    <% @away_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 
            style="background:red;"
          end
      %>
      <tr>
        <td class="lists list<%= player.id %>"  style='<%= style %>' ><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group1.size %>"><%= '%.2f' % @away_drtg_one %></td>
        <% end %>
        <td style='<%= style %>'  class="changeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <input type="checkbox" class="inqury<%= player.id %>">
        </td>
      </tr>
    <% end %>

    <% @away_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group2.size %>"><%= '%.2f' % @away_drtg_two %></td>
        <% end %>
        <td style='<%= style %>'  class="changeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <input type="checkbox" class="inqury<%= player.id %>">
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="11"></td>
      </tr>
    <% @away_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
          end
      %>
      <tr>
        <td  style='<%= style %>' class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= style %>'  class="changeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <input type="checkbox" class="inqury<%= player.id %>">
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="12"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= '%.2f' % @away_total_poss %>%</td>
        <td><%= @away_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="awaysum1"></td>
        <td colspan="2" id="awaysum"></td>
        <td id="awaysum2"></td>
        <td></td>
      </tr>
  	</tbody>
</table>

<table border="1" class="tableSide">
    <thead>
      <tr>
        <th><%= @game.home_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @home_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group1.size %>"><%= '%.2f' % @home_drtg_one %></td>
        <% end %>
        <td style='<%= style %>'  class="changeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <input type="checkbox" class="inqury<%= player.id %>">
        </td>
      </tr>
    <% end %>

    <% @home_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group2.size %>"><%= '%.2f' % @home_drtg_two %></td>
        <% end %>
        <td style='<%= style %>'  class="changeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <input type="checkbox" class="inqury<%= player.id %>">
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="11"></td>
      </tr>
    <% @home_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= style %>'  class="changeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <input type="checkbox" class="inqury<%= player.id %>">
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="12"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= '%.2f' % @home_total_poss %>%</td>
        <td><%= @home_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="homesum1"></td>
        <td colspan="2" id="homesum"></td>
        <td id="homesum2"></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>

<div class="tableBody inqurytable">
  <h5> NEXT STAT </h5>
  <table border="1" class="tableSide">
    <thead>
      <tr>
        <th><%= @game.away_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @away_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
            style="background:red;"
          end
      %>
      <tr>
        <td class="lists list<%= player.id %>"  style='<%= style %>' ><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group1.size %>"><%= '%.2f' % @injury_away_drtg_one %></td>
        <% end %>
        <td style='<%= style %>'  class="injurychangeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>

    <% @away_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group2.size %>"><%= '%.2f' % @injury_away_drtg_two %></td>
        <% end %>
        <td style='<%= style %>'  class="injurychangeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="10"></td>
      </tr>
    <% @away_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
            style="background:red;"
          end
      %>
      <tr>
        <td  style='<%= style %>' class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= style %>'  class="injurychangeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="11"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= '%.2f' % @injury_away_total_poss %>%</td>
        <td><%= @injury_away_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="injuryawaysum1"></td>
        <td colspan="2" id="injuryawaysum"></td>
        <td id="injuryawaysum2"></td>
      </tr>
    </tbody>
</table>

<table border="1" class="tableSide">
    <thead>
      <tr>
        <th><%= @game.home_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @home_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group1.size %>"><%= '%.2f' % @injury_home_drtg_one %></td>
        <% end %>
        <td style='<%= style %>'  class="injurychangeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>

    <% @home_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group2.size %>"><%= '%.2f' % @injury_home_drtg_two %></td>
        <% end %>
        <td style='<%= style %>'  class="injurychangeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="10"></td>
      </tr>
    <% @home_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
            style="background:red;"
          end
      %>
      <tr>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= style %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= style %>'  class="injurychangeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="11"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= '%.2f' % @injury_home_total_poss %>%</td>
        <td><%= @injury_home_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="injuryhomesum1"></td>
        <td colspan="2" id="injuryhomesum"></td>
        <td id="injuryhomesum2"></td>
      </tr>
    </tbody>
</table>
</div>
<% @away_players.each_with_index do |player, index| %>
<div style="display:none" class="boxes box<%= player.id %>">
            <table border="1">
                <thead>
                  <tr>
                    <th>GameID</th>
                    <th>MIN</th>
                    <th>FGA</th>
                    <th>FTA</th>
                    <th>TO</th>
                    <th>OR</th>
                    <th>POSS</th>
                    <th>TEAM POSS</th>
                  </tr>
                </thead>
                <tbody>
               
                  <%
                    game_list = player.possession.split(/,/)
                    total_mins = 0
                    total_fga = 0
                    total_fta = 0
                    total_toValue = 0
                    total_orValue = 0
                    total_poss = 0
                    total_team_poss = 0
                    game_list.each do |game_id|
                      game = Nba.where(id: game_id).first
                      search_player = game.players.where(player_name: player.player_name).first
                      team_player = game.players.where(player_name: "TEAM", team_abbr: search_player.team_abbr).first
                      total_mins = total_mins + search_player.mins
                      total_fga = total_fga + search_player.fga
                      total_fta = total_fta + search_player.fta
                      total_toValue = total_toValue + search_player.toValue
                      total_orValue = total_orValue + search_player.orValue
                      total_poss = total_poss + search_player.poss
                      total_team_poss = total_team_poss + team_player.poss
                  %>
                  <tr>
                    <td><%= game.date %>, <%= game.year %></td>
                    <td><%= search_player.mins %></td>
                    <td><%= search_player.fga %></td>
                    <td><%= search_player.fta %></td>
                    <td><%= search_player.toValue %></td>
                    <td><%= search_player.orValue %></td>
                    <td><%= search_player.poss %></td>
                    <td><%= team_player.poss %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Total</td>
                    <td><%= total_mins %></td>
                    <td><%= total_fga %></td>
                    <td><%= total_fta %></td>
                    <td><%= total_toValue %></td>
                    <td><%= total_orValue %></td>
                    <td><%= total_poss %></td>
                    <td><%= total_team_poss %></td>
                  </tr>
                </tbody>
            </table>
      </div>
      <% end %>

      <% @home_players.each_with_index do |player, index| %>
<div style="display:none" class="boxes box<%= player.id %>">
            <table border="1">
                <thead>
                  <tr>
                    <th>GameID</th>
                    <th>MIN</th>
                    <th>FGA</th>
                    <th>FTA</th>
                    <th>TO</th>
                    <th>OR</th>
                    <th>POSS</th>
                    <th>TEAM POSS</th>
                  </tr>
                </thead>
                <tbody>
               
                  <%
                    game_list = player.possession.split(/,/)
                    total_mins = 0
                    total_fga = 0
                    total_fta = 0
                    total_toValue = 0
                    total_orValue = 0
                    total_poss = 0
                    total_team_poss = 0
                    game_list.each do |game_id|
                      game = Nba.where(id: game_id).first
                      search_player = game.players.where(player_name: player.player_name).first
                      team_player = game.players.where(player_name: "TEAM", team_abbr: search_player.team_abbr).first
                      total_mins = total_mins + search_player.mins
                      total_fga = total_fga + search_player.fga
                      total_fta = total_fta + search_player.fta
                      total_toValue = total_toValue + search_player.toValue
                      total_orValue = total_orValue + search_player.orValue
                      total_poss = total_poss + search_player.poss
                      total_team_poss = total_team_poss + team_player.poss
                  %>
                  <tr>
                    <td><%= game.date %>, <%= game.year %></td>
                    <td><%= search_player.mins %></td>
                    <td><%= search_player.fga %></td>
                    <td><%= search_player.fta %></td>
                    <td><%= search_player.toValue %></td>
                    <td><%= search_player.orValue %></td>
                    <td><%= search_player.poss %></td>
                    <td><%= team_player.poss %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Total</td>
                    <td><%= total_mins %></td>
                    <td><%= total_fga %></td>
                    <td><%= total_fta %></td>
                    <td><%= total_toValue %></td>
                    <td><%= total_orValue %></td>
                    <td><%= total_poss %></td>
                    <td><%= total_team_poss %></td>
                  </tr>
                </tbody>
            </table>
      </div>
      <% end %>
<script>
$(document).ready(function(){
  $(".lists").click(function() {
    if ($(".box" + $(this)[0].className.substr(10)).css("display") == "none")
    {
      $(".boxes").css("display", "none");
      $(".box" + $(this)[0].className.substr(10)).fadeIn(750);
      var position = $(this).position();
      $(".box" + $(this)[0].className.substr(10)).css("position", "absolute");
      $(".box" + $(this)[0].className.substr(10)).css("top", position.top + 20);
      $(".box" + $(this)[0].className.substr(10)).css("left", position.left);
      $(".box" + $(this)[0].className.substr(10)).css("background", "white");
    }
    else {
      $(".boxes").css("display", "none");
    }
  });
});
$('.awayPossessions').on('input', function() { 
  var value = $(this).val();
  var sum1 = 0, sum2 = 0;
  <% @away_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
  var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
  console.log(prorate);
    $(".changeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100 + '%');
    sum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @away_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_one %>)/100 + '%');
    sum2 += value/10000 * prorate * <%= @home_drtg_one %>;
    <% end %>
    <% @away_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_two %>)/100 + '%');
     sum2 += value/10000 * prorate * <%= @home_drtg_two %>;
    <% end %>
    <% @away_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
    console.log(prorate);
    <%
      if player.position == 'SG' || player.position == 'PG'
    %>
      $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_one %>)/100 + '%');
      sum2 += value/10000 * prorate * <%= @home_drtg_one %>;
      <% else %>
      $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_two %>)/100 + '%');
      sum2 += value/10000 * prorate * <%= @home_drtg_two %>;
    <%
      end 
    end
    %>
    sum = (sum1+sum2)/2
    sum = Math.round(sum*100)/100;
    sum1 = Math.round(sum1*100)/100;
    sum2 = Math.round(sum2*100)/100;
    $('#awaysum').html(sum);
    $('#awaysum1').html(sum1);
    $('#awaysum2').html(sum2);

  var injurysum1 = 0, injurysum2 = 0;
  <% @away_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
      next
    end
  %>
  var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
  console.log(prorate);
    $(".injurychangeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100 + '%');
    injurysum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @away_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_one %>)/100 + '%');
    injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_one %>;
    <% end %>
    <% @away_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_two %>)/100 + '%');
     injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_two %>;
    <% end %>
    <% @away_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
    console.log(prorate);
    <%
      if player.position == 'SG' || player.position == 'PG'
    %>
      $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_one %>)/100 + '%');
      injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_one %>;
      <% else %>
      $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_two %>)/100 + '%');
      injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_two %>;
    <%
      end 
    end
    %>
    injurysum = (injurysum1+injurysum2)/2
    injurysum = Math.round(injurysum*100)/100;
    injurysum1 = Math.round(injurysum1*100)/100;
    injurysum2 = Math.round(injurysum2*100)/100;
    $('#injuryawaysum').html(injurysum);
    $('#injuryawaysum1').html(injurysum1);
    $('#injuryawaysum2').html(injurysum2);
});
$('.homePossessions').on('input', function() { 
  var value = $(this).val();
  var sum1 = 0, sum2 = 0;
   <% @home_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
   var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
   console.log(prorate);
    $(".changeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100 + '%');
    sum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @home_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_one %>)/100 + '%');
    sum2 += value/10000 * prorate * <%= @away_drtg_one %>;
    <% end %>
    <% @home_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_two %>)/100 + '%');
    sum2 += value/10000 * prorate * <%= @away_drtg_two %>;
    <% end %>
    <% @home_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
    console.log(prorate);
    <%
      if player.position == 'SG' || player.position == 'PG'
    %>
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_one %>)/100 + '%');
    sum2 += value/10000 * prorate * <%= @away_drtg_one %>;
    <% else %>
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_two %>)/100 + '%');
    sum2 += value/10000 * prorate * <%= @away_drtg_two %>;
    <%
      end 
    end
    %>
    sum = (sum1+sum2)/2
    sum = Math.round(sum*100)/100;
    sum1 = Math.round(sum1*100)/100;
    sum2 = Math.round(sum2*100)/100;
    $('#homesum').html(sum);
    $('#homesum1').html(sum1);
    $('#homesum2').html(sum2);


    var injurysum1 = 0, injurysum2 = 0;
   <% @home_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
      next
    end
  %>
   var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
   console.log(prorate);
    $(".injurychangeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100 + '%');
    injurysum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @home_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_one %>)/100 + '%');
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_one %>;
    <% end %>
    <% @home_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_two %>)/100 + '%');
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_two %>;
    <% end %>
    <% @home_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
    console.log(prorate);
    <%
      if player.position == 'SG' || player.position == 'PG'
    %>
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_one %>)/100 + '%');
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_one %>;
    <% else %>
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_two %>)/100 + '%');
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_two %>;
    <%
      end 
    end
    %>
    injurysum = (injurysum1+injurysum2)/2
    injurysum = Math.round(injurysum*100)/100;
    injurysum1 = Math.round(injurysum1*100)/100;
    injurysum2 = Math.round(injurysum2*100)/100;
    $('#injuryhomesum').html(injurysum);
    $('#injuryhomesum1').html(injurysum1);
    $('#injuryhomesum2').html(injurysum2);
});
</script>

<div class="tableContainer">
    <table border="1" class="numbers">
        <tbody>
            <tr>
                <td>LAST ROAD</td>
                <td>NEXT ROAD</td>
                <td>NEXT HOME</td>
                <td>LAST HOME</td>
                <td></td>
                <td>ROAD</td>
                <td>HOME</td>
                <td></td>
                <td>+/-</td>
                <td></td>
                <td style="background: #fa0">GMS</td>
                <td></td>
                <td>1H ROAD</td>
                <td>1H HOME</td>
                <td></td>
                <td>+/-</td>
                <td></td>
                <td>2H ROAD</td>
                <td>2H HOME</td>
                <td></td>
                <td>+/-</td>
            </tr>
            <tr>
                <td><%= @countItem.lastroad %></td>
                <td><%= @countItem.nextroad %></td>
                <td><%= @countItem.nexthome %></td>
                <td><%= @countItem.lasthome %></td>
                <td></td>
                <td><%= @countItem.road %></td>
                <td><%= @countItem.home %></td>
                <td><%= (@countItem.home + @countItem.road).round(2) %></td>
                <td><%= @countItem.diff %></td>
                <td></td>
                <td style="background: #fa0"><%= @countItem.count %></td>
                <td></td>
                <td><%= @countItem.firstroad %></td>
                <td><%= @countItem.firsthome %></td>
                <td><%= (@countItem.firstroad + @countItem.firsthome).round(2) %></td>
                <td><%= @countItem.firstdiff %></td>
                <td></td>
                <td><%= @countItem.secondroad %></td>
                <td><%= @countItem.secondhome %></td>
                <td><%= (@countItem.secondroad + @countItem.secondhome).round(2) %></td>
                <td><%= @countItem.seconddiff %></td>
            </tr>
            <tr style="background: #fa0">
                <td>ALL</td>
                <td>ALL</td>
                <td>ALL</td>
                <td>ALL</td>
                <td></td>
                <td>97</td>
                <td>100.12</td>
                <td>197.12</td>
                <td>-3.12</td>
                <td></td>
                <td style="background: #fa0">17955</td>
                <td></td>
                <td>48.49</td>
                <td>50.32</td>
                <td>98.81</td>
                <td>-1.83</td>
                <td></td>
                <td>48.51</td>
                <td>49.80</td>
                <td>98.31</td>
                <td>-1.29</td>
            </tr>
            <% if @game.home_next_fly == "NO" && @game.home_last_fly == "YES" %>
            <tr>
                <td></td>
                <td>NO</td>
                <td>YES</td>
                <td></td>
                <td></td>
                <td>96.75</td>
                <td>99.83</td>
                <td>196.58</td>
                <td>-3.08</td>
                <td></td>
                <td style="background: #fa0">4949</td>
                <td></td>
                <td>48.23</td>
                <td>50.11</td>
                <td>98.34</td>
                <td>-1.88</td>
                <td></td>
                <td>48.52</td>
                <td>49.72</td>
                <td>98.24</td>
                <td>-1.2</td>
            </tr>
            <% elsif @game.home_next_fly == "YES" && @game.home_last_fly == "NO" %>
            <tr>
                <td></td>
                <td>YES</td>
                <td>NO</td>
                <td></td>
                <td></td>
                <td>97.14</td>
                <td>100.15</td>
                <td>197.29</td>
                <td>-3.01</td>
                <td></td>
                <td style="background: #fa0">4929</td>
                <td></td>
                <td>48.55</td>
                <td>50.38</td>
                <td>98.93</td>
                <td>-1.83</td>
                <td></td>
                <td>48.59</td>
                <td>49.77</td>
                <td>98.36</td>
                <td>-1.18</td>
            </tr>
            <% elsif @game.home_next_fly == "YES" && @game.home_last_fly == "YES" %>
            <tr>
                <td></td>
                <td>YES</td>
                <td>YES</td>
                <td></td>
                <td></td>
                <td>96.76</td>
                <td>99.65</td>
                <td>196.41</td>
                <td>-2.89</td>
                <td></td>
                <td style="background: #fa0">3931</td>
                <td></td>
                <td>48.44</td>
                <td>50.06</td>
                <td>98.5</td>
                <td>-1.62</td>
                <td></td>
                <td>48.32</td>
                <td>49.59</td>
                <td>97.91</td>
                <td>-1.27</td>
            </tr>
            <% elsif @game.home_next_fly == "NO" && @game.home_last_fly == "NO" %>
            <tr>
                <td></td>
                <td>NO</td>
                <td>NO</td>
                <td></td>
                <td></td>
                <td>97.3</td>
                <td>100.85</td>
                <td>197.88</td>
                <td>-3.55</td>
                <td></td>
                <td style="background: #fa0">4129</td>
                <td></td>
                <td>48.78</td>
                <td>50.76</td>
                <td>99.54</td>
                <td>-1.98</td>
                <td></td>
                <td>48.52</td>
                <td>50.09</td>
                <td>98.61</td>
                <td>-1.57</td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<div class="tableContainer">
    <table border="1" class="totalAverage">
        <tbody>
            <tr>
                <td class="gameDate"><%= Date.strptime(@game.game_date).strftime("%A %b #{Date.strptime(@game.game_date).day.ordinalize} %Y")%></td>
                <td></td>
                <td colspan="7"><u><h4 class="gameTeam"><%= @head %></h4></u></td>
                <td></td>
                <td class="line">1H LINE</td>
                <td class="line">2H LINE</td>
                <td class="line">FG LINE</td>
                <td></td>
                <td colspan="4" rowspan="3" class="gray"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><u><i>road</i></u></td>
                <td colspan="2">road DAYS REST home</td>
                <td><u><i>home</i></u></td>
                <td></td>
                <td colspan="2" class="gameDate">TRAVEL</td>
                <td></td>
                <td class="gameDate"><%= @game.first_closer_total %></td>
                <td class="gameDate"><%= @game.second_closer_total %></td>
                <td class="gameDate"><%= @game.full_closer_total %></td>
                <td></td>
            </tr>
            <tr>
                <td class="gameDate">RIVALS</td>
                <td></td>
                <td class="gameDate">last</td>
                <td colspan="2" class="gameDate">next game</td>
                <td class="gameDate">last</td>
                <td></td>
                <td>next Y/N</td>
                <td>last Y/N</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gameDate">
                <td><%= @game.away_abbr + " VS " + @game.home_abbr %></td>
                <td></td>
                <td><%= @game.away_last_game %></td>
                <td><%= @game.away_next_game %></td>
                <td><%= @game.home_next_game %></td>
                <td><%= @game.home_last_game %></td>
                <td></td>
                <td><%= @game.home_next_fly[0] %></td>
                <td><%= @game.home_last_fly[0] %></td>
                <td></td>
                <td>1ST<br>HALF</td>
                <td>2ND<br>HALF</td>
                <td>FULL<br>GAME</td>
                <td>GAMES</td>
                <td colspan="4" rowspan="5" class="gray halfstats">HALFTIME <br> SCORE</td>
            </tr>
            <tr>
                <td>RIVALS</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @firstItem_result[:first] %></td>
                <td><%= @firstItem_result[:second] %></td>
                <td><%= @firstItem_result[:full] %></td>
                <td><%= @firstItem_result[:count] %></td>
            </tr>
            <tr>
                <td>ALL GAMES IN <%= @home_abbr %></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @secondItem_result[:first] %></td>
                <td><%= @secondItem_result[:second] %></td>
                <td><%= @secondItem_result[:full] %></td>
                <td><%= @secondItem_result[:count] %></td>
            </tr>
            <tr>
                <td>ALL GAMES ON <%= Date.strptime(@game.game_date).strftime("%A")%></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= @thirdItem_result[:first] %></td>
                <td><%= @thirdItem_result[:second] %></td>
                <td><%= @thirdItem_result[:full] %></td>
                <td><%= @thirdItem_result[:count] %></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="filter">X</td>
                <td class="filter">X</td>
                <td></td>
                <td><%= @forthItem_result[:first] %></td>
                <td><%= @forthItem_result[:second] %></td>
                <td><%= @forthItem_result[:full] %></td>
                <td><%= @forthItem_result[:count] %></td>
                <td colspan="2"><%= @game.away_team %></td>
                <td colspan="2"><%= @game.home_team %></td>
            </tr>
            <tr class="gradient">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <% 
                @filters.each_with_index do |filter, index|
                    first_one = []
                    filter.each do |element|
                        first_one.push(element ? element : "ANY")
                    end
                    first_one = first_one.join("-")
            %>
                <tr class="filterElement">
                    <td><%= first_one %></td>
                    <td></td>
                    <% if filter[0] %>
                        <td class="filter">X</td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if filter[1] %>
                        <td class="filter">X</td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if filter[2] %>
                        <td class="filter">X</td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if filter[3] %>
                        <td class="filter">X</td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <td></td>
                    <% if filter[4] %>
                        <td class="filter">X</td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <% if filter[5] %>
                        <td class="filter">X</td>
                    <% else %>
                        <td></td>
                    <% end %>
                    <td></td>
                    <td><%= @filterResult[index][:first] %></td>
                    <td><%= @filterResult[index][:second] %></td>
                    <td><%= @filterResult[index][:full] %></td>
                    <td><%= @filterResult[index][:count] %></td>
                    <% if index == 0 %>
                        <td colspan="2" rowspan="3">
                          <% if @game.away_first_quarter && @game.away_second_quarter %>
                            <%= @game.away_first_quarter + @game.away_second_quarter %>
                          <% end %>
                        </td>
                        <td colspan="2" rowspan="3">
                          <% if @game.home_first_quarter && @game.home_second_quarter %>
                            <%= @game.home_first_quarter + @game.home_second_quarter %>
                          <% end %>
                        </td>
                    <% elsif index == 3 %>
                        <td colspan="4" rowspan="42" class="gray"></td>
                    <% end %>
                </tr>
                <% if @break.include?(index) %>
                <tr class="gradient">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% end %>
            <% end %>
            <tr class="redgradient">
                <td>2ND HALF STATS</td>
                <td></td>
                <td class="gameDate"><%= @game.away_abbr %></td>
                <td class="gameDate">
                  <% if @game.away_first_quarter && @game.away_second_quarter %>
                    <%= @game.away_first_quarter + @game.away_second_quarter %>
                  <% end %>
                </td>
                <td class="gameDate"><%= @game.home_abbr %></td>
                <td class="gameDate">
                  <% if @game.home_first_quarter && @game.home_second_quarter %>
                    <%= @game.home_first_quarter + @game.home_second_quarter %>
                  <% end %>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="gray">WHEN HOME TEAM</td>
                <td class="gradient"></td>
                <td colspan="4">IS LEADING BY <%= @diff %> (+/- 5)</td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td><%= @lastfirstItem_result[:first] %></td>
                <td><%= @lastfirstItem_result[:second] %></td>
                <td><%= @lastfirstItem_result[:full] %></td>
                <td><%= @lastfirstItem_result[:count] %></td>
            </tr>
            <tr>
                <td class="gray">WHEN HOME TEAM</td>
                <td class="gradient"></td>
                <td colspan="4">SCORES MORE THAN 60</td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td><%= @lastsecondItem_result[:first] %></td>
                <td><%= @lastsecondItem_result[:second] %></td>
                <td><%= @lastsecondItem_result[:full] %></td>
                <td><%= @lastsecondItem_result[:count] %></td>
            </tr>
            <tr>
                <td class="gray">WHEN ROAD TEAM</td>
                <td class="gradient"></td>
                <td colspan="4">SCORES MORE THAN 60</td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td><%= @lastthirdItem_result[:first] %></td>
                <td><%= @lastthirdItem_result[:second] %></td>
                <td><%= @lastthirdItem_result[:full] %></td>
                <td><%= @lastthirdItem_result[:count] %></td>
            </tr>
            <tr>
                <td class="gray"></td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="gray"></td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td class="gradient"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="redgradient">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="gradient">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="
    position: absolute;
    top: 10px;
    left: 10px;
">
  <button class="btn btn-danger refreshbutton">Refresh</button>
</div>
  
<script>
 $('.refreshbutton').click(function(){
    window.location.href = window.location.href;
  });
 <% @away_injury_name.each do |element| %>
 console.log('<%= element %>')
 <% end %>
 <% @home_injury_name.each do |element| %>
 console.log('<%= element %>')
 <% end %>
 $('#inqury').change(function() {
  if(this.checked) {
    $('.inqurytable').css('display', 'none');
    $('.fulltable').css('display', 'block');
  } else {
    $('.inqurytable').css('display', 'block');
    $('.fulltable').css('display', 'none');
  }
 });
</script>

<div class="tableBody">
  <table border="1">
    <thead>
      <tr>
        <th width="100">Team</th>
        <th width="100">Date</th>
        <th width="100">Name</th>
        <th width="100">Status</th>
        <th width="600">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @home_injuries.each do |injury| %>
        <tr>
          <td> <%= injury.team %> </td>
          <td> <%= injury.date %> </td>
          <td> <%= injury.name %> </td>
          <td> <%= injury.status %> </td>
          <td> <%= injury.text %> </td>
        </tr>
      <% end %>
      <% @away_injuries.each do |injury| %>
        <tr>
          <td> <%= injury.team %> </td>
          <td> <%= injury.date %> </td>
          <td> <%= injury.name %> </td>
          <td> <%= injury.status %> </td>
          <td> <%= injury.text %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% @compares.each do |compare|
search_elements_home = @home_players.select{|player| player["player_fullname"] == compare.home_player_name }
search_elements_away = @away_players.select{|player| player["player_fullname"] == compare.away_full_name } 
if !search_elements_home[0] || !search_elements_away[0]
  next
end
%>
<div class="tableBody">
  <table border="1">
    <thead>
      <tr>
        <th colspan="1" class="gray"></th>
        <th colspan="7" class="gray"><%= search_elements_home[0] ? search_elements_home[0].position : "" %> <%= compare.first_home_player_name %> <%= @game.home_team %></th>
        <th colspan="3" class="gray">vs</th>
        <th colspan="7" class="gray"><%= search_elements_away[0] ? search_elements_away[0].position : "" %> <%= compare.first_away_player_name %> <%= @game.away_team %></th>
        <th class="gray">PPP + PPP</th>
      </tr>
    </thead>
    <tbody>
      <tr class="gray">
        <td style="background: red"><u>HEAD to HEAD</u></td>
        <td>Age</td>
        <td>GP</td>
        <td>GS</td>
        <td>MP</td>
        <td>FG</td>
        <td>FGA</td>
        <td>3P</td>
        <td>3PA</td>
        <td>FT</td>
        <td>FTA</td>
        <td>ORB</td>
        <td>STL</td>
        <td>BLK</td>
        <td>TOV</td>
        <td>PTS</td>
        <td>POSS</td>
        <td>PPP</td>
        <td></td>
      </tr>
      <tr>
        <td><%= compare.head_home_player_name %></td>
        <td><%= compare.second_home_player_age %></td>
        <td><%= compare.head_home_player_gp %></td>
        <td><%= compare.head_home_player_gs %></td>
        <td><%= compare.head_home_player_mp %></td>
        <td><%= compare.head_home_player_fg %></td>
        <td><%= compare.head_home_player_fga %></td>
        <td><%= compare.head_home_player_p %></td>
        <td><%= compare.head_home_player_pa %></td>
        <td><%= compare.head_home_player_ft %></td>
        <td><%= compare.head_home_player_fta %></td>
        <td><%= compare.head_home_player_orb %></td>
        <td><%= compare.head_home_player_stl %></td>
        <td><%= compare.head_home_player_blk %></td>
        <td><%= compare.head_home_player_tov %></td>
        <td><%= compare.head_home_player_pts %></td>
        <td><%= (compare.head_home_player_fga + compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb).round(3) %></td>
        <td><%= compare.head_home_player_pts/(compare.head_home_player_fga+  compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb) %></td>
        <td rowspan="2"><%= compare.head_home_player_pts/(compare.head_home_player_fga+  compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb) + compare.head_away_player_pts/(compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb) %></td>
      </tr>
      <tr>
        <td><%= compare.head_away_player_name %></td>
        <td><%= compare.second_away_player_age %></td>
        <td><%= compare.head_away_player_gp %></td>
        <td><%= compare.head_away_player_gs %></td>
        <td><%= compare.head_away_player_mp %></td>
        <td><%= compare.head_away_player_fg %></td>
        <td><%= compare.head_away_player_fga %></td>
        <td><%= compare.head_away_player_p %></td>
        <td><%= compare.head_away_player_pa %></td>
        <td><%= compare.head_away_player_ft %></td>
        <td><%= compare.head_away_player_fta %></td>
        <td><%= compare.head_away_player_orb %></td>
        <td><%= compare.head_away_player_stl %></td>
        <td><%= compare.head_away_player_blk %></td>
        <td><%= compare.head_away_player_tov %></td>
        <td><%= compare.head_away_player_pts %></td>
        <td><%= (compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb).round(3) %></td>
        <td><%= compare.head_away_player_pts/(compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb) %></td>
      </tr>
      <tr class="gray">
        <td style="background: #fa0;"><u>LAST YEAR 16-17</u></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% if compare.first_home_player_age %>
      <tr>
        <td><%= compare.first_home_player_name %></td>
        <td><%= compare.first_home_player_age %></td>
        <td><%= compare.first_home_player_gp %></td>
        <td><%= compare.first_home_player_gs %></td>
        <td><%= compare.first_home_player_mp %></td>
        <td><%= compare.first_home_player_fg %></td>
        <td><%= compare.first_home_player_fga %></td>
        <td><%= compare.first_home_player_p %></td>
        <td><%= compare.first_home_player_pa %></td>
        <td><%= compare.first_home_player_ft %></td>
        <td><%= compare.first_home_player_fta %></td>
        <td><%= compare.first_home_player_orb %></td>
        <td><%= compare.first_home_player_stl %></td>
        <td><%= compare.first_home_player_blk %></td>
        <td><%= compare.first_home_player_tov %></td>
        <td><%= compare.first_home_player_pts %></td>
        <td><%= (compare.first_home_player_fga + compare.first_home_player_tov + (compare.first_home_player_fta * 0.44) - compare.first_home_player_orb).round(3) %></td>
        <td><%= compare.first_home_player_pts/(compare.first_home_player_fga + compare.first_home_player_tov + (compare.first_home_player_fta * 0.44) - compare.first_home_player_orb) %></td>
        <% if compare.first_away_player_age %>
        <td rowspan="2"><%= compare.first_home_player_pts/(compare.first_home_player_fga + compare.first_home_player_tov + (compare.first_home_player_fta * 0.44) - compare.first_home_player_orb) + compare.first_away_player_pts / (compare.first_away_player_fga + compare.first_away_player_tov + (compare.first_away_player_fta * 0.44) - compare.first_away_player_orb) %></td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
      <% end %>
      <% if compare.first_away_player_age %>
      <tr>
        <td><%= compare.first_away_player_name %></td>
        <td><%= compare.first_away_player_age %></td>
        <td><%= compare.first_away_player_gp %></td>
        <td><%= compare.first_away_player_gs %></td>
        <td><%= compare.first_away_player_mp %></td>
        <td><%= compare.first_away_player_fg %></td>
        <td><%= compare.first_away_player_fga %></td>
        <td><%= compare.first_away_player_p %></td>
        <td><%= compare.first_away_player_pa %></td>
        <td><%= compare.first_away_player_ft %></td>
        <td><%= compare.first_away_player_fta %></td>
        <td><%= compare.first_away_player_orb %></td>
        <td><%= compare.first_away_player_stl %></td>
        <td><%= compare.first_away_player_blk %></td>
        <td><%= compare.first_away_player_tov %></td>
        <td><%= compare.first_away_player_pts %></td>
        <td><%= (compare.first_away_player_fga + compare.first_away_player_tov + (compare.first_away_player_fta * 0.44) - compare.first_away_player_orb).round(3) %></td>
        <td><%= compare.first_away_player_pts / (compare.first_away_player_fga + compare.first_away_player_tov + (compare.first_away_player_fta * 0.44) - compare.first_away_player_orb) %></td>
        <% if !compare.first_home_player_age %>
          <td></td>
        <% end %>
      </tr>
      <% end %>
      <tr class="gray">
        <td style="background: #9ce168;"><u>THIS YEAR 17-18</u></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= compare.second_home_player_name %></td>
        <td><%= compare.second_home_player_age %></td>
        <td><%= compare.second_home_player_gp %></td>
        <td><%= compare.second_home_player_gs %></td>
        <td><%= compare.second_home_player_mp %></td>
        <td><%= compare.second_home_player_fg %></td>
        <td><%= compare.second_home_player_fga %></td>
        <td><%= compare.second_home_player_p %></td>
        <td><%= compare.second_home_player_pa %></td>
        <td><%= compare.second_home_player_ft %></td>
        <td><%= compare.second_home_player_fta %></td>
        <td><%= compare.second_home_player_orb %></td>
        <td><%= compare.second_home_player_stl %></td>
        <td><%= compare.second_home_player_blk %></td>
        <td><%= compare.second_home_player_tov %></td>
        <td><%= compare.second_home_player_pts %></td>
        <td><%= (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb).round(3) %></td>
        <td><%= compare.second_home_player_pts/ (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb) %></td>
        <td rowspan="2"><%= compare.second_home_player_pts/ (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb) + compare.second_away_player_pts/(compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb) %></td>
      </tr>
      <tr>
        <td><%= compare.second_away_player_name %></td>
        <td><%= compare.second_away_player_age %></td>
        <td><%= compare.second_away_player_gp %></td>
        <td><%= compare.second_away_player_gs %></td>
        <td><%= compare.second_away_player_mp %></td>
        <td><%= compare.second_away_player_fg %></td>
        <td><%= compare.second_away_player_fga %></td>
        <td><%= compare.second_away_player_p %></td>
        <td><%= compare.second_away_player_pa %></td>
        <td><%= compare.second_away_player_ft %></td>
        <td><%= compare.second_away_player_fta %></td>
        <td><%= compare.second_away_player_orb %></td>
        <td><%= compare.second_away_player_stl %></td>
        <td><%= compare.second_away_player_blk %></td>
        <td><%= compare.second_away_player_tov %></td>
        <td><%= compare.second_away_player_pts %></td>
        <td><%= (compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb).round(3) %></td>
        <td><%= compare.second_away_player_pts/(compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb) %></td>
      </tr>
      <tr class="gray" style="height: 20px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %>
<script>
  var obj = <%= @away_players_group1 %>;
  console.log(obj)
</script>
