<table border="1">
  	<thead>
  		<tr>
	  		<th></th>
	      	<th></th>
	      	<th>Days rest</th>
	  		<th colspan="6">TODAYS GAMES</th>
	  		<th>Days rest</th>
        <th></th>
	    </tr>
	  	<tr>
	  		<th>Game ID</th>
	      	<th class="red">Time</th>
	      	<th class="red">Last Game</th>
	      	<th class="red">Away Team</th>
	  		<th class="red">Next Game</th>
	  		<th class="red"></th>
	  		<th class="red">Next Game</th>
        <th>FLY</th>
	  		<th class="red">Home Team</th>
	  		<th class="red">Last Game</th>
        <th>FLY</th>
	    </tr>
  	</thead>
  	<tbody>
    <% @games.each_with_index do |game, index| %>
    <tr>
      <td class="green">Game <%= (index + 1) %></td>
      <td class="grey"><%= DateTime.parse(game.game_date).strftime("%I:%M%p") %></td>
      <td class="yellow"><%= game.away_last_game %></td>
      <td><%= game.away_team %></td>
      <td class="yellow"><%= game.away_next_game %></td>
      <td class="red">@</td>
      <td class="yellow"><%= game.home_next_game %></td>
      <td class="green"><%= game.home_next_fly %></td>
      <td><%= game.home_team %></td>
      <td class="yellow"><%= game.home_last_game %></td>
      <td class="green"><%= game.home_last_fly %></td>
    </tr>
    <% end %>
  	</tbody>
</table>