<% content_for :title, @head + " Matchups" %>
<div class="header row">
  <h1><%= @head + " Matchups"%></h1>
</div>

<ul>
  <li><%= link_to 'Home', { action: 'home' }%></li>
</ul>
<div class="dateselect" style="text-align: center;">
  <button class="btn btn-primary prevbutton" style="margin:10px; padding: 5px 20px;">Prev Day</button>
  <button class="btn btn-primary nextbutton" style="margin:10px; padding: 5px 20px;">Next Day</button>
  <input type="text" data-toggle="daterangepicker" name="timestamp" data-filter-type="date-range" style="width: 400px; text-align:center; margin: 20px;" class="daterange">
</div>
<script type="text/javascript">
  var start = moment("<%= @game_start_index %>").format('MMM DD, YYYY');
  var end = moment("<%= @game_end_index %>").format('MMM DD, YYYY') ;
  $('.daterange').daterangepicker({
    showDropdowns: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Next 7 Days': [moment(), moment().add(6, 'days')],
           'This Week': [moment().startOf('week'), moment().endOf('week')],
           'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')]
        },
        locale: {
      format: 'MMM DD, YYYY'
    },
        startDate: start,
        endDate: end,
    }, cb);
    function cb(start, end) {
      window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    }
    $('.prevbutton').click(function(){
        var start = moment("<%= @game_start_index %>").subtract(1, 'days');
    var end = moment("<%= @game_end_index %>").subtract(1, 'days');
    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
        window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    }); 
    $('.nextbutton').click(function(){
        var start = moment("<%= @game_start_index %>").add(1, 'days');
    var end = moment("<%= @game_end_index %>").add(1, 'days');
    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
        window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    });
</script>

<table border="1">
  	<thead>
  		<tr>
	  		<th></th>
	      	<th></th>
	      	<th>Days<br>rest</th>
	  		<th colspan="8">TODAYS GAMES</th>
	  		<th>Days<br>rest</th>
        <th></th>
        <th></th>
        <th>home + away</th>
        <th>only for one</th>
        <th>home + away</th>
        <th>only one</th>
        <th>home + away</th>
        <th>home + away</th>
        <th>only one</th>
        <th>only one</th>
        <th>home + away</th>
        <th>home + away</th>
        <th>home + away</th>
        <th>only one</th>
        <th>only one</th>
        <th class="gray">Days until</th>
        <th class="gray">Days until</th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="skyblue" style="border-right: 5px solid #666;"></th>

        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th colspan="7">1H STATS</th>
        <th></th>
        <th></th>
        <th class="purple"></th>
        <th colspan="3">LINES</th>

        <th class="black"></th>

        <th colspan="4"></th>
        <th class="black"></th>
        <th></th>
        <th class="black"></th>
        <th colspan="4"></th>
        <th class="black"></th>
        <th colspan="5" style="border-right: 5px solid #666;"></th>
	    </tr>
	  	<tr>
	  		<th>Game ID</th>
	      	<th class="red">Time</th>
	      	<th class="red">Last<br>Game</th>
	      	<th class="red">Away Team</th>
	  		<th class="red">Next<br>Game</th>
	  		<th class="red" colspan="3"></th>
	  		<th class="red">Next<br>Game</th>
        <th>FLY</th>
	  		<th class="red">Home Team</th>
	  		<th class="red">Last<br>Game</th>
        <th>FLY</th>
        <th class="red"></th>
        <th class="red">STL</th>
        <th class="red">BLK</th>
        <th class="red">TO's</th>
        <th class="red">Poss</th>
        <th class="red">1h</th>
        <th class="red">2h</th>
        <th class="red">1h</th>
        <th class="red">2h</th>
        <th class="red">OReb</th>
        <th class="red">Opp 1h</th>
        <th class="red">Opp 2h</th>
        <th class="red">Opp 1h</th>
        <th class="red">Opp 2h</th>
        <th class="gray">Last game home</th>
        <th class="gray">Next game home</th>
        <th class="gray">PPG rank</th>
        <th class="gray">OPP PPG rank</th>
        <th class="gray">Wins rank</th>
        <th class="gray">PPG + OPP PPG</th>
        <th class="gray"></th>
        <th class="skyblue" style="border-right: 5px solid #666;"></th>

        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="red">1H<br>FGA</th>
        <th class="red">1H<br>FTA</th>
        <th class="red">1H<br>ORB</th>
        <th class="red">1H<br>TO</th>
        <th class="red">1H<br>STL</th>
        <th class="red">1H<br>BLK</th>
        <th class="darkred">1H<br>poss's</th>
        <th class="red">2H<br>poss</th>
        <th class="red">FG<br>poss</th>
        <th class="purple"></th>
        <th class="red">1H</th>
        <th class="red">EST<br>2H</th>
        <th class="red">FG</th>

        <th class="black"></th>

        <th class="red" colspan="4">FULL GAME</th>
        <th class="black"></th>
        <th class="red"></th>
        <th class="black"></th>
        <th class="red" colspan="4">1ST HALF</th>
        <th class="black"></th>
        <th class="red" colspan="5" style="border-right: 5px solid #666;">2ND HALF</th>
	    </tr>
  	</thead>
  	<tbody>
    <% @games.each_with_index do |game, index| 
      @home_team_info = Team.find_by(abbr: game.home_abbr)
      @away_team_info = Team.find_by(abbr: game.away_abbr)
    %>
    <tr style="border-top: 5px solid black">
      <td class="green" rowspan="3"><%= game.away_number %> / <%= game.home_number %></td>
      <td class="grey" rowspan="3"><%= game.time %></td>
      <td class="yellow" rowspan="3"><%= game.away_last_game %></td>
      <td rowspan="3"><%= game.away_team %></td>
      <td class="yellow" rowspan="3"><%= game.away_next_game %></td>
      <td class="red" rowspan="3"><%= link_to '@', { action: 'detail', id: game.game_id }%></td>
      <td class="red" rowspan="3"><%= link_to 'State', { action: 'state', id: game.game_id }%></td>
      <td class="red" rowspan="3"><%= link_to 'Filter', { action: 'rest', id: game.game_id }%></td>
      <td class="yellow" rowspan="3"><%= game.home_next_game %></td>
      <td class="green" rowspan="3"><%= game.home_next_fly %></td>
      <td rowspan="3"><%= game.home_team %></td>
      <td class="yellow" rowspan="3"><%= game.home_last_game %></td>
      <td class="green" rowspan="3"><%= game.home_last_fly %></td>

      <td class="red"><%= game.away_abbr %></td>

      <td class="red"><%= @away_team_info.steal_current %></td>
      <td class="red"><%= @away_team_info.block_away %></td>
      <td class="red"><%= @away_team_info.turnover_current %></td>
      <td class="red"><%= @away_team_info.possessions_away %></td>
      <td class="skyblue"><%= @away_team_info.first_current %></td>
      <td class="skyblue"><%= @away_team_info.second_current %></td>
      <td class="skyblue"><%= @away_team_info.first_away %></td>
      <td class="skyblue"><%= @away_team_info.second_away %></td>
      <td class="skyblue"><%= @away_team_info.rebound_current %></td>
      <td class="red"><%= @away_team_info.opponentfirst_current %></td>
      <td class="red"><%= @away_team_info.opponentsecond_current %></td>
      <td class="red"><%= @away_team_info.opponentfirst_away %></td>
      <td class="red"><%= @away_team_info.opponentsecond_away %></td>

 <% @countItem = Fullseason.where("awaylastfly = ? AND awaynextfly = ? AND roadlast = ? AND roadnext = ? AND homenext = ? AND homelast = ? AND homenextfly = ? AND homelastfly = ?", game.away_last_fly, game.away_next_fly, game.away_last_game, game.away_next_game, game.home_next_game, game.home_last_game, game.home_next_fly, game.home_last_fly) %>

      <td class="gray" rowspan="2"><%= game.away_last_home %></td>
      <td class="gray" rowspan="2"><%= game.away_next_home %></td>
      <td class="gray"><%= game.away_ppg_rank %></td>
      <td class="gray"><%= game.away_oppppg_rank %></td>
      <td class="gray"><%= game.away_win_rank %></td>
      <td class="green"><%= game.away_ppg_rank + (30 - game.away_oppppg_rank) %></td>
      <%
        roadtotal = @countItem ? (@countItem.average(:roadfirsthalf).to_f + @countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f) : 0
        hometotal = @countItem ? (@countItem.average(:homefirsthalf).to_f + @countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f) : 0
      %>
      <td class="red"><%= @countItem ? (roadtotal - hometotal).round(2) : "" %></td>
      <td class="skyblue" style="border-right: 5px solid #666;"></td>

      <td class="gray">Any</td>
      <td class="skygreen"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="skygreen"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="skygreen"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="skygreen"></td>
      <td>99.09</td>
      <td>97.01</td>
      <td>196.1</td>
      <td>20904</td>

        <td><%= game.first_away_fga %></td>
      <td><%= game.first_away_fta %></td>
      <td><%= game.first_away_orValue %></td>
      <td><%= game.first_away_toValue %></td>
      <td><%= game.first_away_stl %></td>
      <td><%= game.first_away_blk %></td>
      <% if game.first_away_fga && game.first_away_toValue && game.first_away_fta && game.first_away_orValue %>
      <td class="green"><%= (game.first_away_fga + game.first_away_toValue + (game.first_away_fta * 0.44) - game.first_away_orValue).round(2) %></td>
      <% else %>
      <td class="green"></td>
      <% end %>
      <% if game.first_away_fga && game.first_away_toValue && game.first_away_fta && game.first_away_orValue && game.away_fga && game.away_toValue && game.away_fta && game.away_orValue %>
      <td><%= (game.away_fga + game.away_toValue + (game.away_fta * 0.44) - game.away_orValue - game.first_away_fga - game.first_away_toValue - (game.first_away_fta * 0.44) + game.first_away_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <% if game.away_fga && game.away_toValue && game.away_fta && game.away_orValue %>
      <td><%= (game.away_fga + game.away_toValue + (game.away_fta * 0.44) - game.away_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <td class="purple">Total</td>
      <td><%= game.first_closer_total %></td>
      <td><%= game.second_closer_total != 0 ? game.second_closer_total : (game.full_closer_total - game.first_closer_total) %></td>
      <td><%= game.full_closer_total %></td>

      <td class="black"></td>

      <td><%= @countItem ? roadtotal.round(2) : "" %></td>
        <td><%= @countItem ? hometotal.round(2) : "" %></td>
        <td class="purple"><%= @countItem ? (roadtotal + hometotal).round(2) : "" %></td>
        <td><%= @countItem ? (roadtotal - hometotal).round(2) : "" %></td>
        <td rowspan="3" class="black"></td>
        <td style="background: #fa0"><%= @countItem ? @countItem.count(:totalpoint).to_i : "" %></td>
        <td rowspan="3" class="black"></td>
        <td><%= @countItem ? @countItem.average(:roadfirsthalf).to_f.round(2) : "" %></td>
        <td><%= @countItem ? @countItem.average(:homefirsthalf).to_f.round(2) : "" %></td>
        <td class="purple"><%= @countItem ? (@countItem.average(:roadfirsthalf).to_f + @countItem.average(:homefirsthalf).to_f).round(2) : "" %></td>
        <td><%= @countItem ? (@countItem.average(:roadfirsthalf).to_f - @countItem.average(:homefirsthalf).to_f).round(2) : "" %></td>
        <td rowspan="3" class="black"></td>
        <td><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f).round(2) : "" %></td>
        <td><%= @countItem ? (@countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f).round(2) : "" %></td>
        <td class="purple"><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f + @countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f).round(2) : "" %></td>
        <td><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f - @countItem.average(:homethird).to_f - @countItem.average(:homeforth).to_f).round(2) : "" %></td>
        <td style="border-right: 5px solid #666;">1</td>
    </tr>
    <tr>
      <td class="red" ><%= game.home_abbr %></td>

      <td class="red"><%= @home_team_info.steal_current %></td>
      <td class="red"><%= @home_team_info.block_home %></td>
      <td class="red"><%= @home_team_info.turnover_current %></td>
      <td class="red"><%= @home_team_info.possessions_home %></td>
      <td class="skyblue"><%= @home_team_info.first_current %></td>
      <td class="skyblue"><%= @home_team_info.second_current %></td>
      <td class="skyblue"><%= @home_team_info.first_home %></td>
      <td class="skyblue"><%= @home_team_info.second_home %></td>
      <td class="skyblue"><%= @home_team_info.rebound_current %></td>
      <td class="red"><%= @home_team_info.opponentfirst_current %></td>
      <td class="red"><%= @home_team_info.opponentsecond_current %></td>
      <td class="red"><%= @home_team_info.opponentfirst_home %></td>
      <td class="red"><%= @home_team_info.opponentsecond_home %></td>

      <td class="gray"><%= game.home_ppg_rank %></td>
      <td class="gray"><%= game.home_oppppg_rank %></td>
      <td class="gray"><%= game.home_win_rank %></td>
      <td class="green"><%= game.home_ppg_rank + (30 - game.home_oppppg_rank) %></td>
      <td class="yellow"><%= @countItem ? (roadtotal + hometotal - 196.09).round(2) : "" %></td>
      <td class="skyblue" style="border-right: 5px solid #666;"></td>

      <td class="gray">
        <div style="width: 90px;">
          <%= game.away_last_fly[0] + "-" + game.away_next_fly[0] + "-" + game.away_last_game.to_s + "-" + game.away_next_game.to_s + "-" + game.home_next_game.to_s + "-" + game.home_last_game.to_s + "-" + game.home_next_fly[0] + "-" + game.home_last_fly[0] %>
        </div>
      </td>
      <td class="skygreen"></td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="skygreen"></td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="skygreen"></td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="skygreen"></td>
      <%
        search_string = []
        search_string.push("awaylastfly = '#{game.away_last_fly}'")
        search_string.push("awaynextfly = '#{game.away_next_fly}'")
        search_string.push("roadlast = '#{game.away_last_game}'")
        search_string.push("roadnext = '#{game.away_next_game}'")
        search_string.push("homenext = '#{game.home_next_game}'")
        search_string.push("homelast = '#{game.home_last_game}'")
        search_string.push("homenextfly = '#{game.home_next_fly}'")
        search_string.push("homelastfly = '#{game.home_last_fly}'")
        search_string = search_string.join(" AND ")
        filter_element = Fullseason.where(search_string)
        result_element_first = filter_element.average(:firstpoint).to_f.round(2)
        result_element_second = filter_element.average(:secondpoint).to_f.round(2)
        result_element_full = filter_element.average(:totalpoint).to_f.round(2)
        result_element_count = filter_element.count(:totalpoint).to_i
      %>
      <td><%= result_element_first %></td>
      <td><%= result_element_second %></td>
      <td><%= result_element_full %></td>
      <td><%= result_element_count %></td>

      <td><%= game.first_home_fga %></td>
      <td><%= game.first_home_fta %></td>
      <td><%= game.first_home_orValue %></td>
      <td><%= game.first_home_toValue %></td>
      <td><%= game.first_home_stl %></td>
      <td><%= game.first_home_blk %></td>
      <% if game.first_home_fga && game.first_home_toValue && game.first_home_fta && game.first_home_orValue %>
      <td class="green"><%= (game.first_home_fga + game.first_home_toValue + (game.first_home_fta * 0.44) - game.first_home_orValue).round(2) %></td>
      <% else %>
      <td class="green"></td>
      <% end %>
      <% if game.first_home_fga && game.first_home_toValue && game.first_home_fta && game.first_home_orValue && game.home_fga && game.home_toValue && game.home_fta && game.home_orValue %>
      <td><%= (game.home_fga + game.home_toValue + (game.home_fta * 0.44) - game.home_orValue - game.first_home_fga - game.first_home_toValue - (game.first_home_fta * 0.44) + game.first_home_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <% if game.home_fga && game.home_toValue && game.home_fta && game.home_orValue %>
      <td><%= (game.home_fga + game.home_toValue + (game.home_fta * 0.44) - game.home_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <td class="purple">Sides</td>
      <td><%= game.first_closer_side %></td>
      <td><%= game.second_closer_side != 0 ? game.second_closer_side : (game.full_closer_side - game.first_closer_side) %></td>
      <td><%= game.full_closer_side %></td>
      
      <td class="black"></td>

      <td style="background: #fa0">96.52</td>
      <td style="background: #fa0">99.57</td>
      <td class="purple">196.09</td>
      <td style="background: #fa0">-3.05</td>
      <td style="background: #fa0">20904</td>
      <td style="background: #fa0">48.62</td>
      <td style="background: #fa0">50.47</td>
      <td class="purple">99.09</td>
      <td style="background: #fa0">-1.85</td>
      <td style="background: #fa0">47.9</td>
      <td style="background: #fa0">49.1</td>
      <td class="purple">97</td>
      <td style="background: #fa0">-1.2</td>
      <td style="background: #fa0; border-right: 5px solid #666;">ALL</td>
    </tr>
    <tr>
      <td class="skyblue"><%= game.away_abbr %></td>

      <td class="skyblue"><%= (@away_team_info.steal_current + @home_team_info.steal_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.block_away + @home_team_info.block_home).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.turnover_current + @home_team_info.turnover_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.possessions_away + @home_team_info.possessions_home).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.first_current + @home_team_info.first_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.second_current + @home_team_info.second_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.first_away + @home_team_info.first_home).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.second_away + @home_team_info.second_home).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.rebound_current + @home_team_info.rebound_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentfirst_current + @home_team_info.opponentfirst_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentsecond_current + @home_team_info.opponentsecond_current).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentfirst_away + @home_team_info.opponentfirst_home).round(1) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentsecond_away + @home_team_info.opponentsecond_home).round(1) %></td>

      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="skyblue" style="border-right: 5px solid #666;"></td>

      <td></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="gray"><%= @countItem ? @countItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @countItem ? @countItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @countItem ? @countItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @countItem ? @countItem.count(:totalvalue).to_i : "" %></td>

      <td class="skyblue"><%= game.away_first_quarter %></td>
      <td class="skyblue"><%= game.away_second_quarter %></td>
      <td class="skyblue"><%= game.away_third_quarter %></td>
      <td class="skyblue"><%= game.away_forth_quarter %></td>
      <td class="skyblue"><%= game.home_abbr %></td>
      <td class="skyblue"><%= game.home_first_quarter %></td>
      <td class="skyblue"><%= game.home_second_quarter %></td>
      <td class="skyblue"><%= game.home_third_quarter %></td>
      <td class="skyblue"><%= game.home_forth_quarter %></td>
      <td class="purple"></td>
      <td class="purple"></td>
      <td class="purple"></td>
      <td class="purple"></td>
      
      <td class="black"></td>

      <td class="gray"></td>
      <td class="gray"></td>
      <td class="purple"><%= @countItem ? @countItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td class="gray"></td>
      <td style="background: #fa0"><%= @countItem ? @countItem.count(:totalvalue).to_i : "" %></td>
      <td class="gray"></td>
      <td class="gray"></td>
      <td class="purple"><%= @countItem ? @countItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td class="gray"></td>
      <td class="gray"></td>
      <td class="gray"></td>
      <td class="purple"><%= @countItem ? @countItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td class="gray"></td>
      <td class="gray" style="border-right: 5px solid #666;"></td>
    </tr>
    <% end %>
  	</tbody>
</table>

<div style="
    position: absolute;
    top: 10px;
    left: 10px;
">
  <button class="btn btn-danger refreshbutton">Refresh</button>
</div>
  
<script>
 $('.refreshbutton').click(function(){
    window.location.href = window.location.href;
  });
</script>