<% content_for :title, @head + " Matchups" %>
<div class="header row">
  <h1><%= @head + " Matchups"%></h1>
</div>

<ul>
  <li><%= link_to 'Home', { action: 'home' }%></li>
</ul>
<div class="dateselect" style="text-align: center;">
  <button class="btn btn-primary prevbutton" style="margin:10px; padding: 5px 20px;">Prev Day</button>
  <button class="btn btn-primary nextbutton" style="margin:10px; padding: 5px 20px;">Next Day</button>
  <input type="text" data-toggle="daterangepicker" name="timestamp" data-filter-type="date-range" style="width: 400px; text-align:center; margin: 20px;" class="daterange">
</div>
<script type="text/javascript">
  var start = moment("<%= @game_start_index %>").format('MMM DD, YYYY');
  var end = moment("<%= @game_end_index %>").format('MMM DD, YYYY') ;
  $('.daterange').daterangepicker({
    showDropdowns: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Next 7 Days': [moment(), moment().add(6, 'days')],
           'This Week': [moment().startOf('week'), moment().endOf('week')],
           'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')]
        },
        locale: {
      format: 'MMM DD, YYYY'
    },
        startDate: start,
        endDate: end,
    }, cb);
    function cb(start, end) {
      window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    }
    $('.prevbutton').click(function(){
        var start = moment("<%= @game_start_index %>").subtract(1, 'days');
    var end = moment("<%= @game_end_index %>").subtract(1, 'days');
    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
        window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    }); 
    $('.nextbutton').click(function(){
        var start = moment("<%= @game_start_index %>").add(1, 'days');
    var end = moment("<%= @game_end_index %>").add(1, 'days');
    $('.daterange').val(start.format('MMM DD, YYYY') + ' - ' + end.format('MMM DD, YYYY'));
        window.location.href = "/index/game/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    });
</script>

<table border="1">
  	<thead>
  		<tr>
	  		<th></th>
      	<th></th>
        <th></th>
        <th></th>
        <th></th>
      	<th>Days<br>rest</th>
	  		<th colspan="8">TODAYS GAMES</th>
	  		<th>Days<br>rest</th>
        <th></th>
        <th></th>
        <th>home + away</th>
        <th>only for one</th>
        <th>home + away</th>
        <th>only one</th>
        <th>home + away</th>
        <th>home + away</th>
        <th>only one</th>
        <th>only one</th>
        <th>home + away</th>
        <th>home + away</th>
        <th>home + away</th>
        <th>only one</th>
        <th>only one</th>
        <th class="gray">Days until</th>
        <th class="gray">Days until</th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="skyblue"></th>

        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="skyblue"></th>

        <th colspan="7">1H STATS</th>
        <th></th>
        <th></th>
        <th class="purple"></th>
        <th colspan="3">LINES</th>

        <th class="black"></th>

        <th colspan="4"></th>
        <th class="black"></th>
        <th></th>
        <th class="black"></th>
        <th colspan="4"></th>
        <th class="black"></th>
        <th colspan="5"></th>
        <th class="black"></th>
        <th class="red"></th>
        <th class="red"></th>
        <th class="red"></th>
        <th class="black"></th>

        <th class="gray"></th>
        <th class="gray"></th>
        <th class="red"></th>
        <th></th>
        <th class="purple"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="gray"></th>
        <th class="red"></th>
        <th></th>
        <th></th>

        <th class="black"></th>

        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
	    </tr>
	  	<tr>
	  		<th>Game ID</th>
      	<th class="red">Time</th>
        <th class="red">EST Time</th>
        <th class="red">TV Station</th>
        <th class="red">Game Count</th>
      	<th class="red">Last<br>Game</th>
      	<th class="red">Away Team</th>
	  		<th class="red">Next<br>Game</th>
	  		<th class="red" colspan="3"></th>
	  		<th class="red">Next<br>Game</th>
        <th>FLY</th>
	  		<th class="red">Home Team</th>
	  		<th class="red">Last<br>Game</th>
        <th>FLY</th>
        <th class="red"></th>
        <th class="red">Average STL of Last 12 Games</th>
        <th class="red">Average BLK of Last 12 Games</th>
        <th class="red">Average TO's of Last 12 Games</th>
        <th class="red">Poss</th>
        <th class="red">1h</th>
        <th class="red">2h</th>
        <th class="red">1h</th>
        <th class="red">2h</th>
        <th class="red">OReb</th>
        <th class="red">Opp 1h</th>
        <th class="red">Opp 2h</th>
        <th class="red">Opp 1h</th>
        <th class="red">Opp 2h</th>
        <th class="gray">Last game home</th>
        <th class="gray">Next game home</th>
        <th class="gray">PPG rank</th>
        <th class="gray">OPP PPG rank</th>
        <th class="gray">Wins rank</th>
        <th class="gray">PPG + OPP PPG</th>
        <th class="gray"></th>
        <th class="skyblue"></th>

        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="red">1st half</th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="red">2nd half</th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="purple"></th>
        <th class="skyblue"></th>
        <th class="red">1H<br>FGA</th>
        <th class="red">1H<br>FTA</th>
        <th class="red">1H<br>ORB</th>
        <th class="red">1H<br>TO</th>
        <th class="red">1H<br>STL</th>
        <th class="red">1H<br>BLK</th>
        <th class="darkred">1H<br>poss's</th>
        <th class="red">2H<br>poss</th>
        <th class="red">FG<br>poss</th>
        <th class="purple"></th>
        <th class="red">1H</th>
        <th class="red">EST<br>2H</th>
        <th class="red">FG</th>

        <th class="black"></th>

        <th class="red" colspan="4">FULL GAME</th>
        <th class="black"></th>
        <th class="red"></th>
        <th class="black"></th>
        <th class="red" colspan="4">1ST HALF</th>
        <th class="black"></th>
        <th class="red" colspan="5">2ND HALF</th>
        <th class="black"></th>
        <th class="red">ave</th>
        <th class="red">lines</th>
        <th class="red">count</th>
        <th class="black"></th>
        <th class="gray">Referee</th>
        <th class="gray">Last game</th>
        <th class="red">Last game total</th>
        <th>Lines</th>
        <th class="purple"></th>
        <th class="gray">gms for last 3 years</th>
        <th class="gray">1h</th>
        <th class="gray">2h</th>
        <th class="red"></th>
        <th>1h lines</th>
        <th>2h lines</th>
        <th class="black"></th>
        <td class="gray">fg total point</td>
        <td class="gray">total lines</td>
        <td class="gray"></td>
        <td class="gray">1h total pts</td>
        <td class="gray">1h total lines</td>
        <td class="gray">2h total pts</td>
        <td class="gray">2h total lines</td>
	    </tr>
  	</thead>
  	<tbody>
    <% @games.each_with_index do |game, index| 
      @home_team_info = Team.find_by(abbr: game.home_abbr)
      @away_team_info = Team.find_by(abbr: game.away_abbr)
      next unless @home_team_info
      next unless @away_team_info

      referee_one_last = game.referee_one_last
      referee_two_last = game.referee_two_last
      referee_three_last = game.referee_three_last
      referee_one_next = game.referee_one_next
      referee_two_next = game.referee_two_next
      referee_three_next = game.referee_three_next

      referee_one_last = 200 if referee_one_last == nil
      referee_two_last = 200 if referee_two_last == nil
      referee_three_last = 200 if referee_three_last == nil
      referee_one_next = 200 if referee_one_next == nil
      referee_two_next = 200 if referee_two_next == nil
      referee_three_next = 200 if referee_three_next == nil

      if referee_one_last > referee_two_last
        temp = referee_one_last
        referee_one_last = referee_two_last
        referee_two_last = temp
      end

      if referee_one_last > referee_three_last
        temp = referee_one_last
        referee_one_last = referee_three_last
        referee_three_last = temp
      end

      if referee_two_last > referee_three_last
        temp = referee_two_last
        referee_two_last = referee_three_last
        referee_three_last = temp
      end

      if referee_one_last > 8
        referee_one_last = "9+"
      elsif referee_one_last > 5
        referee_one_last = "6-8"
      else
        referee_one_last = referee_one_last.to_s
      end

      if referee_two_last > 8
        referee_two_last = "9+"
      elsif referee_two_last > 5
        referee_two_last = "6-8"
      else
        referee_two_last = referee_two_last.to_s
      end

      if referee_three_last > 8
        referee_three_last = "9+"
      elsif referee_three_last > 5
        referee_three_last = "6-8"
      else
        referee_three_last = referee_three_last.to_s
      end

      @referee_last_part = Refereestatic.where("referee_one = ? AND referee_two = ? AND referee_three = ?", referee_one_last, referee_two_last, referee_three_last).first

      if referee_one_next > referee_two_next
        temp = referee_one_next
        referee_one_next = referee_two_next
        referee_two_next = temp
      end

      if referee_one_next > referee_three_next
        temp = referee_one_next
        referee_one_next = referee_three_next
        referee_three_next = temp
      end

      if referee_two_next > referee_three_next
        temp = referee_two_next
        referee_two_next = referee_three_next
        referee_three_next= temp
      end

      if referee_one_next > 8
        referee_one_next = "9+"
      elsif referee_one_next > 5
        referee_one_next = "6-8"
      else
        referee_one_next = referee_one_next.to_s
      end

      if referee_two_next > 8
        referee_two_next = "9+"
      elsif referee_two_next > 5
        referee_two_next = "6-8"
      else
        referee_two_next = referee_two_next.to_s
      end

      if referee_three_next > 8
        referee_three_next = "9+"
      elsif referee_three_next > 5
        referee_three_next = "6-8"
      else
        referee_three_next = referee_three_next.to_s
      end

      @referee_next_part = Refereestatic.where("referee_one = ? AND referee_two = ? AND referee_three = ?", referee_one_next, referee_two_next, referee_three_next).first

      @referee_first = Referee.where("referee_one = ?", game.referee_one).or(Referee.where("referee_two = ?", game.referee_one).or(Referee.where("referee_three = ?", game.referee_one)))
      @referee_second = Referee.where("referee_one = ?", game.referee_two).or(Referee.where("referee_two = ?", game.referee_two).or(Referee.where("referee_three = ?", game.referee_two)))
      @referee_third = Referee.where("referee_one = ?", game.referee_three).or(Referee.where("referee_two = ?", game.referee_three).or(Referee.where("referee_three = ?", game.referee_three)))

      @referee_part_one_last = Referee.where("referee_one = ? AND id < 43558", game.referee_one).or(Referee.where("referee_two = ? AND id < 43558", game.referee_one).or(Referee.where("referee_three = ? AND id < 43558", game.referee_one).or(Referee.where("referee_one = ? AND id > 61549", game.referee_one).or(Referee.where("referee_two = ? AND id > 61549", game.referee_one).or(Referee.where("referee_three = ? AND id > 61549", game.referee_one))))))
      @referee_part_two_last = Referee.where("referee_one = ? AND id < 43558", game.referee_two).or(Referee.where("referee_two = ? AND id < 43558", game.referee_two).or(Referee.where("referee_three = ? AND id < 43558", game.referee_two).or(Referee.where("referee_one = ? AND id > 61549", game.referee_two).or(Referee.where("referee_two = ? AND id > 61549", game.referee_two).or(Referee.where("referee_three = ? AND id > 61549", game.referee_two))))))
      @referee_part_three_last = Referee.where("referee_one = ? AND id < 43558", game.referee_three).or(Referee.where("referee_two = ? AND id < 43558", game.referee_three).or(Referee.where("referee_three = ? AND id < 43558", game.referee_three).or(Referee.where("referee_one = ? AND id > 61549", game.referee_three).or(Referee.where("referee_two = ? AND id > 61549", game.referee_three).or(Referee.where("referee_three = ? AND id > 61549", game.referee_three))))))
      @referee_past_count = @referee_part_one_last.count(:firstpoint).to_i + @referee_part_two_last.count(:firstpoint).to_i + @referee_part_three_last.count(:firstpoint).to_i
      @referee_past_line_count = @referee_part_one_last.count(:firstlinetotal).to_i + @referee_part_two_last.count(:firstlinetotal).to_i + @referee_part_three_last.count(:firstlinetotal).to_i
  

      @away_last_games = Nba.where("home_team = ? AND game_date < ?", game.away_team, game.game_date).or(Nba.where("away_team = ? AND game_date < ?", game.away_team, game.game_date)).order(game_date: :desc).limit(12)
      @away_stl = 0
      @away_blk = 0
      @away_to = 0
      @away_last_games.each do |last_game|
        if last_game.home_team == game.away_team
          @away_stl = @away_stl + last_game.home_stl.to_i
          @away_blk = @away_blk + last_game.home_blk.to_i
          @away_to = @away_to + last_game.home_toValue.to_i
        else
          @away_stl = @away_stl + last_game.away_stl.to_i
          @away_blk = @away_blk + last_game.away_blk.to_i
          @away_to = @away_to + last_game.away_toValue.to_i
        end
      end
      @away_count = @away_last_games.count
      if @away_count
        @away_stl = (@away_stl.to_f / @away_count).round(2)
        @away_blk = (@away_blk.to_f / @away_count).round(2)
        @away_to = (@away_to.to_f / @away_count).round(2)
      end

      @home_last_games = Nba.where("home_team = ? AND game_date < ?", game.home_team, game.game_date).or(Nba.where("away_team = ? AND game_date < ?", game.home_team, game.game_date)).order(game_date: :desc).limit(12)
      @home_stl = 0
      @home_blk = 0
      @home_to = 0
      @home_last_games.each do |last_game|
        if last_game.home_team == game.home_team
          @home_stl = @home_stl + last_game.home_stl.to_i
          @home_blk = @home_blk + last_game.home_blk.to_i
          @home_to = @home_to + last_game.home_toValue.to_i
        else
          @home_stl = @home_stl + last_game.away_stl.to_i
          @home_blk = @home_blk + last_game.away_blk.to_i
          @home_to = @home_to + last_game.away_toValue.to_i
        end
      end
      @home_count = @home_last_games.count
      if @home_count
        @home_stl = (@home_stl.to_f / @home_count).round(2)
        @home_blk = (@home_blk.to_f / @home_count).round(2)
        @home_to = (@home_to.to_f / @home_count).round(2)
      end
      @game_count = Nba.where('year = ? AND date = ?', game.year, game.date).size

    %>
    <tr style="border-top: 5px solid black">
      <td class="green" rowspan="3"><%= game.away_number %> / <%= game.home_number %></td>
      <td class="grey" rowspan="3"><%= game.time %></td>
      <td class="grey" rowspan="3"><%= game.est_time %></td>
      <td class="grey" rowspan="3"><%= game.tv_station %></td>
      <td class="grey" rowspan="3"><%= @game_count %></td>
      <td class="yellow" rowspan="3"><%= game.away_last_game %></td>
      <td rowspan="3"><%= game.away_team %></td>
      <td class="yellow" rowspan="3"><%= game.away_next_game %></td>
      <td class="red" rowspan="3"><%= link_to '@', { action: 'detail', id: game.game_id }%></td>
      <td class="red" rowspan="3"><%= link_to 'Stats', { action: 'state', id: game.game_id }%></td>
      <td class="red" rowspan="3"><%= link_to 'Filter', { action: 'rest', id: game.game_id }%></td>
      <td class="yellow" rowspan="3"><%= game.home_next_game %></td>
      <td class="green" rowspan="3"><%= game.home_next_fly %></td>
      <td rowspan="3"><%= game.home_team %></td>
      <td class="yellow" rowspan="3"><%= game.home_last_game %></td>
      <td class="green" rowspan="3"><%= game.home_last_fly %></td>

      <td class="red"><%= game.away_abbr %></td>

      <td class="red"><%= @away_stl %></td>
      <td class="red"><%= @away_blk %></td>
      <td class="red"><%= @away_to %></td>
      <td class="red"><%= @away_team_info.possessions_away %></td>
      <td class="skyblue"><%= @away_team_info.first_current %></td>
      <td class="skyblue"><%= @away_team_info.second_current %></td>
      <td class="skyblue"><%= @away_team_info.first_away %></td>
      <td class="skyblue"><%= @away_team_info.second_away %></td>
      <td class="skyblue"><%= @away_team_info.rebound_current %></td>
      <td class="red"><%= @away_team_info.opponentfirst_current %></td>
      <td class="red"><%= @away_team_info.opponentsecond_current %></td>
      <td class="red"><%= @away_team_info.opponentfirst_away %></td>
      <td class="red"><%= @away_team_info.opponentsecond_away %></td>

 <% @countItem = Fullseason.where("awaylastfly = ? AND awaynextfly = ? AND roadlast = ? AND roadnext = ? AND homenext = ? AND homelast = ? AND homenextfly = ? AND homelastfly = ?", game.away_last_fly, game.away_next_fly, game.away_last_game, game.away_next_game, game.home_next_game, game.home_last_game, game.home_next_fly, game.home_last_fly)
    @secondItem = Secondtravel.where("awaylastfly = ? AND awaynextfly = ? AND roadlast = ? AND roadnext = ? AND homenext = ? AND homelast = ? AND homenextfly = ? AND homelastfly = ?", game.away_last_fly, game.away_next_fly, game.away_last_game, game.away_next_game, game.home_next_game, game.home_last_game, game.home_next_fly, game.home_last_fly)
  %>

      <td class="gray" rowspan="2"><%= game.away_last_home %></td>
      <td class="gray" rowspan="2"><%= game.away_next_home %></td>
      <td class="gray"><%= game.away_ppg_rank %></td>
      <td class="gray"><%= game.away_oppppg_rank %></td>
      <td class="gray"><%= game.away_win_rank %></td>
      <td class="green"><%= game.away_ppg_rank + (30 - game.away_oppppg_rank) %></td>
      <%
        roadtotal = @countItem ? (@countItem.average(:roadfirsthalf).to_f + @countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f) : 0
        hometotal = @countItem ? (@countItem.average(:homefirsthalf).to_f + @countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f) : 0
      %>
      <td class="red"><%= @countItem ? (roadtotal - hometotal).round(2) : "" %></td>
      <td class="red"><%= game.away_abbr %></td>

      <td class="gray">Any</td>
      <td class="skygreen"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="red"><%= @referee_last_part ? @referee_last_part.last_first : '' %></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="red"><%= @referee_last_part ? @referee_last_part.last_second : '' %></td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="skygreen"></td>
      <td>99.09</td>
      <td>97.01</td>
      <td>196.1</td>
      <td>20904</td>
      <td class="red"><%= game.away_abbr %></td>

      <td><%= game.first_away_fga %></td>
      <td><%= game.first_away_fta %></td>
      <td><%= game.first_away_orValue %></td>
      <td><%= game.first_away_toValue %></td>
      <td><%= game.first_away_stl %></td>
      <td><%= game.first_away_blk %></td>
      <% if game.first_away_fga && game.first_away_toValue && game.first_away_fta && game.first_away_orValue %>
      <td class="green"><%= (game.first_away_fga + game.first_away_toValue + (game.first_away_fta * 0.44) - game.first_away_orValue).round(2) %></td>
      <% else %>
      <td class="green"></td>
      <% end %>
      <% if game.first_away_fga && game.first_away_toValue && game.first_away_fta && game.first_away_orValue && game.away_fga && game.away_toValue && game.away_fta && game.away_orValue %>
      <td><%= (game.away_fga + game.away_toValue + (game.away_fta * 0.44) - game.away_orValue - game.first_away_fga - game.first_away_toValue - (game.first_away_fta * 0.44) + game.first_away_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <% if game.away_fga && game.away_toValue && game.away_fta && game.away_orValue %>
      <td><%= (game.away_fga + game.away_toValue + (game.away_fta * 0.44) - game.away_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <td class="purple">Total</td>
      <td><%= game.first_closer_total %></td>
      <td><%= game.second_closer_total != 0 ? game.second_closer_total : (game.full_closer_total - game.first_closer_total) %></td>
      <td><%= game.full_closer_total %></td>

      <td class="black"></td>

      <td><%= @countItem ? roadtotal.round(2) : "" %></td>
      <td><%= @countItem ? hometotal.round(2) : "" %></td>
      <td class="purple"><%= @countItem ? @countItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td><%= @countItem ? (roadtotal - hometotal).round(2) : "" %></td>
      <td rowspan="3" class="black"></td>
      <td style="background: #fa0"><%= @countItem ? @countItem.count(:totalpoint).to_i : "" %></td>
      <td rowspan="3" class="black"></td>
      <td><%= @countItem ? @countItem.average(:roadfirsthalf).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.average(:homefirsthalf).to_f.round(2) : "" %></td>
      <td class="purple"><%= @countItem ? @countItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td><%= @countItem ? (@countItem.average(:roadfirsthalf).to_f - @countItem.average(:homefirsthalf).to_f).round(2) : "" %></td>
      <td rowspan="3" class="black"></td>
      <td><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f).round(2) : "" %></td>
      <td><%= @countItem ? (@countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f).round(2) : "" %></td>
      <td class="purple"><%= @countItem ? @countItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f - @countItem.average(:homethird).to_f - @countItem.average(:homeforth).to_f).round(2) : "" %></td>
      <td>1</td>
      <td class="black"></td>
      <td><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").average(:firstpoint).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").average(:firstlinetotal).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").count(:firstlinetotal).to_i : "" %></td>
      <td class="black" style="color: white">1H</td>
      <td><%= game.referee_one %></td>
      <td><%= game.referee_one_last %></td>
      <td class="red"><%= @referee_last_part ? @referee_last_part.last_first : '' %></td>
      <td class="green"><%= ((@referee_part_one_last.sum(:firstlinetotal).to_f + @referee_part_two_last.sum(:firstlinetotal).to_f + @referee_part_three_last.sum(:firstlinetotal).to_f)/(@referee_past_line_count == 0 ? 1 : @referee_past_line_count)).round(2) %></td>
      <td class="purple">1h</td>
      <td><%= @referee_part_one_last.count(:firstpoint).to_i %></td>
      <td><%= @referee_part_one_last.average(:firstpoint).to_f.round(2) %></td>
      <td><%= @referee_part_one_last.average(:secondpoint).to_f.round(2) %></td>
      <td class="red"><%= ((@referee_part_one_last.sum(:firstpoint).to_f + @referee_part_two_last.sum(:firstpoint).to_f + @referee_part_three_last.sum(:firstpoint).to_f)/(@referee_past_count == 0 ? 1 : @referee_past_count)).round(2) %></td>
      <td class="green"><%= @referee_part_one_last.average(:firstlinetotal).to_f.round(2) %></td>
      <td class="green"><%= @referee_part_one_last.average(:secondlinetotal).to_f.round(2) %></td>

      <td class="black"></td>

      <td class="filter"><%= @secondItem ? @secondItem.where("fglinetotal is not null AND fglinetotal != 0").average(:totalpoint).to_f.round(2) : "" %></td>
      <td class="filter"><%= @secondItem ? @secondItem.where("fglinetotal is not null AND fglinetotal != 0").average(:fglinetotal).to_f.round(2) : "" %></td>
      <td class="red">1990-2000</td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="green"></td>
      <td class="green"></td>
    </tr>
    <tr>
      <td class="red" ><%= game.home_abbr %></td>

      <td class="red"><%= @home_stl %></td>
      <td class="red"><%= @home_blk %></td>
      <td class="red"><%= @home_to %></td>
      <td class="red"><%= @home_team_info.possessions_home %></td>
      <td class="skyblue"><%= @home_team_info.first_current %></td>
      <td class="skyblue"><%= @home_team_info.second_current %></td>
      <td class="skyblue"><%= @home_team_info.first_home %></td>
      <td class="skyblue"><%= @home_team_info.second_home %></td>
      <td class="skyblue"><%= @home_team_info.rebound_current %></td>
      <td class="red"><%= @home_team_info.opponentfirst_current %></td>
      <td class="red"><%= @home_team_info.opponentsecond_current %></td>
      <td class="red"><%= @home_team_info.opponentfirst_home %></td>
      <td class="red"><%= @home_team_info.opponentsecond_home %></td>

      <td class="gray"><%= game.home_ppg_rank %></td>
      <td class="gray"><%= game.home_oppppg_rank %></td>
      <td class="gray"><%= game.home_win_rank %></td>
      <td class="green"><%= game.home_ppg_rank + (30 - game.home_oppppg_rank) %></td>
      <td class="yellow"><%= @countItem ? (@countItem.average(:totalvalue).to_f - 196.09).round(2) : "" %></td>
      <td class="red" ><%= game.home_abbr %></td>

      <td class="gray">
        <div style="width: 90px;">
          <%= game.away_last_fly[0].to_s + "-" + game.away_next_fly[0].to_s + "-" + game.away_last_game.to_s + "-" + game.away_next_game.to_s + "-" + game.home_next_game.to_s + "-" + game.home_last_game.to_s + "-" + game.home_next_fly[0].to_s + "-" + game.home_last_fly[0].to_s %>
        </div>
      </td>
      <td class="skygreen"></td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="red"><%= ((@referee_part_one_last.sum(:firstpoint).to_f + @referee_part_two_last.sum(:firstpoint).to_f + @referee_part_three_last.sum(:firstpoint).to_f)/(@referee_past_count == 0 ? 1 : @referee_past_count)).round(2) %></td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="red"><%= ((@referee_part_one_last.sum(:secondpoint).to_f + @referee_part_two_last.sum(:secondpoint).to_f + @referee_part_three_last.sum(:secondpoint).to_f)/(@referee_past_count == 0 ? 1 : @referee_past_count)).round(2) %></td>
      <td class="filter">X</td>
      <td class="filter">X</td>
      <td class="skygreen"></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.count(:totalvalue).to_i : "" %></td>
      <td class="red" ><%= game.home_abbr %></td>

      <td><%= game.first_home_fga %></td>
      <td><%= game.first_home_fta %></td>
      <td><%= game.first_home_orValue %></td>
      <td><%= game.first_home_toValue %></td>
      <td><%= game.first_home_stl %></td>
      <td><%= game.first_home_blk %></td>
      <% if game.first_home_fga && game.first_home_toValue && game.first_home_fta && game.first_home_orValue %>
      <td class="green"><%= (game.first_home_fga + game.first_home_toValue + (game.first_home_fta * 0.44) - game.first_home_orValue).round(2) %></td>
      <% else %>
      <td class="green"></td>
      <% end %>
      <% if game.first_home_fga && game.first_home_toValue && game.first_home_fta && game.first_home_orValue && game.home_fga && game.home_toValue && game.home_fta && game.home_orValue %>
      <td><%= (game.home_fga + game.home_toValue + (game.home_fta * 0.44) - game.home_orValue - game.first_home_fga - game.first_home_toValue - (game.first_home_fta * 0.44) + game.first_home_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <% if game.home_fga && game.home_toValue && game.home_fta && game.home_orValue %>
      <td><%= (game.home_fga + game.home_toValue + (game.home_fta * 0.44) - game.home_orValue).round(2) %></td>
      <% else %>
      <td></td>
      <% end %>
      <td class="purple">Sides</td>
      <td><%= game.first_closer_side %></td>
      <td><%= game.second_closer_side != 0 ? game.second_closer_side : (game.full_closer_side - game.first_closer_side) %></td>
      <td><%= game.full_closer_side %></td>
      
      <td class="black"></td>

      <td style="background: #fa0">96.52</td>
      <td style="background: #fa0">99.57</td>
      <td class="purple">196.09</td>
      <td style="background: #fa0">-3.05</td>
      <td style="background: #fa0">20904</td>
      <td style="background: #fa0">48.62</td>
      <td style="background: #fa0">50.47</td>
      <td class="purple">99.09</td>
      <td style="background: #fa0">-1.85</td>
      <td style="background: #fa0">47.9</td>
      <td style="background: #fa0">49.1</td>
      <td class="purple">97</td>
      <td style="background: #fa0">-1.2</td>
      <td style="background: #fa0;">ALL</td>
      <td class="black"></td>
      <td><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").average(:secondpoint).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").average(:secondlinetotal).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").count(:secondlinetotal).to_i : "" %></td>
      <td class="black" style="color: white">2H</td>
      
      <td><%= game.referee_two %></td>
      <td><%= game.referee_two_last %></td>
      <td class="red"><%= @referee_last_part ? @referee_last_part.last_second : '' %></td>
      <td class="green"><%= ((@referee_part_one_last.sum(:secondlinetotal).to_f + @referee_part_two_last.sum(:secondlinetotal).to_f + @referee_part_three_last.sum(:secondlinetotal).to_f)/(@referee_past_line_count == 0 ? 1 : @referee_past_line_count)).round(2) %></td>
      <td class="purple">2h</td>
      <td><%= @referee_part_two_last.count(:firstpoint).to_i %></td>
      <td><%= @referee_part_two_last.average(:firstpoint).to_f.round(2) %></td>
      <td><%= @referee_part_two_last.average(:secondpoint).to_f.round(2) %></td>
      <td class="red"><%= ((@referee_part_one_last.sum(:secondpoint).to_f + @referee_part_two_last.sum(:secondpoint).to_f + @referee_part_three_last.sum(:secondpoint).to_f)/(@referee_past_count == 0 ? 1 : @referee_past_count)).round(2) %></td>
      <td class="green"><%= @referee_part_two_last.average(:firstlinetotal).to_f.round(2) %></td>
      <td class="green"><%= @referee_part_two_last.average(:secondlinetotal).to_f.round(2) %></td>

      <td class="black"></td>

      <% fglinetotal_count = @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").count(:fglinetotal).to_i : "" %>
      <td class="filter"><%= fglinetotal_count %></td>
      <td class="filter"><%= fglinetotal_count %></td>
      <td style="background: #fa0"></td>
      <% firstlinetotal_count = @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").count(:firstlinetotal).to_i : "" %>
      <td class="yellow"><%= firstlinetotal_count %></td>
      <td class="yellow"><%= firstlinetotal_count %></td>
      <td class="green"><%= firstlinetotal_count %></td>
      <td class="green"><%= firstlinetotal_count %></td>
    </tr>
    <tr>
      <td class="skyblue"><%= game.away_abbr %></td>

      <td class="skyblue"><%= (@away_stl + @home_stl).round(2) %></td>
      <td class="skyblue"><%= (@away_blk + @home_blk).round(2) %></td>
      <td class="skyblue"><%= (@away_to + @home_to).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.possessions_away + @home_team_info.possessions_home).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.first_current + @home_team_info.first_current).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.second_current + @home_team_info.second_current).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.first_away + @home_team_info.first_home).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.second_away + @home_team_info.second_home).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.rebound_current + @home_team_info.rebound_current).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentfirst_current + @home_team_info.opponentfirst_current).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentsecond_current + @home_team_info.opponentsecond_current).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentfirst_away + @home_team_info.opponentfirst_home).round(2) %></td>
      <td class="skyblue"><%= (@away_team_info.opponentsecond_away + @home_team_info.opponentsecond_home).round(2) %></td>

      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="skyblue"></td>
      <td class="green"></td>
      <td class="green"></td>
      <td class="skyblue"><%= game.away_abbr %></td>

      <td></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="skygreen"></td>
      <td class="gray"><%= @countItem ? @countItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @countItem ? @countItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @countItem ? @countItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @countItem ? @countItem.count(:totalvalue).to_i : "" %></td>
      <td class="skyblue"><%= game.away_abbr %></td>

      <td class="skyblue"><%= game.away_first_quarter %></td>
      <td class="skyblue"><%= game.away_second_quarter %></td>
      <td class="skyblue"><%= game.away_third_quarter %></td>
      <td class="skyblue"><%= game.away_forth_quarter %></td>
      <td class="skyblue"><%= game.home_abbr %></td>
      <td class="skyblue"><%= game.home_first_quarter %></td>
      <td class="skyblue"><%= game.home_second_quarter %></td>
      <td class="skyblue"><%= game.home_third_quarter %></td>
      <td class="skyblue"><%= game.home_forth_quarter %></td>
      <td class="purple"></td>
      <td class="purple"></td>
      <td class="purple"></td>
      <td class="purple"></td>
      
      <td class="black"></td>

      <td class="gray"><%= @secondItem ? @secondItem.average(:roadtotal).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:hometotal).to_f.round(2) : "" %></td>
      <td class="purple"><%= @secondItem ? @secondItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? (@secondItem.average(:roadtotal).to_f - @secondItem.average(:hometotal).to_f).round(2) : "" %></td>
      <td style="background: #fa0"><%= @secondItem ? @secondItem.count(:totalpoint).to_i : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:roadfirsthalf).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:homefirsthalf).to_f.round(2) : "" %></td>
      <td class="purple"><%= @secondItem ? @secondItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? (@secondItem.average(:roadfirsthalf).to_f - @secondItem.average(:homefirsthalf).to_f).round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:roadsecondhalf).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? @secondItem.average(:homesecondhalf).to_f.round(2) : "" %></td>
      <td class="purple"><%= @secondItem ? @secondItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td class="gray"><%= @secondItem ? (@secondItem.average(:roadsecondhalf).to_f - @secondItem.average(:homesecondhalf).to_f).round(2) : "" %></td>
      <td class="gray"></td>
      <td class="black"></td>
      <td><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").average(:totalpoint).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").average(:fglinetotal).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").count(:fglinetotal).to_i : "" %></td>
      <td class="black" style="color: white">FG</td>
      
      <td><%= game.referee_three %></td>
      <td><%= game.referee_three_last %></td>
      <td class="red"><%= @referee_last_part ? @referee_last_part.last_count : '' %></td>
      <td class="green"><%= @referee_past_line_count %></td>
      <td class="purple">gms</td>
      <td><%= @referee_part_three_last.count(:firstpoint).to_i %></td>
      <td><%= @referee_part_three_last.average(:firstpoint).to_f.round(2) %></td>
      <td><%= @referee_part_three_last.average(:secondpoint).to_f.round(2) %></td>
      <td class="red"><%= @referee_past_count %></td>
      <td class="green"><%= @referee_part_three_last.average(:firstlinetotal).to_f.round(2) %></td>
      <td class="green"><%= @referee_part_three_last.average(:secondlinetotal).to_f.round(2) %></td>

      <td class="black"></td>

      <td class="filter"><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").average(:totalpoint).to_f.round(2) : "" %></td>
      <td class="filter"><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").average(:fglinetotal).to_f.round(2) : "" %></td>
      <td class="green">2000-2017</td>
      <td class="yellow"><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").average(:firstpoint).to_f.round(2) : "" %></td>
      <td class="yellow"><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").average(:firstlinetotal).to_f.round(2) : "" %></td>
      <td class="green"><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").average(:secondpoint).to_f.round(2) : "" %></td>
      <td class="green"><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").average(:secondlinetotal).to_f.round(2) : "" %></td>
    </tr>
    <% end %>
  	</tbody>
</table>

<div style="
    position: absolute;
    top: 10px;
    left: 10px;
">
  <button class="btn btn-danger refreshbutton">Refresh</button>
</div>
  
<script>
 $('.refreshbutton').click(function(){
    window.location.href = window.location.href;
  });
</script>

<table border="1">
  <thead>
  <tr>
    <td>DATE</td>
    <td>NAME</td>
    <td>CLASS</td>
    <td>AVE MINS</td>
    <td>TEAM</td>
    <td>NEXT GAME</td>
    <td>Did he play</td>
    <td>How many mins</td>
    <td>Score</td>
    <td>LAST GAME</td>
    <td>Did he play</td>
    <td>How many mins</td>
    <td>Score</td>
  </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record[:date] %></td>
        <% if record[:player] == 'NONE' %>
          <td>NONE</td>
          <% (0..10).each do |index| %>
            <td>-</td>
          <% end %>
        <% else %>
          <td><%= record[:player].player_name %></td>
          <td><%= record[:player].player_class ? record[:player].player_class : '-' %></td>
          <td><%= record[:player].ave_mins ? record[:player].ave_mins : '-' %></td>
          <% cbb_team = CbbTeam.find_by(id: record[:player].cbb_team_id) %>
          <td><%= cbb_team.name %></td>
          <% (0..7).each do |index| %>
            <td>-</td>
          <% end %>

          <% next_cbb_record = CbbRecord.where("cbb_team_id = '" + record[:player].cbb_team_id.to_s + "' AND game_date >= ?", record[:current].beginning_of_day).order('game_date DESC') %>
          <% if next_cbb_record.length != 0 && next_cbb_record[0].game_date %>
            <td style="display:none"><%= Date.strptime(next_cbb_record[0].game_date).strftime("%^b %e") %></td>
            <% next_record = CbbRecord.find_by(game_date: next_cbb_record[0].game_date, cbb_player_id: record[:player].id) %>
            <% if next_record %>
              <td style="display:none">YES</td>
              <td style="display:none"><%= next_record.min %></td>
              <td style="display:none"><%= next_record.score %></td>
            <% else %>
              <td style="display:none">NO</td>
              <td style="display:none">-</td>
              <td style="display:none">-</td>
            <% end %>
          <% else %>
            <% (0..3).each do |index| %>
              <td style="display:none">-</td>
            <% end %>
          <% end %>

          <% last_cbb_record = CbbRecord.where("cbb_team_id = '" + record[:player].cbb_team_id.to_s + "' AND game_date < ?" , record[:current].beginning_of_day).order('game_date ASC') %>
          <% if last_cbb_record.length != 0 && last_cbb_record[0].game_date %>
            <td style="display:none"><%= Date.strptime(last_cbb_record[0].game_date).strftime("%^b %e") %></td>
            <% last_record = CbbRecord.find_by(game_date: last_cbb_record[0].game_date, cbb_player_id: record[:player].id) %>
            <% if last_record %>
              <td style="display:none">YES</td>
              <td style="display:none"><%= last_record.min %></td>
              <td style="display:none"><%= last_record.score %></td>
              <% else %>
              <td style="display:none">NO</td>
              <td style="display:none">-</td>
              <td style="display:none">-</td>
            <% end %>
          <% else %>
            <% (0..3).each do |index| %>
              <td style="display:none">-</td>
            <% end %>
          <% end %>

        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<table border="1" style="display: none">
  <thead>
  <tr>
    <td>DATE</td>
    <td>NAME</td>
    <td>TEAM</td>
    <td>NEXT GAME</td>
    <td>LAST GAME</td>
  </tr>
  </thead>
  <tbody>
  <% @nba_records.each do |record| %>
    <tr>
      <td><%= record[:date] %></td>
      <% if record[:player] == 'NONE' %>
        <td>NONE</td>
        <% (0..2).each do |index| %>
          <td>-</td>
        <% end %>
      <% else %>
        <td><%= record[:player].player_name %></td>
        <td><%= record[:player].team_name %></td>
        <% next_game = Nba.where("home_team = ? AND game_date >= ?", record[:player].team_name, record[:current].beginning_of_day).or(Nba.where("away_team = ? AND game_date >= ?", record[:player].team_name, record[:current].beginning_of_day)).order(:game_date).first %>
        <% if next_game %>
          <td><%= Date.strptime(next_game.game_date).strftime("%^b %e") %></td>
        <% else %>
          <td>-</td>
        <% end %>

        <% last_game = Nba.where("home_team = ? AND game_date < ?", record[:player].team_name, record[:current].beginning_of_day).or(Nba.where("away_team = ? AND game_date < ?", record[:player].team_name, record[:current].beginning_of_day)).order(:game_date).last %>
        <% if last_game %>
          <td><%= Date.strptime(last_game.game_date).strftime("%^b %e") %></td>
        <% else %>
          <td>-</td>
        <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>