<% content_for :title, "Referee" %>
<div class="header row">
	<h1>Referee</h1>
</div>
<ul>
	<li><%= link_to 'Home', { action: 'home' }%></li>
</ul>
<div class="referee">
  <table border="1">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="3">Last</th>
        <th colspan="3">Next</th>
      </tr>
      <tr>
        <th>1st referee</th>
        <th>2nd referee</th>
        <th>3rd referee</th>
        <th>Games</th>
        <th>1st Half</th>
        <th>2nd Half</th>
        <th>Games</th>
        <th>1st Half</th>
        <th>2nd Half</th>
      </tr>
    </thead>
    <tbody>
      <% (0..49).each do |index| %>
      <tr>
        <td><%= @result[index][:referee_one] %></td>
        <td><%= @result[index][:referee_two] %></td>
        <td><%= @result[index][:referee_three] %></td>
        <td><%= @result[index][:last_count] %></td>
        <td><%= @result[index][:last_first] %></td>
        <td><%= @result[index][:last_second] %></td>
        <td><%= @result[index][:next_count] %></td>
        <td><%= @result[index][:next_first] %></td>
        <td><%= @result[index][:next_second] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table border="1">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="3">Last</th>
        <th colspan="3">Next</th>
      </tr>
      <tr>
        <th>1st referee</th>
        <th>2nd referee</th>
        <th>3rd referee</th>
        <th>Games</th>
        <th>1st Half</th>
        <th>2nd Half</th>
        <th>Games</th>
        <th>1st Half</th>
        <th>2nd Half</th>
      </tr>
    </thead>
    <tbody>
      <% (50..85).each do |index| %>
      <tr>
        <td><%= @result[index][:referee_one] %></td>
        <td><%= @result[index][:referee_two] %></td>
        <td><%= @result[index][:referee_three] %></td>
        <td><%= @result[index][:last_count] %></td>
        <td><%= @result[index][:last_first] %></td>
        <td><%= @result[index][:last_second] %></td>
        <td><%= @result[index][:next_count] %></td>
        <td><%= @result[index][:next_first] %></td>
        <td><%= @result[index][:next_second] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <table border="1">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="3">Last</th>
        <th colspan="3">Next</th>
      </tr>
      <tr>
        <th>1st referee</th>
        <th>2nd referee</th>
        <th>3rd referee</th>
        <th>Games</th>
        <th>1st Half</th>
        <th>2nd Half</th>
        <th>Games</th>
        <th>1st Half</th>
        <th>2nd Half</th>
      </tr>
    </thead>
    <tbody>
      <% (86..104).each do |index| %>
      <tr>
        <td><%= @result[index][:referee_one] %></td>
        <td><%= @result[index][:referee_two] %></td>
        <td><%= @result[index][:referee_three] %></td>
        <td><%= @result[index][:last_count] %></td>
        <td><%= @result[index][:last_first] %></td>
        <td><%= @result[index][:last_second] %></td>
        <td><%= @result[index][:next_count] %></td>
        <td><%= @result[index][:next_first] %></td>
        <td><%= @result[index][:next_second] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>