<% content_for :title, @game.away_abbr + " @ " + @game.home_abbr %>
<div class="header row">
  <div class="col-md-1 col-md-offset-2">
    <p>POSSESSIONS</p>
  </div>
  <div class="col-md-4  col-md-offset-1">
    <h1><%= @head %></h1>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <p>POSSESSIONS</p>
  </div>
</div>

<ul>
  <li><%= link_to 'Back', {action: 'game', id: @date_id + ' - ' + @date_id} %></li>
</ul>

<div class="tableBody">
  <div style="display:inline-block;">
    <table border="1">
      <thead>
      <tr>
        <th colspan="7">REBOUNDS</th>
        <th class="between"></th>
        <th colspan="9">OFFENSIVE REBOUNDS</th>
      </tr>
      <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th>Last 12</th>
        <th>Lineup</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.possessions_current %> </td>
        <td> <%= @home_team_info.possessions_last_three %> </td>
        <td> <%= @home_team_info.possessions_last_one %> </td>
        <td> <%= @home_team_info.possessions_home %> </td>
        <td> <%= @home_team_info.possessions_away %> </td>
        <td> <%= @home_team_info.possessions_last %> </td>
        <td class="between"></td>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.rebound_current %> </td>
        <td> <%= @home_team_info.rebound_last_three %> </td>
        <td> <%= @home_team_info.rebound_last_one %> </td>
        <td> <%= @home_team_info.rebound_home %> </td>
        <td> <%= @home_team_info.rebound_away %> </td>
        <td> <%= @home_team_info.rebound_last %> </td>
        <td> <%= @home_or %> </td>
        <td> <%= @home_avg_or.round(2) %> </td>
      </tr>
      <tr>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.possessions_current %> </td>
        <td> <%= @away_team_info.possessions_last_three %> </td>
        <td> <%= @away_team_info.possessions_last_one %> </td>
        <td> <%= @away_team_info.possessions_home %> </td>
        <td> <%= @away_team_info.possessions_away %> </td>
        <td> <%= @away_team_info.possessions_last %> </td>
        <td class="between"></td>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.rebound_current %> </td>
        <td> <%= @away_team_info.rebound_last_three %> </td>
        <td> <%= @away_team_info.rebound_last_one %> </td>
        <td> <%= @away_team_info.rebound_home %> </td>
        <td> <%= @away_team_info.rebound_away %> </td>
        <td> <%= @away_team_info.rebound_last %> </td>
        <td> <%= @away_or %> </td>
        <td> <%= @away_avg_or.round(2) %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
      <tr>
        <th></th>
        <th colspan="5">STEALS</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="between"></th>
        <th></th>
        <th colspan="5">BLOCKS</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th>Last 12</th>
        <th>Lineup</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th>Last 12</th>
        <th>Lineup</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.steal_current %> </td>
        <td> <%= @home_team_info.steal_last_three %> </td>
        <td> <%= @home_team_info.steal_last_one %> </td>
        <td> <%= @home_team_info.steal_home %> </td>
        <td> <%= @home_team_info.steal_away %> </td>
        <td> <%= @home_team_info.steal_last %> </td>
        <td> <%= @home_stl %> </td>
        <td> <%= @home_avg_stl.round(2) %> </td>
        <td class="between"></td>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.block_current %> </td>
        <td> <%= @home_team_info.block_last_three %> </td>
        <td> <%= @home_team_info.block_last_one %> </td>
        <td> <%= @home_team_info.block_home %> </td>
        <td> <%= @home_team_info.block_away %> </td>
        <td> <%= @home_team_info.block_last %> </td>
        <td> <%= @home_blk %> </td>
        <td> <%= @home_avg_blk.round(2) %> </td>
      </tr>
      <tr>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.steal_current %> </td>
        <td> <%= @away_team_info.steal_last_three %> </td>
        <td> <%= @away_team_info.steal_last_one %> </td>
        <td> <%= @away_team_info.steal_home %> </td>
        <td> <%= @away_team_info.steal_away %> </td>
        <td> <%= @away_team_info.steal_last %> </td>
        <td> <%= @away_stl %> </td>
        <td> <%= @away_avg_stl.round(2) %> </td>
        <td class="between"></td>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.block_current %> </td>
        <td> <%= @away_team_info.block_last_three %> </td>
        <td> <%= @away_team_info.block_last_one %> </td>
        <td> <%= @away_team_info.block_home %> </td>
        <td> <%= @away_team_info.block_away %> </td>
        <td> <%= @away_team_info.block_last %> </td>
        <td> <%= @away_blk %> </td>
        <td> <%= @away_avg_blk.round(2) %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
      <tr>
        <th colspan="9">TURNOVERS</th>
        <th class="between"></th>
        <th colspan="6">RECORD</th>
      </tr>
      <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th>Last 12</th>
        <th>Lineup</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>WON</th>
        <th>LAST</th>
        <th>PPG</th>
        <th>OPP</th>
        <th>DIFF</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.turnover_current %> </td>
        <td> <%= @home_team_info.turnover_last_three %> </td>
        <td> <%= @home_team_info.turnover_last_one %> </td>
        <td> <%= @home_team_info.turnover_home %> </td>
        <td> <%= @home_team_info.turnover_away %> </td>
        <td> <%= @home_team_info.turnover_last %> </td>
        <td> <%= @home_to %> </td>
        <td> <%= @home_avg_to.round(2) %> </td>
        <td class="between"></td>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.record_won.round() %> </td>
        <td> <%= @home_team_info.record_lost.round() %> </td>
        <td> <%= @home_team_info.record_ppg %> </td>
        <td> <%= @home_team_info.record_opp %> </td>
        <td> <%= @home_team_info.record_diff %> </td>
      </tr>
      <tr>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.turnover_current %> </td>
        <td> <%= @away_team_info.turnover_last_three %> </td>
        <td> <%= @away_team_info.turnover_last_one %> </td>
        <td> <%= @away_team_info.turnover_home %> </td>
        <td> <%= @away_team_info.turnover_away %> </td>
        <td> <%= @away_team_info.turnover_last %> </td>
        <td> <%= @away_to %> </td>
        <td> <%= @away_avg_to.round(2) %> </td>
        <td class="between"></td>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.record_won.round() %> </td>
        <td> <%= @away_team_info.record_lost.round() %> </td>
        <td> <%= @away_team_info.record_ppg %> </td>
        <td> <%= @away_team_info.record_opp %> </td>
        <td> <%= @away_team_info.record_diff %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
      <tr>
        <th colspan="7">OPPONENTS 1H points per game</th>
        <th class="between"></th>
        <th colspan="7">OPPONENTS 2H points per game</th>
      </tr>
      <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.opponentfirst_current %> </td>
        <td> <%= @home_team_info.opponentfirst_last_three %> </td>
        <td> <%= @home_team_info.opponentfirst_last_one %> </td>
        <td> <%= @home_team_info.opponentfirst_home %> </td>
        <td> <%= @home_team_info.opponentfirst_away %> </td>
        <td> <%= @home_team_info.opponentfirst_last %> </td>
        <td class="between"></td>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.opponentsecond_current %> </td>
        <td> <%= @home_team_info.opponentsecond_last_three %> </td>
        <td> <%= @home_team_info.opponentsecond_last_one %> </td>
        <td> <%= @home_team_info.opponentsecond_home %> </td>
        <td> <%= @home_team_info.opponentsecond_away %> </td>
        <td> <%= @home_team_info.opponentsecond_last %> </td>
      </tr>
      <tr>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.opponentfirst_current %> </td>
        <td> <%= @away_team_info.opponentfirst_last_three %> </td>
        <td> <%= @away_team_info.opponentfirst_last_one %> </td>
        <td> <%= @away_team_info.opponentfirst_home %> </td>
        <td> <%= @away_team_info.opponentfirst_away %> </td>
        <td> <%= @away_team_info.opponentfirst_last %> </td>
        <td class="between"></td>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.opponentsecond_current %> </td>
        <td> <%= @away_team_info.opponentsecond_last_three %> </td>
        <td> <%= @away_team_info.opponentsecond_last_one %> </td>
        <td> <%= @away_team_info.opponentsecond_home %> </td>
        <td> <%= @away_team_info.opponentsecond_away %> </td>
        <td> <%= @away_team_info.opponentsecond_last %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="tableBody">
  <div style="display:inline-block">
    <table border="1">
      <thead>
      <tr>
        <th colspan="7">1ST HALF POINTS</th>
        <th class="between"></th>
        <th colspan="7">2ND HALF POINTS</th>
      </tr>
      <tr>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
        <th class="between"></th>
        <th>TEAM</th>
        <th>2017</th>
        <th>LAST 3</th>
        <th>LAST 1</th>
        <th>HOME</th>
        <th>AWAY</th>
        <th>2016</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.first_current %> </td>
        <td> <%= @home_team_info.first_last_three %> </td>
        <td> <%= @home_team_info.first_last_one %> </td>
        <td> <%= @home_team_info.first_home %> </td>
        <td> <%= @home_team_info.first_away %> </td>
        <td> <%= @home_team_info.first_last %> </td>
        <td class="between"></td>
        <td> <%= @home_team_info.team %> </td>
        <td> <%= @home_team_info.second_current %> </td>
        <td> <%= @home_team_info.second_last_three %> </td>
        <td> <%= @home_team_info.second_last_one %> </td>
        <td> <%= @home_team_info.second_home %> </td>
        <td> <%= @home_team_info.second_away %> </td>
        <td> <%= @home_team_info.second_last %> </td>
      </tr>
      <tr>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.first_current %> </td>
        <td> <%= @away_team_info.first_last_three %> </td>
        <td> <%= @away_team_info.first_last_one %> </td>
        <td> <%= @away_team_info.first_home %> </td>
        <td> <%= @away_team_info.first_away %> </td>
        <td> <%= @away_team_info.first_last %> </td>
        <td class="between"></td>
        <td> <%= @away_team_info.team %> </td>
        <td> <%= @away_team_info.second_current %> </td>
        <td> <%= @away_team_info.second_last_three %> </td>
        <td> <%= @away_team_info.second_last_one %> </td>
        <td> <%= @away_team_info.second_home %> </td>
        <td> <%= @away_team_info.second_away %> </td>
        <td> <%= @away_team_info.second_last %> </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<% @compares.each do |compare|
  unless compare.second_home_player_age && compare.second_away_player_age
    next
  end
search_elements_home = @home_players.select{|player| player["player_fullname"] == compare.home_player_name }
search_elements_away = @away_players.select{|player| player["player_fullname"] == compare.away_full_name } 
if !search_elements_home[0] || !search_elements_away[0]
  next
end
if search_elements_home[0].height
  home_height_index = search_elements_home[0].height.index(",")
end
if search_elements_away[0].height
  away_height_index = search_elements_away[0].height.index(",")
end
  %>
  <div class="tableBody">
    <table border="1">
      <thead>
      <tr>
        <th colspan="1" class="gray"></th>
        <th colspan="6" class="gray"><%= search_elements_home[0] ? search_elements_home[0].position : "" %> <%= compare.second_home_player_name %> <%= @game.home_team %></th>
        <th colspan="1" class="red"><%= home_height_index ? search_elements_home[0].height[0..home_height_index - 1] : "" %></th>
        <th colspan="3" class="gray">vs</th>
        <th colspan="7" class="gray"><%= search_elements_away[0] ? search_elements_away[0].position : "" %> <%= compare.second_away_player_name %> <%= @game.away_team %></th>
        <th colspan="1" class="red"><%= away_height_index ? search_elements_away[0].height[0..away_height_index - 1] : "" %></th>
        <th class="gray">PPP + PPP</th>
        <th class="gray">Average</th>
      </tr>
      </thead>
      <tbody>
      <tr class="gray">
        <td style="background: red"><u>HEAD to HEAD</u></td>
        <td>Age</td>
        <td>GP</td>
        <td>GS</td>
        <td>MP</td>
        <td>FG</td>
        <td>FGA</td>
        <td>3P</td>
        <td>3PA</td>
        <td>FT</td>
        <td>FTA</td>
        <td>ORB</td>
        <td>STL</td>
        <td>BLK</td>
        <td>TOV</td>
        <td>PTS</td>
        <td>TP</td>
        <td>POSS</td>
        <td>PPP</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= compare.head_home_player_name %></td>
        <td><%= compare.second_home_player_age %></td>
        <td><%= compare.head_home_player_gp %></td>
        <td><%= compare.head_home_player_gs %></td>
        <td><%= compare.head_home_player_mp %></td>
        <td><%= compare.head_home_player_fg %></td>
        <td><%= compare.head_home_player_fga %></td>
        <td><%= compare.head_home_player_p %></td>
        <td><%= compare.head_home_player_pa %></td>
        <td><%= compare.head_home_player_ft %></td>
        <td><%= compare.head_home_player_fta %></td>
        <td><%= compare.head_home_player_orb %></td>
        <td><%= compare.head_home_player_stl %></td>
        <td><%= compare.head_home_player_blk %></td>
        <td><%= compare.head_home_player_tov %></td>
        <td><%= compare.head_home_player_pts %></td>
        <%
          head_home_tp = ((compare.head_home_player_fga + compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb) * compare.head_home_player_gp).round(3)
          tpStyle = "background:darkgray;"
          if head_home_tp > 50
            tpStyle = "background:skyblue;"
          end
        %>
        <td style=<%= tpStyle %>><%= head_home_tp %></td>
        <td><%= (compare.head_home_player_fga + compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb).round(3) %></td>
        <td><%= (compare.head_home_player_pts / (compare.head_home_player_fga + compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb)).round(3) %></td>
        <td rowspan="2"><%= (compare.head_home_player_pts / (compare.head_home_player_fga + compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb) + compare.head_away_player_pts / (compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb)).round(3) %></td>
        <%
          headValue = compare.head_home_player_pts / (compare.head_home_player_fga + compare.head_home_player_tov + (compare.head_home_player_fta * 0.44) - compare.head_home_player_orb)
          secondValue = 0
          if compare.second_home_player_age
            secondValue = compare.second_home_player_pts / (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb)
          end
          if compare.forth_home_player_age || compare.third_home_player_age || compare.first_home_player_age
            count = 0
            if compare.forth_home_player_age
              count = count + 1
            end
            if compare.third_home_player_age
              count = count + 1
            end
            if compare.first_home_player_age
              count = count + 1
            end
            first_home_player_pts = (compare.first_home_player_pts.to_f + compare.third_home_player_pts.to_f + compare.forth_home_player_pts.to_f) / count
            first_home_player_fga = (compare.first_home_player_fga.to_f + compare.third_home_player_fga.to_f + compare.forth_home_player_fga.to_f) / count
            first_home_player_tov = (compare.first_home_player_tov.to_f + compare.third_home_player_tov.to_f + compare.forth_home_player_tov.to_f) / count
            first_home_player_fta = (compare.first_home_player_fta.to_f + compare.third_home_player_fta.to_f + compare.forth_home_player_fta.to_f) / count
            first_home_player_orb = (compare.first_home_player_orb.to_f + compare.third_home_player_orb.to_f + compare.forth_home_player_orb.to_f) / count
            firstValue = first_home_player_pts / (first_home_player_fga + first_home_player_tov + (first_home_player_fta * 0.44) - first_home_player_orb)
            compare_value = headValue - (firstValue + secondValue) / 2
          else
            compare_value = headValue - secondValue
          end
        %>
        <td><%= compare_value.round(3).to_s %></td>
      </tr>
      <tr>
        <td><%= compare.head_away_player_name %></td>
        <td><%= compare.second_away_player_age %></td>
        <td><%= compare.head_away_player_gp %></td>
        <td><%= compare.head_away_player_gs %></td>
        <td><%= compare.head_away_player_mp %></td>
        <td><%= compare.head_away_player_fg %></td>
        <td><%= compare.head_away_player_fga %></td>
        <td><%= compare.head_away_player_p %></td>
        <td><%= compare.head_away_player_pa %></td>
        <td><%= compare.head_away_player_ft %></td>
        <td><%= compare.head_away_player_fta %></td>
        <td><%= compare.head_away_player_orb %></td>
        <td><%= compare.head_away_player_stl %></td>
        <td><%= compare.head_away_player_blk %></td>
        <td><%= compare.head_away_player_tov %></td>
        <td><%= compare.head_away_player_pts %></td>
        <%
          head_away_tp = ((compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb) * compare.head_away_player_gp).round(3)
          tpStyle = "background:darkgray;"
          if head_away_tp > 50
            tpStyle = "background:skyblue;"
          end
        %>
        <td style=<%= tpStyle %>><%= head_away_tp %></td>
        <td><%= (compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb).round(3) %></td>
        <td><%= (compare.head_away_player_pts / (compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb)).round(3) %></td>
        <%
          headValue = compare.head_away_player_pts / (compare.head_away_player_fga + compare.head_away_player_tov + (compare.head_away_player_fta * 0.44) - compare.head_away_player_orb)
          secondValue = 0
          if compare.second_away_player_age
            secondValue = compare.second_away_player_pts / (compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb)
          end
          if compare.forth_away_player_age || compare.third_away_player_age || compare.first_away_player_age
            count = 0
            if compare.forth_away_player_age
              count = count + 1
            end
            if compare.third_away_player_age
              count = count + 1
            end
            if compare.first_away_player_age
              count = count + 1
            end
            first_away_player_pts = (compare.first_away_player_pts.to_f + compare.third_away_player_pts.to_f + compare.forth_away_player_pts.to_f) / count
            first_away_player_fga = (compare.first_away_player_fga.to_f + compare.third_away_player_fga.to_f + compare.forth_away_player_fga.to_f) / count
            first_away_player_tov = (compare.first_away_player_tov.to_f + compare.third_away_player_tov.to_f + compare.forth_away_player_tov.to_f) / count
            first_away_player_fta = (compare.first_away_player_fta.to_f + compare.third_away_player_fta.to_f + compare.forth_away_player_fta.to_f) / count
            first_away_player_orb = (compare.first_away_player_orb.to_f + compare.third_away_player_orb.to_f + compare.forth_away_player_orb.to_f) / count
            firstValue = first_away_player_pts / (first_away_player_fga + first_away_player_tov + (first_away_player_fta * 0.44) - first_away_player_orb)
            compare_value = headValue - (firstValue + secondValue) / 2
          else
            compare_value = headValue - secondValue
          end
        %>
        <td><%= compare_value.round(3) %></td>
      </tr>
      <tr class="gray">
        <td style="background: #fa0;"><u>LAST 3 YEARS</u></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% if compare.forth_home_player_age || compare.third_home_player_age || compare.first_home_player_age
           count = 0
           if compare.forth_home_player_age
             count = count + 1
           end
           if compare.third_home_player_age
             count = count + 1
           end
           if compare.first_home_player_age
             count = count + 1
           end
      %>
        <tr>
          <td><%= compare.second_home_player_name %></td>
          <td><%= compare.second_home_player_age - 1 %></td>
          <td><%= compare.first_home_player_gp.to_i + compare.third_home_player_gp.to_i + compare.forth_home_player_gp.to_i %></td>
          <td><%= compare.first_home_player_gs.to_i + compare.third_home_player_gs.to_i + compare.forth_home_player_gs.to_i %></td>
          <td><%= ((compare.first_home_player_mp.to_f + compare.third_home_player_mp.to_f + compare.forth_home_player_mp.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_fg.to_f + compare.third_home_player_fg.to_f + compare.forth_home_player_fg.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_fga.to_f + compare.third_home_player_fga.to_f + compare.forth_home_player_fga.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_p.to_f + compare.third_home_player_p.to_f + compare.forth_home_player_p.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_pa.to_f + compare.third_home_player_pa.to_f + compare.forth_home_player_pa.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_ft.to_f + compare.third_home_player_ft.to_f + compare.forth_home_player_ft.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_fta.to_f + compare.third_home_player_fta.to_f + compare.forth_home_player_fta.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_orb.to_f + compare.third_home_player_orb.to_f + compare.forth_home_player_orb.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_stl.to_f + compare.third_home_player_stl.to_f + compare.forth_home_player_stl.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_blk.to_f + compare.third_home_player_blk.to_f + compare.forth_home_player_blk.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_tov.to_f + compare.third_home_player_tov.to_f + compare.forth_home_player_tov.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_home_player_pts.to_f + compare.third_home_player_pts.to_f + compare.forth_home_player_pts.to_f) / count).round(3) %></td>
          <%
            first_home_player_pts = (compare.first_home_player_pts.to_f + compare.third_home_player_pts.to_f + compare.forth_home_player_pts.to_f) / count
            first_home_player_fga = (compare.first_home_player_fga.to_f + compare.third_home_player_fga.to_f + compare.forth_home_player_fga.to_f) / count
            first_home_player_tov = (compare.first_home_player_tov.to_f + compare.third_home_player_tov.to_f + compare.forth_home_player_tov.to_f) / count
            first_home_player_fta = (compare.first_home_player_fta.to_f + compare.third_home_player_fta.to_f + compare.forth_home_player_fta.to_f) / count
            first_home_player_orb = (compare.first_home_player_orb.to_f + compare.third_home_player_orb.to_f + compare.forth_home_player_orb.to_f) / count

            first_home_tp = ((first_home_player_fga + first_home_player_tov + (first_home_player_fta * 0.44) - first_home_player_orb) * (compare.first_home_player_gp.to_i + compare.third_home_player_gp.to_i + compare.forth_home_player_gp.to_i)).round(3)
            tpStyle = "background:darkgray;"
            if first_home_tp > 50
              tpStyle = "background:skyblue;"
            end
          %>
          <td style=<%= tpStyle %>><%= first_home_tp %></td>
          <td><%= (first_home_player_fga + first_home_player_tov + (first_home_player_fta * 0.44) - first_home_player_orb).round(3) %></td>
          <td><%= (first_home_player_pts / (first_home_player_fga + first_home_player_tov + (first_home_player_fta * 0.44) - first_home_player_orb)).round(3) %></td>
          <%
            if compare.forth_away_player_age || compare.third_away_player_age || compare.first_away_player_age
              count = 0
              if compare.forth_away_player_age
                count = count + 1
              end
              if compare.third_away_player_age
                count = count + 1
              end
              if compare.first_away_player_age
                count = count + 1
              end
              first_away_player_pts = (compare.first_away_player_pts.to_f + compare.third_away_player_pts.to_f + compare.forth_away_player_pts.to_f) / count
              first_away_player_fga = (compare.first_away_player_fga.to_f + compare.third_away_player_fga.to_f + compare.forth_away_player_fga.to_f) / count
              first_away_player_tov = (compare.first_away_player_tov.to_f + compare.third_away_player_tov.to_f + compare.forth_away_player_tov.to_f) / count
              first_away_player_fta = (compare.first_away_player_fta.to_f + compare.third_away_player_fta.to_f + compare.forth_away_player_fta.to_f) / count
              first_away_player_orb = (compare.first_away_player_orb.to_f + compare.third_away_player_orb.to_f + compare.forth_away_player_orb.to_f) / count
          %>
            <td rowspan="2"><%= (first_home_player_pts / (first_home_player_fga + first_home_player_tov + (first_home_player_fta * 0.44) - first_home_player_orb) + first_away_player_pts / (first_away_player_fga + first_away_player_tov + (first_away_player_fta * 0.44) - first_away_player_orb)).round(3) %></td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
        </tr>
      <% end %>
      <% if compare.forth_away_player_age || compare.third_away_player_age || compare.first_away_player_age
           count = 0
           if compare.forth_away_player_age
             count = count + 1
           end
           if compare.third_away_player_age
             count = count + 1
           end
           if compare.first_away_player_age
             count = count + 1
           end
      %>
        <tr>
          <td><%= compare.second_away_player_name %></td>
          <td><%= compare.second_away_player_age - 1 %></td>
          <td><%= compare.first_away_player_gp.to_i + compare.third_away_player_gp.to_i + compare.forth_away_player_gp.to_i %></td>
          <td><%= compare.first_away_player_gs.to_i + compare.third_away_player_gs.to_i + compare.forth_away_player_gs.to_i %></td>
          <td><%= ((compare.first_away_player_mp.to_f + compare.third_away_player_mp.to_f + compare.forth_away_player_mp.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_fg.to_f + compare.third_away_player_fg.to_f + compare.forth_away_player_fg.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_fga.to_f + compare.third_away_player_fga.to_f + compare.forth_away_player_fga.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_p.to_f + compare.third_away_player_p.to_f + compare.forth_away_player_p.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_pa.to_f + compare.third_away_player_pa.to_f + compare.forth_away_player_pa.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_ft.to_f + compare.third_away_player_ft.to_f + compare.forth_away_player_ft.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_fta.to_f + compare.third_away_player_fta.to_f + compare.forth_away_player_fta.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_orb.to_f + compare.third_away_player_orb.to_f + compare.forth_away_player_orb.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_stl.to_f + compare.third_away_player_stl.to_f + compare.forth_away_player_stl.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_blk.to_f + compare.third_away_player_blk.to_f + compare.forth_away_player_blk.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_tov.to_f + compare.third_away_player_tov.to_f + compare.forth_away_player_tov.to_f) / count).round(3) %></td>
          <td><%= ((compare.first_away_player_pts.to_f + compare.third_away_player_pts.to_f + compare.forth_away_player_pts.to_f) / count).round(3) %></td>
          <%
            first_away_player_pts = (compare.first_away_player_pts.to_f + compare.third_away_player_pts.to_f + compare.forth_away_player_pts.to_f) / count
            first_away_player_fga = (compare.first_away_player_fga.to_f + compare.third_away_player_fga.to_f + compare.forth_away_player_fga.to_f) / count
            first_away_player_tov = (compare.first_away_player_tov.to_f + compare.third_away_player_tov.to_f + compare.forth_away_player_tov.to_f) / count
            first_away_player_fta = (compare.first_away_player_fta.to_f + compare.third_away_player_fta.to_f + compare.forth_away_player_fta.to_f) / count
            first_away_player_orb = (compare.first_away_player_orb.to_f + compare.third_away_player_orb.to_f + compare.forth_away_player_orb.to_f) / count
            first_away_tp = ((first_away_player_fga + first_away_player_tov + (first_away_player_fta * 0.44) - first_away_player_orb) * (compare.first_away_player_gp.to_i + compare.third_away_player_gp.to_i + compare.forth_away_player_gp.to_i)).round(3)
            tpStyle = "background:darkgray;"
            if first_away_tp > 50
              tpStyle = "background:skyblue;"
            end
          %>
          <td style=<%= tpStyle %>><%= first_away_tp %></td>
          <td><%= (first_away_player_fga + first_away_player_tov + (first_away_player_fta * 0.44) - first_away_player_orb).round(3) %></td>
          <td><%= (first_away_player_pts / (first_away_player_fga + first_away_player_tov + (first_away_player_fta * 0.44) - first_away_player_orb)).round(3) %></td>
          <% unless compare.forth_home_player_age || compare.third_home_player_age || compare.first_home_player_age %>
            <td></td>
          <% end %>
          <td></td>
        </tr>
      <% end %>
      <tr class="gray">
        <td style="background: #9ce168;"><u>THIS YEAR 17-18</u></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= compare.second_home_player_name %></td>
        <td><%= compare.second_home_player_age %></td>
        <td><%= compare.second_home_player_gp %></td>
        <td><%= compare.second_home_player_gs %></td>
        <td><%= compare.second_home_player_mp %></td>
        <td><%= compare.second_home_player_fg %></td>
        <td><%= compare.second_home_player_fga %></td>
        <td><%= compare.second_home_player_p %></td>
        <td><%= compare.second_home_player_pa %></td>
        <td><%= compare.second_home_player_ft %></td>
        <td><%= compare.second_home_player_fta %></td>
        <td><%= compare.second_home_player_orb %></td>
        <td><%= compare.second_home_player_stl %></td>
        <td><%= compare.second_home_player_blk %></td>
        <td><%= compare.second_home_player_tov %></td>
        <td><%= compare.second_home_player_pts %></td>
        <%
          second_home_tp = ((compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb) * compare.second_home_player_gp).round(3)
          tpStyle = "background:darkgray;"
          if second_home_tp > 50
            tpStyle = "background:skyblue;"
          end
        %>
        <td style=<%= tpStyle %>><%= second_home_tp %></td>
        <td><%= (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb).round(3) %></td>
        <td><%= (compare.second_home_player_pts / (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb)).round(3) %></td>
        <td rowspan="2"><%= (compare.second_home_player_pts / (compare.second_home_player_fga + compare.second_home_player_tov + (compare.second_home_player_fta * 0.44) - compare.second_home_player_orb) + compare.second_away_player_pts / (compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb)).round(3) %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= compare.second_away_player_name %></td>
        <td><%= compare.second_away_player_age %></td>
        <td><%= compare.second_away_player_gp %></td>
        <td><%= compare.second_away_player_gs %></td>
        <td><%= compare.second_away_player_mp %></td>
        <td><%= compare.second_away_player_fg %></td>
        <td><%= compare.second_away_player_fga %></td>
        <td><%= compare.second_away_player_p %></td>
        <td><%= compare.second_away_player_pa %></td>
        <td><%= compare.second_away_player_ft %></td>
        <td><%= compare.second_away_player_fta %></td>
        <td><%= compare.second_away_player_orb %></td>
        <td><%= compare.second_away_player_stl %></td>
        <td><%= compare.second_away_player_blk %></td>
        <td><%= compare.second_away_player_tov %></td>
        <td><%= compare.second_away_player_pts %></td>
        <%
          second_away_tp = ((compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb) * compare.second_away_player_gp).round(3)
          tpStyle = "background:darkgray;"
          if second_away_tp > 50
            tpStyle = "background:skyblue;"
          end
        %>
        <td style=<%= tpStyle %>><%= second_away_tp %></td>
        <td><%= (compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb).round(3) %></td>
        <td><%= (compare.second_away_player_pts / (compare.second_away_player_fga + compare.second_away_player_tov + (compare.second_away_player_fta * 0.44) - compare.second_away_player_orb)).round(3) %></td>
        <td></td>
      </tr>
      <tr class="gray" style="height: 20px;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>

<div class="tableContainer">
  <table border="1" class="numbers">
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td>LAST ROAD</td>
      <td>NEXT ROAD</td>
      <td>NEXT HOME</td>
      <td>LAST HOME</td>
      <td></td>
      <td></td>
      <td></td>
      <td>ROAD</td>
      <td>HOME</td>
      <td></td>
      <td>+/-</td>
      <td></td>
      <td style="background: #fa0">GMS</td>
      <td></td>
      <td>1H ROAD</td>
      <td>1H HOME</td>
      <td></td>
      <td>+/-</td>
      <td></td>
      <td>2H ROAD</td>
      <td>2H HOME</td>
      <td></td>
      <td>+/-</td>
      <td></td>
      <td>fg total point</td>
      <td>total lines</td>
      <td></td>
      <td>1h total pts</td>
      <td>1h total lines</td>
      <td>2h total pts</td>
      <td>2h total lines</td>
    </tr>
    <tr>
      <td><%= @game.away_last_fly %></td>
      <td><%= @game.away_next_fly %></td>
      <td><%= @game.away_last_game %></td>
      <td><%= @game.away_next_game %></td>
      <td><%= @game.home_next_game %></td>
      <td><%= @game.home_last_game %></td>
      <td><%= @game.home_next_fly %></td>
      <td><%= @game.home_last_fly %></td>
      <td></td>
      <%
        roadtotal = @secondItem.average(:roadfirsthalf).to_f + @secondItem.average(:roadthird).to_f + @secondItem.average(:roadforth).to_f
        hometotal = @secondItem.average(:homefirsthalf).to_f + @secondItem.average(:homethird).to_f + @secondItem.average(:homeforth).to_f
      %>
      <td><%= @secondItem ? roadtotal.round(2) : "" %></td>
      <td><%= @secondItem ? hometotal.round(2) : "" %></td>
      <td><%= @secondItem ? @secondItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td><%= @secondItem ? (roadtotal - hometotal).round(2) : "" %></td>
      <td></td>
      <td style="background: #fa0"><%= @secondItem ? @secondItem.count(:totalpoint).to_i : "" %></td>
      <td></td>
      <td><%= @secondItem ? @secondItem.average(:roadfirsthalf).to_f.round(2) : "" %></td>
      <td><%= @secondItem ? @secondItem.average(:homefirsthalf).to_f.round(2) : "" %></td>
      <td><%= @secondItem ? @secondItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td><%= @secondItem ? (@secondItem.average(:roadfirsthalf).to_f - @secondItem.average(:homefirsthalf).to_f).round(2) : "" %></td>
      <td></td>
      <td><%= @secondItem ? (@secondItem.average(:roadthird).to_f + @secondItem.average(:roadforth).to_f).round(2) : "" %></td>
      <td><%= @secondItem ? (@secondItem.average(:homethird).to_f + @secondItem.average(:homeforth).to_f).round(2) : "" %></td>
      <td><%= @secondItem ? @secondItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td><%= @secondItem ? (@secondItem.average(:roadthird).to_f + @secondItem.average(:roadforth).to_f - @secondItem.average(:homethird).to_f - @secondItem.average(:homeforth).to_f).round(2) : "" %></td>
      <td></td>
      <td class="filter"><%= @secondItem ? @secondItem.where("fglinetotal is not null AND fglinetotal != 0").average(:totalpoint).to_f.round(2) : "" %></td>
      <td class="filter"><%= @secondItem ? @secondItem.where("fglinetotal is not null AND fglinetotal != 0").average(:fglinetotal).to_f.round(2) : "" %></td>
      <td class="red">1990-2000</td>
      <td class="yellow"></td>
      <td class="yellow"></td>
      <td class="green"></td>
      <td class="green"></td>
    </tr>
    <tr style="background: #fa0">
      <td>ALL</td>
      <td>ALL</td>
      <td>ALL</td>
      <td>ALL</td>
      <td>ALL</td>
      <td>ALL</td>
      <td>ALL</td>
      <td>ALL</td>
      <td></td>
      <td>96.52</td>
      <td>99.57</td>
      <td>196.09</td>
      <td>-3.05</td>
      <td></td>
      <td style="background: #fa0">20904</td>
      <td></td>
      <td>48.62</td>
      <td>50.47</td>
      <td>99.09</td>
      <td>-1.85</td>
      <td></td>
      <td>47.9</td>
      <td>49.1</td>
      <td>97</td>
      <td>-1.2</td>
      <td></td>
      <td class="filter"><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").count(:fglinetotal).to_i : "" %></td>
      <td class="filter"><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").count(:fglinetotal).to_i : "" %></td>
      <td></td>
      <td class="yellow"><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").count(:firstlinetotal).to_i : "" %></td>
      <td class="yellow"><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").count(:firstlinetotal).to_i : "" %></td>
      <td class="green"><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").count(:secondlinetotal).to_i : "" %></td>
      <td class="green"><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").count(:secondlinetotal).to_i : "" %></td>
    </tr>
    <tr>
      <td><%= @game.away_last_fly %></td>
      <td><%= @game.away_next_fly %></td>
      <td><%= @game.away_last_game %></td>
      <td><%= @game.away_next_game %></td>
      <td><%= @game.home_next_game %></td>
      <td><%= @game.home_last_game %></td>
      <td><%= @game.home_next_fly %></td>
      <td><%= @game.home_last_fly %></td>
      <td></td>
      <%
        roadtotal = @countItem.average(:roadfirsthalf).to_f + @countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f
        hometotal = @countItem.average(:homefirsthalf).to_f + @countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f
      %>
      <td><%= @countItem ? roadtotal.round(2) : "" %></td>
      <td><%= @countItem ? hometotal.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.average(:totalvalue).to_f.round(2) : "" %></td>
      <td><%= @countItem ? (roadtotal - hometotal).round(2) : "" %></td>
      <td></td>
      <td style="background: #fa0"><%= @countItem ? @countItem.count(:totalpoint).to_i : "" %></td>
      <td></td>
      <td><%= @countItem ? @countItem.average(:roadfirsthalf).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.average(:homefirsthalf).to_f.round(2) : "" %></td>
      <td><%= @countItem ? @countItem.average(:firstvalue).to_f.round(2) : "" %></td>
      <td><%= @countItem ? (@countItem.average(:roadfirsthalf).to_f - @countItem.average(:homefirsthalf).to_f).round(2) : "" %></td>
      <td></td>
      <td><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f).round(2) : "" %></td>
      <td><%= @countItem ? (@countItem.average(:homethird).to_f + @countItem.average(:homeforth).to_f).round(2) : "" %></td>
      <td><%= @countItem ? @countItem.average(:secondvalue).to_f.round(2) : "" %></td>
      <td><%= @countItem ? (@countItem.average(:roadthird).to_f + @countItem.average(:roadforth).to_f - @countItem.average(:homethird).to_f - @countItem.average(:homeforth).to_f).round(2) : "" %></td>
      <td></td>
      <td class="filter"><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").average(:totalpoint).to_f.round(2) : "" %></td>
      <td class="filter"><%= @countItem ? @countItem.where("fglinetotal is not null AND fglinetotal != 0").average(:fglinetotal).to_f.round(2) : "" %></td>
      <td class="green">2000-2017</td>
      <td class="yellow"><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").average(:firstpoint).to_f.round(2) : "" %></td>
      <td class="yellow"><%= @countItem ? @countItem.where("firstlinetotal is not null AND firstlinetotal != 0").average(:firstlinetotal).to_f.round(2) : "" %></td>
      <td class="green"><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").average(:secondpoint).to_f.round(2) : "" %></td>
      <td class="green"><%= @countItem ? @countItem.where("secondlinetotal is not null AND secondlinetotal != 0").average(:secondlinetotal).to_f.round(2) : "" %></td>
    </tr>
    </tbody>
  </table>
</div>

<!--# 2000-2017 - 2008-->
<!--# 2010-2017 - 2009-->
<!--# 2010-2011 - 2010-->
<!--# 2011-2012 - 2011-->
<!--# 2012-2013 - 2012-->
<!--# 2013-2014 - 2013-->
<!--# 2014-2015 - 2014-->
<!--# 2015-2016 - 2015-->
<!--# 2016-2017 - 2016-->
<!--# 2017-2018 - 2017-->
<!--# 2018-2019 - 2018-->

<div class="tableBody">
  <select id="firstFilter" style="margin: 0 auto; display: block;">
    <% 2017.downto(2008).each do |year| %>
      <option value="<%= year %>">
        <% if year == 2008 %>
          2000-2017
        <% elsif year == 2009 %>
          2010-2017
        <% else %>
          <%= year.to_s + "-" + (year + 1).to_s %>
        <% end %>
      </option>
    <% end %>
  </select>
  <select id="secondFilter" style="margin: 0 auto; display: block;">
    <% 2018.downto(2010).each do |year| %>
      <option value="<%= year %>"><%= year.to_s + "-" + (year + 1).to_s %></option>
    <% end %>
  </select>
  <% (2008..2017).each do |year| %>
    <table border="1" class="tableSide totalAverage firstTravel firstFilterPage firstFilterPage<%= year %>" style="width: 1%; display: none;">
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gameDate"><%= Date.strptime(@game.game_date).strftime("%A %b #{Date.strptime(@game.game_date).day.ordinalize} %Y") %></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td colspan="7"><u><h4 class="gameTeam"><%= @head %></h4></u></td>
        <td></td>
        <td class="line">1H LINE</td>
        <td class="line">2H LINE</td>
        <td class="line">FG LINE</td>
        <td></td>
        <td colspan="11" rowspan="3" class="gray halfstats" style="color: blueviolet;">TRAVEL TABLE
          <% if year == 2008 %>
            2000-2017
          <% elsif year == 2009 %>
            2010-2017
          <% else %>
            <%= year.to_s + "-" + (year + 1).to_s %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="gameDate">TRAVEL</td>
        <td class="gradient"></td>
        <td><u><i>road</i></u></td>
        <td colspan="2">road DAYS REST home</td>
        <td><u><i>home</i></u></td>
        <td></td>
        <td colspan="2" class="gameDate">TRAVEL</td>
        <td></td>
        <td class="gameDate"><%= @game.first_closer_total %></td>
        <td class="gameDate"><%= @game.second_closer_total %></td>
        <td class="gameDate"><%= @game.full_closer_total %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gameDate">RIVALS</td>
        <td></td>
        <td>last Y/N</td>
        <td>next Y/N</td>
        <td class="gradient"></td>
        <td class="gameDate">last</td>
        <td colspan="2" class="gameDate">next game</td>
        <td class="gameDate">last</td>
        <td></td>
        <td>next Y/N</td>
        <td>last Y/N</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="gameDate">
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td><%= @game.away_abbr + " @ " + @game.home_abbr %></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @game.away_last_game %></td>
        <td><%= @game.away_next_game %></td>
        <td><%= @game.home_next_game %></td>
        <td><%= @game.home_last_game %></td>
        <td></td>
        <td><%= @game.home_next_fly[0] %></td>
        <td><%= @game.home_last_fly[0] %></td>
        <td></td>
        <td>1ST<br>HALF</td>
        <td>2ND<br>HALF</td>
        <td>FULL<br>GAME</td>
        <td>GAMES</td>
        <td rowspan="27" class="gradient"></td>
        <td>1ST<br>HALF</td>
        <td>2ND<br>HALF</td>
        <td>FULL<br>GAME</td>
        <td>GAMES</td>
        <td rowspan="28" colspan="3" class="gradient"></td>
        <td colspan="3" class="red">ORTG</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td>RIVALS</td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @firstItem_result[:first] %></td>
        <td><%= @firstItem_result[:second] %></td>
        <td><%= @firstItem_result[:full] %></td>
        <td><%= @firstItem_result[:count] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td>ALL GAMES IN <%= @home_abbr %></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @secondItem_result[:first] %></td>
        <td><%= @secondItem_result[:second] %></td>
        <td><%= @secondItem_result[:full] %></td>
        <td><%= @secondItem_result[:count] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">1st Half</td>
        <td class="gradient"></td>
        <td colspan="2">2nd Half</td>
        <td>ALL GAMES ON <%= Date.strptime(@game.game_date).strftime("%A") %></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @thirdItem_result[:first] %></td>
        <td><%= @thirdItem_result[:second] %></td>
        <td><%= @thirdItem_result[:full] %></td>
        <td><%= @thirdItem_result[:count] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Away</td>
        <td>Home</td>
        <td>+/-</td>
      </tr>
      <tr class="gradient">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <%
        (0..19).each do |index|
          filter_element = @game.filters.find_by(index: index, year: year)
          filter = filter_element.first_one.split("-")
 %>
        <tr class="filterElement">
          <% if index == 0 %>
            <td>under</td>
            <td>over</td>
            <td></td>
            <td>under</td>
            <td>over</td>
            <td>Any</td>
          <% else %>
            <td><%= filter_element[:first_under] %></td>
            <td><%= filter_element[:first_over] %></td>
            <td></td>
            <td><%= filter_element[:second_under] %></td>
            <td><%= filter_element[:second_over] %></td>
            <td>
              <div>
                <%= filter_element.first_one %>
              </div>
            </td>
          <% end %>
          <td></td>
          <% if filter[0] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[1] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
          <% if filter[2] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[3] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[4] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[5] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
          <% if filter[6] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[7] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
          <td class="skyblue"><%= filter_element[:first] %></td>
          <td class="skyblue"><%= filter_element[:second] %></td>
          <td class="skyblue"><%= filter_element[:full] %></td>
          <td class="skyblue"><%= filter_element[:count] %></td>
          <td><%= filter_element[:allfirst] %></td>
          <td><%= filter_element[:allsecond] %></td>
          <td><%= filter_element[:allfull] %></td>
          <td><%= filter_element[:allcount] %></td>
          <td><%= filter_element[:away_ortg] %></td>
          <td><%= filter_element[:home_ortg] %></td>
          <td><%= (filter_element[:away_ortg] - filter_element[:home_ortg]).round(2) %></td>
        </tr>
        <% if @break.include?(index) %>
          <tr class="gradient">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% if index == 19 %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <tr class="redgradient">
        <td class="yellow">Away</td>
        <td class="yellow">Home</td>
        <td class="gradient"></td>
        <td class="yellow">Away</td>
        <td class="yellow">Home</td>
        <td class="yellow">GAMES</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>away</td>
        <td>home</td>
        <td>diff</td>
        <td>BJ</td>
        <td class="yellow">away</td>
        <td class="yellow">home</td>
        <td class="yellow">diff</td>
        <td class="yellow">xxx</td>
        <td class="yellow">BG</td>
        <td class="green">away</td>
        <td class="green">home</td>
        <td class="green">diff</td>
        <td class="green">xxx</td>
        <td class="green">BH</td>
        <td></td>
      </tr>
      <%
        borders = [1, 5]
        values = [0, 1, 19, 18, 10, 11, 20, 21, 16, 14, 15]
        values.each do |value|
          filter_element = @game.filters.find_by(index: value, year: year)
          filter = filter_element.first_one.split("-")
 %>
        <tr>
          <td><%= filter_element[:first_half_away] %></td>
          <td><%= filter_element[:first_half_home] %></td>
          <td class="gradient"></td>
          <td><%= filter_element[:second_half_away] %></td>
          <td><%= filter_element[:second_half_home] %></td>
          <td><%= filter_element[:allcount] %></td>
          <td class="gradient"></td>
          <%
            (0...8).each do |index|
              if filter[index] != 'ANY'
 %>
            <td class="filter border">X</td>
          <% else %>
            <td class="yellow border"></td>
          <%
            end
            if borders.include?(index)
          %>
            <td class="gradient border"></td>
          <%
            end
            end
          %>
          <td class="gradient"></td>
          <td><%= filter_element[:full_first] %></td>
          <td><%= filter_element[:full_second] %></td>
          <td><%= (filter_element[:full_first] - filter_element[:full_second]).round(2) %></td>
          <td><%= filter_element[:bj] %></td>
          <td><%= filter_element[:firsthalf_first] %></td>
          <td><%= filter_element[:firsthalf_second] %></td>
          <td><%= (filter_element[:firsthalf_first] - filter_element[:firsthalf_second]).round(2) %></td>
          <td style="background-color: #ccf"><%= filter_element[:bi_one] %></td>
          <td><%= filter_element[:bg] %></td>
          <td><%= filter_element[:secondhalf_first] %></td>
          <td><%= filter_element[:secondhalf_second] %></td>
          <td><%= (filter_element[:secondhalf_first] - filter_element[:secondhalf_second]).round(2) %></td>
          <td style="background-color: #ccf"><%= filter_element[:bi_two] %></td>
          <td><%= filter_element[:bh] %></td>
          <td style="background-color: #ccf"><%= filter_element[:bi_count] %></td>
        </tr>
      <%
        end
      %>
      <tr class="redgradient">
        <td class="yellow"></td>
        <td class="yellow"></td>
        <td class="gradient"></td>
        <td class="yellow"></td>
        <td class="yellow"></td>
        <td class="yellow">GAMES</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4" class="border">Full Game</td>
        <td colspan="5" class="yellow border">1st Half</td>
        <td colspan="5" class="green border">2nd Half</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  <% end %>

  <% (2010..2018).each do |year| %>
    <table border="1" class="tableSide totalAverage firstTravel secondFilterPage secondFilterPage<%= year %>" style="width: 1%; display: none;">
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gameDate"><%= Date.strptime(@game.game_date).strftime("%A %b #{Date.strptime(@game.game_date).day.ordinalize} %Y") %></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td colspan="7"><u><h4 class="gameTeam"><%= @head %></h4></u></td>
        <td></td>
        <td class="line">1H LINE</td>
        <td class="line">2H LINE</td>
        <td class="line">FG LINE</td>
        <td></td>
        <td colspan="11" rowspan="3" class="gray halfstats" style="color: blueviolet;">TRAVEL TABLE
          <%= year.to_s + "-" + (year + 1).to_s %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2" class="gameDate">TRAVEL</td>
        <td class="gradient"></td>
        <td><u><i>road</i></u></td>
        <td colspan="2">road DAYS REST home</td>
        <td><u><i>home</i></u></td>
        <td></td>
        <td colspan="2" class="gameDate">TRAVEL</td>
        <td></td>
        <td class="gameDate"><%= @game.first_closer_total %></td>
        <td class="gameDate"><%= @game.second_closer_total %></td>
        <td class="gameDate"><%= @game.full_closer_total %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gameDate">RIVALS</td>
        <td></td>
        <td>last Y/N</td>
        <td>next Y/N</td>
        <td class="gradient"></td>
        <td class="gameDate">last</td>
        <td colspan="2" class="gameDate">next game</td>
        <td class="gameDate">last</td>
        <td></td>
        <td>next Y/N</td>
        <td>last Y/N</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="gameDate">
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td><%= @game.away_abbr + " @ " + @game.home_abbr %></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @game.away_last_game %></td>
        <td><%= @game.away_next_game %></td>
        <td><%= @game.home_next_game %></td>
        <td><%= @game.home_last_game %></td>
        <td></td>
        <td><%= @game.home_next_fly[0] %></td>
        <td><%= @game.home_last_fly[0] %></td>
        <td></td>
        <td>1ST<br>HALF</td>
        <td>2ND<br>HALF</td>
        <td>FULL<br>GAME</td>
        <td>GAMES</td>
        <td rowspan="27" class="gradient"></td>
        <td>1ST<br>HALF</td>
        <td>2ND<br>HALF</td>
        <td>FULL<br>GAME</td>
        <td>GAMES</td>
        <td rowspan="28" colspan="3" class="gradient"></td>
        <td colspan="3" class="red">ORTG</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td>RIVALS</td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @firstItem_result[:first] %></td>
        <td><%= @firstItem_result[:second] %></td>
        <td><%= @firstItem_result[:full] %></td>
        <td><%= @firstItem_result[:count] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td>ALL GAMES IN <%= @home_abbr %></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @secondItem_result[:first] %></td>
        <td><%= @secondItem_result[:second] %></td>
        <td><%= @secondItem_result[:full] %></td>
        <td><%= @secondItem_result[:count] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="2">1st Half</td>
        <td class="gradient"></td>
        <td colspan="2">2nd Half</td>
        <td>ALL GAMES ON <%= Date.strptime(@game.game_date).strftime("%A") %></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td><%= @thirdItem_result[:first] %></td>
        <td><%= @thirdItem_result[:second] %></td>
        <td><%= @thirdItem_result[:full] %></td>
        <td><%= @thirdItem_result[:count] %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Away</td>
        <td>Home</td>
        <td>+/-</td>
      </tr>
      <tr class="gradient">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <%
        (0..19).each do |index|
          filter_element = @game.filters.find_by(index: index, year: year)
          filter = filter_element.first_one.split("-")
 %>
        <tr class="filterElement">
          <% if index == 0 %>
            <td>under</td>
            <td>over</td>
            <td></td>
            <td>under</td>
            <td>over</td>
            <td>Any</td>
          <% else %>
            <td><%= filter_element[:first_under] %></td>
            <td><%= filter_element[:first_over] %></td>
            <td></td>
            <td><%= filter_element[:second_under] %></td>
            <td><%= filter_element[:second_over] %></td>
            <td>
              <div>
                <%= filter_element.first_one %>
              </div>
            </td>
          <% end %>
          <td></td>
          <% if filter[0] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[1] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
          <% if filter[2] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[3] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[4] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[5] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
          <% if filter[6] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <% if filter[7] != 'ANY' %>
            <td class="filter">X</td>
          <% else %>
            <td></td>
          <% end %>
          <td></td>
          <td class="skyblue"><%= filter_element[:first] %></td>
          <td class="skyblue"><%= filter_element[:second] %></td>
          <td class="skyblue"><%= filter_element[:full] %></td>
          <td class="skyblue"><%= filter_element[:count] %></td>
          <td><%= filter_element[:allfirst] %></td>
          <td><%= filter_element[:allsecond] %></td>
          <td><%= filter_element[:allfull] %></td>
          <td><%= filter_element[:allcount] %></td>
          <td><%= filter_element[:away_ortg] %></td>
          <td><%= filter_element[:home_ortg] %></td>
          <td><%= (filter_element[:away_ortg] - filter_element[:home_ortg]).round(2) %></td>
        </tr>
        <% if @break.include?(index) %>
          <tr class="gradient">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <% if index == 19 %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <tr class="redgradient">
        <td class="yellow">Away</td>
        <td class="yellow">Home</td>
        <td class="gradient"></td>
        <td class="yellow">Away</td>
        <td class="yellow">Home</td>
        <td class="yellow">GAMES</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>away</td>
        <td>home</td>
        <td>diff</td>
        <td>BJ</td>
        <td class="yellow">away</td>
        <td class="yellow">home</td>
        <td class="yellow">diff</td>
        <td class="yellow">xxx</td>
        <td class="yellow">BG</td>
        <td class="green">away</td>
        <td class="green">home</td>
        <td class="green">diff</td>
        <td class="green">xxx</td>
        <td class="green">BH</td>
        <td></td>
      </tr>
      <%
        borders = [1, 5]
        values = [0, 1, 19, 18, 10, 11, 20, 21, 16, 14, 15]
        values.each do |value|
          filter_element = @game.filters.find_by(index: value, year: year)
          filter = filter_element.first_one.split("-")
 %>
        <tr>
          <td><%= filter_element[:first_half_away] %></td>
          <td><%= filter_element[:first_half_home] %></td>
          <td class="gradient"></td>
          <td><%= filter_element[:second_half_away] %></td>
          <td><%= filter_element[:second_half_home] %></td>
          <td><%= filter_element[:allcount] %></td>
          <td class="gradient"></td>
          <%
            (0...8).each do |index|
              if filter[index] != 'ANY'
 %>
            <td class="filter border">X</td>
          <% else %>
            <td class="yellow border"></td>
          <%
            end
            if borders.include?(index)
          %>
            <td class="gradient border"></td>
          <%
            end
            end
          %>
          <td class="gradient"></td>
          <td><%= filter_element[:full_first] %></td>
          <td><%= filter_element[:full_second] %></td>
          <td><%= (filter_element[:full_first] - filter_element[:full_second]).round(2) %></td>
          <td><%= filter_element[:bj] %></td>
          <td><%= filter_element[:firsthalf_first] %></td>
          <td><%= filter_element[:firsthalf_second] %></td>
          <td><%= (filter_element[:firsthalf_first] - filter_element[:firsthalf_second]).round(2) %></td>
          <td style="background-color: #ccf"><%= filter_element[:bi_one] %></td>
          <td><%= filter_element[:bg] %></td>
          <td><%= filter_element[:secondhalf_first] %></td>
          <td><%= filter_element[:secondhalf_second] %></td>
          <td><%= (filter_element[:secondhalf_first] - filter_element[:secondhalf_second]).round(2) %></td>
          <td style="background-color: #ccf"><%= filter_element[:bi_two] %></td>
          <td><%= filter_element[:bh] %></td>
          <td style="background-color: #ccf"><%= filter_element[:bi_count] %></td>
        </tr>
      <%
        end
      %>
      <tr class="redgradient">
        <td class="yellow"></td>
        <td class="yellow"></td>
        <td class="gradient"></td>
        <td class="yellow"></td>
        <td class="yellow"></td>
        <td class="yellow">GAMES</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="gradient"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4" class="border">Full Game</td>
        <td colspan="5" class="yellow border">1st Half</td>
        <td colspan="5" class="green border">2nd Half</td>
        <td></td>
      </tr>
      </tbody>
    </table>
  <% end %>
</div>
<div class="tableBody">
  <table border="1" class="tableSide" style="border:6px solid black">
    <tbody>
    <tr class="gray">
      <td colspan="3" class="green"></td>
      <td rowspan="9" class="gradient"></td>
      <td>Referee #1<br>
        Referee #2<br>
        Referee #3
      </td>
      <td colspan="7" class="gameDate">Last</td>
      <td></td>
      <td class="gameDate skyblue">1H</td>
      <td class="gameDate skyblue">2H</td>
      <td class="gameDate skyblue">PF</td>
      <td class="gameDate skyblue">FTA</td>
      <td>gms</td>
      <td rowspan="9" class="black"></td>
      <td class="gameDate skyblue">1H</td>
      <td class="gameDate skyblue">2H</td>
      <td class="gameDate skyblue">PF</td>
      <td class="gameDate skyblue">FTA</td>
      <td>gms</td>
      <td></td>
      <td class="green" colspan="2">1st Half</td>
    </tr>
    <tr>
      <td rowspan="3" class="borderTop borderBottom gray">Referee #1<br>
        Referee #2<br>
        Referee #3
      </td>
      <td colspan="2" class="green border"></td>
      <td><%= @game.referee_one %></td>
      <td><%= @referee_filter[0][0] %></td>
      <td><%= @referee_filter[0][1] %></td>
      <td><%= @referee_filter[0][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter[3][0] %></td>
      <td><%= @referee_filter[3][1] %></td>
      <td><%= @referee_filter[3][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter_results[0][0] %></td>
      <td><%= @referee_filter_results[0][1] %></td>
      <td class="gray"><%= @referee_filter_results[0][2] %></td>
      <td><%= @referee_filter_results[0][3] %></td>
      <td><%= @referee_filter_results[0][4] %></td>
      <td><%= @referee_filter_results[3][0] %></td>
      <td><%= @referee_filter_results[3][1] %></td>
      <td class="gray"><%= @referee_filter_results[3][2] %></td>
      <td><%= @referee_filter_results[3][3] %></td>
      <td><%= @referee_filter_results[3][4] %></td>
      <td class="black"></td>
      <td rowspan="3" colspan="2"><%= @referee_part ? @referee_part.last_first : "" %></td>
    </tr>
    <tr>
      <td rowspan="2" class="borderTop borderBottom gray">last</td>
      <td rowspan="2" class="borderTop borderBottom borderRight gray">next</td>
      <td><%= @game.referee_two %></td>
      <td><%= @referee_filter[1][0] %></td>
      <td><%= @referee_filter[1][1] %></td>
      <td><%= @referee_filter[1][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter[4][0] %></td>
      <td><%= @referee_filter[4][1] %></td>
      <td><%= @referee_filter[4][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter_results[1][0] %></td>
      <td><%= @referee_filter_results[1][1] %></td>
      <td class="gray"><%= @referee_filter_results[1][2] %></td>
      <td><%= @referee_filter_results[1][3] %></td>
      <td><%= @referee_filter_results[1][4] %></td>
      <td><%= @referee_filter_results[4][0] %></td>
      <td><%= @referee_filter_results[4][1] %></td>
      <td class="gray"><%= @referee_filter_results[4][2] %></td>
      <td><%= @referee_filter_results[4][3] %></td>
      <td><%= @referee_filter_results[4][4] %></td>
      <td class="black"></td>
    </tr>
    <tr>
      <td><%= @game.referee_three %></td>
      <td><%= @referee_filter[2][0] %></td>
      <td><%= @referee_filter[2][1] %></td>
      <td><%= @referee_filter[2][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter[5][0] %></td>
      <td><%= @referee_filter[5][1] %></td>
      <td><%= @referee_filter[5][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter_results[2][0] %></td>
      <td><%= @referee_filter_results[2][1] %></td>
      <td class="gray"><%= @referee_filter_results[2][2] %></td>
      <td><%= @referee_filter_results[2][3] %></td>
      <td><%= @referee_filter_results[2][4] %></td>
      <td><%= @referee_filter_results[5][0] %></td>
      <td><%= @referee_filter_results[5][1] %></td>
      <td class="gray"><%= @referee_filter_results[5][2] %></td>
      <td><%= @referee_filter_results[5][3] %></td>
      <td><%= @referee_filter_results[5][4] %></td>
      <td class="black"></td>
    </tr>
    <tr>
      <td><%= @game.referee_one %></td>
      <td><%= @game.referee_one_last %></td>
      <td><%= @game.referee_one_next %></td>
      <td rowspan="2" class="gray">Referee #1<br>
        Referee #2<br>
        Referee #3
      </td>
      <td colspan="7" class="gameDate gray" rowspan="2">Next</td>
      <td class="black" rowspan="2"></td>
      <td class="gameDate skyblue" rowspan="2">1H</td>
      <td class="gameDate skyblue" rowspan="2">2H</td>
      <td class="gameDate skyblue" rowspan="2">PF</td>
      <td class="gameDate skyblue" rowspan="2">FTA</td>
      <td rowspan="2" class="gray">gms</td>
      <td class="gameDate skyblue" rowspan="2">1H</td>
      <td class="gameDate skyblue" rowspan="2">2H</td>
      <td class="gameDate skyblue" rowspan="2">PF</td>
      <td class="gameDate skyblue" rowspan="2">FTA</td>
      <td rowspan="2" class="gray">gms</td>
      <td class="black" rowspan="2"></td>
      <td rowspan="3" colspan="2"><%= @referee_part ? @referee_part.last_second : '' %></td>
    </tr>
    <tr>
      <td><%= @game.referee_two %></td>
      <td><%= @game.referee_two_last %></td>
      <td><%= @game.referee_two_next %></td>
    </tr>
    <tr>
      <td><%= @game.referee_three %></td>
      <td><%= @game.referee_three_last %></td>
      <td><%= @game.referee_three_next %></td>
      <td><%= @game.referee_one %></td>
      <td><%= @referee_filter[9][0] %></td>
      <td><%= @referee_filter[9][1] %></td>
      <td><%= @referee_filter[9][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter[6][0] %></td>
      <td><%= @referee_filter[6][1] %></td>
      <td><%= @referee_filter[6][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter_results[9][0] %></td>
      <td><%= @referee_filter_results[9][1] %></td>
      <td class="gray"><%= @referee_filter_results[9][2] %></td>
      <td><%= @referee_filter_results[9][3] %></td>
      <td><%= @referee_filter_results[9][4] %></td>
      <td><%= @referee_filter_results[6][0] %></td>
      <td><%= @referee_filter_results[6][1] %></td>
      <td class="gray"><%= @referee_filter_results[6][2] %></td>
      <td><%= @referee_filter_results[6][3] %></td>
      <td><%= @referee_filter_results[6][4] %></td>
      <td class="black"></td>
    </tr>
    <tr>
      <td colspan="3" rowspan="2" class="green borderRight"></td>
      <td><%= @game.referee_two %></td>
      <td><%= @referee_filter[10][0] %></td>
      <td><%= @referee_filter[10][1] %></td>
      <td><%= @referee_filter[10][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter[7][0] %></td>
      <td><%= @referee_filter[7][1] %></td>
      <td><%= @referee_filter[7][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter_results[10][0] %></td>
      <td><%= @referee_filter_results[10][1] %></td>
      <td class="gray"><%= @referee_filter_results[10][2] %></td>
      <td><%= @referee_filter_results[10][3] %></td>
      <td><%= @referee_filter_results[10][4] %></td>
      <td><%= @referee_filter_results[7][0] %></td>
      <td><%= @referee_filter_results[7][1] %></td>
      <td class="gray"><%= @referee_filter_results[7][2] %></td>
      <td><%= @referee_filter_results[7][3] %></td>
      <td><%= @referee_filter_results[7][4] %></td>
      <td class="black"></td>
      <td rowspan="2" class="green" colspan="2">2nd Half</td>
    </tr>
    <tr>
      <td><%= @game.referee_three %></td>
      <td><%= @referee_filter[11][0] %></td>
      <td><%= @referee_filter[11][1] %></td>
      <td><%= @referee_filter[11][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter[8][0] %></td>
      <td><%= @referee_filter[8][1] %></td>
      <td><%= @referee_filter[8][2] %></td>
      <td class="black"></td>
      <td><%= @referee_filter_results[11][0] %></td>
      <td><%= @referee_filter_results[11][1] %></td>
      <td class="gray"><%= @referee_filter_results[11][2] %></td>
      <td><%= @referee_filter_results[11][3] %></td>
      <td><%= @referee_filter_results[11][4] %></td>
      <td><%= @referee_filter_results[8][0] %></td>
      <td><%= @referee_filter_results[8][1] %></td>
      <td class="gray"><%= @referee_filter_results[8][2] %></td>
      <td><%= @referee_filter_results[8][3] %></td>
      <td><%= @referee_filter_results[8][4] %></td>
      <td class="black"></td>
    </tr>
    <tr>
      <td class="black border" colspan="5"></td>
      <td colspan="2" class="border">Total Games</td>
      <td colspan="2" class="border">1st Half</td>
      <td colspan="2" class="border">2nd Half</td>
      <td colspan="2" class="border">Personal fouls</td>
      <td colspan="2" class="border">FTA's</td>
      <td class="black border"></td>
      <td colspan="2" class="border">Total Games Last 3 years</td>
      <td colspan="2" class="border">1st Half</td>
      <td colspan="2" class="border">2nd Half</td>
      <td colspan="2" class="border">Personal fouls</td>
      <td class="border">FTA's</td>
      <td class="black" class="border"></td>
    </tr>
    <tr>
      <td colspan="5" class="border"><%= @game.referee_one %></td>
      <td colspan="2"><%= @referee_part_one.count(:tp_1h).to_i %></td>
      <td colspan="2"><%= @referee_part_one.average(:tp_1h).to_f.round(2) %></td>
      <td colspan="2"><%= @referee_part_one.average(:tp_2h).to_f.round(2) %></td>
      <td colspan="2" class="gray"><%= (@referee_part_one.average(:away_pf).to_f.round(2) + @referee_part_one.average(:home_pf).to_f.round(2)).round(2) %></td>
      <td colspan="2"><%= (@referee_part_one.average(:away_fta).to_f.round(2) + @referee_part_one.average(:home_fta).to_f.round(2)).round(2) %></td>
      <td class="black"></td>
      <td colspan="2"><%= @referee_part_one_last.count(:tp_1h).to_i %></td>
      <td colspan="2"><%= @referee_part_one_last.average(:tp_1h).to_f.round(2) %></td>
      <td colspan="2"><%= @referee_part_one_last.average(:tp_2h).to_f.round(2) %></td>
      <td colspan="2" class="gray"><%= (@referee_part_one_last.average(:away_pf).to_f.round(2) + @referee_part_one_last.average(:home_pf).to_f.round(2)).round(2) %></td>
      <td><%= (@referee_part_one_last.average(:away_fta).to_f.round(2) + @referee_part_one_last.average(:home_fta).to_f.round(2)).round(2) %></td>
      <td class="black"></td>
    </tr>
    <tr class="black border">
      <td colspan="5"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td class="black"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td></td>
      <td class="black"></td>
    </tr>
    <tr>
      <td colspan="5" class="border"><%= @game.referee_two %></td>
      <td colspan="2"><%= @referee_part_two.count(:tp_1h).to_i %></td>
      <td colspan="2"><%= @referee_part_two.average(:tp_1h).to_f.round(2) %></td>
      <td colspan="2"><%= @referee_part_two.average(:tp_2h).to_f.round(2) %></td>
      <td colspan="2" class="gray"><%= (@referee_part_two.average(:away_pf).to_f.round(2) + @referee_part_two.average(:home_pf).to_f.round(2)).round(2) %></td>
      <td colspan="2"><%= (@referee_part_two.average(:away_fta).to_f.round(2) + @referee_part_two.average(:home_fta).to_f.round(2)).round(2) %></td>
      <td class="black"></td>
      <td colspan="2"><%= @referee_part_two_last.count(:tp_1h).to_i %></td>
      <td colspan="2"><%= @referee_part_two_last.average(:tp_1h).to_f.round(2) %></td>
      <td colspan="2"><%= @referee_part_two_last.average(:tp_2h).to_f.round(2) %></td>
      <td colspan="2" class="gray"><%= (@referee_part_two_last.average(:away_pf).to_f.round(2) + @referee_part_two_last.average(:home_pf).to_f.round(2)).round(2) %></td>
      <td><%= (@referee_part_two_last.average(:away_fta).to_f.round(2) + @referee_part_two_last.average(:home_fta).to_f.round(2)).round(2) %></td>
      <td class="black"></td>
    </tr>
    <tr class="black border">
      <td colspan="5"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td class="black"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td></td>
      <td class="black"></td>
    </tr>
    <tr>
      <td colspan="5" class="border"><%= @game.referee_three %></td>
      <td colspan="2"><%= @referee_part_three.count(:tp_1h).to_i %></td>
      <td colspan="2"><%= @referee_part_three.average(:tp_1h).to_f.round(2) %></td>
      <td colspan="2"><%= @referee_part_three.average(:tp_2h).to_f.round(2) %></td>
      <td colspan="2" class="gray"><%= (@referee_part_three.average(:away_pf).to_f.round(2) + @referee_part_three.average(:home_pf).to_f.round(2)).round(2) %></td>
      <td colspan="2"><%= (@referee_part_three.average(:away_fta).to_f.round(2) + @referee_part_three.average(:home_fta).to_f.round(2)).round(2) %></td>
      <td class="black"></td>
      <td colspan="2"><%= @referee_part_three_last.count(:tp_1h).to_i %></td>
      <td colspan="2"><%= @referee_part_three_last.average(:tp_1h).to_f.round(2) %></td>
      <td colspan="2"><%= @referee_part_three_last.average(:tp_2h).to_f.round(2) %></td>
      <td colspan="2" class="gray"><%= (@referee_part_three_last.average(:away_pf).to_f.round(2) + @referee_part_three_last.average(:home_pf).to_f.round(2)).round(2) %></td>
      <td><%= (@referee_part_three_last.average(:away_fta).to_f.round(2) + @referee_part_three_last.average(:home_fta).to_f.round(2)).round(2) %></td>
      <td class="black"></td>
    </tr>
    <tr class="black border">
      <td colspan="5"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td class="black"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td colspan="2"></td>
      <td></td>
      <td class="black"></td>
    </tr>
    </tbody>
  </table>
</div>

<script>
    $('#firstFilter').change(function () {
        var value = $(this).val();
        $('.firstFilterPage').hide();
        $('.firstFilterPage' + value).show();
    });
    $('.firstFilterPage2017').show();
    $('#secondFilter').change(function () {
        var value = $(this).val();
        $('.secondFilterPage').hide();
        $('.secondFilterPage' + value).show();
    });
    $('.secondFilterPage2018').show();
</script>
