<% content_for :title, @game.away_abbr + " @ " + @game.home_abbr %>
<div class="header row">
  <div class="col-md-1 col-md-offset-2">
    <p>POSSESSIONS</p>
    <input type="text" class="awayPossessions" value="100"/>
  </div>
  <div class="col-md-4  col-md-offset-1">
    <h1><%= @head %></h1>
  </div>
  <div class="col-md-1 col-md-offset-1">
    <p>POSSESSIONS</p>
    <input type="text"  class="homePossessions" value="100"/>
  </div>
</div>

<ul>
  <li><%= link_to 'Back', { action: 'game', id: @date_id + ' - ' + @date_id }%></li>
</ul>


<div class="tableBody">
  <input type="checkbox" class="selectInjury" />
  <span>Show Injuries</span>
</div>
<script>
  $(document).ready(function(){
    $('.selectInjury').change(function() {
      if (this.checked) {
        $('.inqurytable').css("display", "none");
        $('.fulltable').css("display", "block");
      } else {
        $('.fulltable').css("display", "none");
        $('.inqurytable').css("display", "block");
      }
    });
  });
</script>
<div class="tableBody inqurytable">
  <h5> NEXT STAT </h5>
  <table border="1" class="tableSide">
    <thead>
      <tr>
        <th>Birth Date</th>
        <th><%= @game.away_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>OR</th>
        <th>STL</th>
        <th>BLK</th>
        <th>TO</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @away_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle = ""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
            style="background:red;"
            darkstyle="background:red;"
          end
          if @injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end

      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td class="lists list<%= player.id %>"  style='<%= style %>' ><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group1.size %>"><%= '%.2f' % @injury_away_drtg_one %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="injurychangeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <% if @away_injury_name.include?(player.player_name) %>
            <% if @injuries.include?(player.id.to_s) %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>" checked>
            <% else %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>"> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% @away_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle = ""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
            style="background:red;"
            darkstyle="background:red;"
          end
          if @injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group2.size %>"><%= '%.2f' % @injury_away_drtg_two %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="injurychangeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <% if @away_injury_name.include?(player.player_name) %>
            <% if @injuries.include?(player.id.to_s) %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>" checked>
            <% else %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>"> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="16"></td>
      </tr>
    <% @away_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name)
            style="background:red;"
            darkstyle="background:red;"
          end
          if @injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td  style='<%= style %>' class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= darkstyle %>'  class="injurychangeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <% if @away_injury_name.include?(player.player_name) %>
            <% if @injuries.include?(player.id.to_s) %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>" checked>
            <% else %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>"> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="17"></td>
      </tr>
      <tr style="background: darkred">
        <td>TOTALS</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @injury_away_total_or.round(2) %></td>
        <td><%= @injury_away_total_stl.round(2) %></td>
        <td><%= @injury_away_total_blk.round(2) %></td>
        <td><%= @injury_away_total_to.round(2) %></td>
        <td><%= '%.2f' % @injury_away_total_poss %>%</td>
        <td><%= @injury_away_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="injuryawaysum1"></td>
        <td colspan="2" id="injuryawaysum" style="background:#ff6666"></td>
        <td id="injuryawaysum2"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= (@injury_away_total_or/@injury_away_total_min * 240).round(2) %></td>
        <td><%= (@injury_away_total_stl/@injury_away_total_min * 240).round(2) %></td>
        <td><%= (@injury_away_total_blk/@injury_away_total_min * 240).round(2) %></td>
        <td><%= (@injury_away_total_to/@injury_away_total_min * 240).round(2) %></td>
        <td class="red"><%= (@injury_away_total_or/@injury_away_total_min * 240 +
            @injury_away_total_stl/@injury_away_total_min * 240 +
            @injury_away_total_blk/@injury_away_total_min * 240 -
            @injury_away_total_to/@injury_away_total_min * 240).round(2) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>

<table border="1" class="tableSide">
    <thead>
      <tr>
        <th>Birth Date</th>
        <th><%= @game.home_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>OR</th>
        <th>STL</th>
        <th>BLK</th>
        <th>TO</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @home_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
            style="background:red;"
            darkstyle="background:red;"
          end
          if @injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group1.size %>"><%= '%.2f' % @injury_home_drtg_one %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="injurychangeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <% if @home_injury_name.include?(player.player_name) %>
            <% if @injuries.include?(player.id.to_s) %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>" checked>
            <% else %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>"> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% @home_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
            style="background:red;"
            darkstyle="background:red;"
          end
          if @injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group2.size %>"><%= '%.2f' % @injury_home_drtg_two %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="injurychangeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <% if @home_injury_name.include?(player.player_name) %>
            <% if @injuries.include?(player.id.to_s) %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>" checked>
            <% else %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>"> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="16"></td>
      </tr>
    <% @home_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name)
            style="background:red;"
            darkstyle="background:red;"
          end
          if @injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.sum_mins ? player.sum_mins/(count - 2) : "Checking" %></td>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="injurychangeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= darkstyle %>'  class="injurychangeDrtg<%= player.id %>"></td>
        <td style='<%= style %>'  class="checkbox<%= player.id %>">
          <% if @home_injury_name.include?(player.player_name) %>
            <% if @injuries.include?(player.id.to_s) %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>" checked>
            <% else %>
              <input type="checkbox" class="injuryCheck injury<%= player.id %>"> 
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="17"></td>
      </tr>
      <tr style="background: darkred">
        <td>TOTALS</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @injury_home_total_or.round(2) %></td>
        <td><%= @injury_home_total_stl.round(2) %></td>
        <td><%= @injury_home_total_blk.round(2) %></td>
        <td><%= @injury_home_total_to.round(2) %></td>
        <td><%= '%.2f' % @injury_home_total_poss %>%</td>
        <td><%= @injury_home_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="injuryhomesum1"></td>
        <td colspan="2" id="injuryhomesum" style="background:#ff6666"></td>
        <td id="injuryhomesum2"></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @injury_home_total_min != 0 ? (@injury_home_total_or/@injury_home_total_min * 240).round(2) : "" %></td>
        <td><%= @injury_home_total_min != 0 ? (@injury_home_total_stl/@injury_home_total_min * 240).round(2) : "" %></td>
        <td><%= @injury_home_total_min != 0 ? (@injury_home_total_blk/@injury_home_total_min * 240).round(2) : "" %></td>
        <td><%= @injury_home_total_min != 0 ? (@injury_home_total_to/@injury_home_total_min * 240).round(2) : "" %></td>
        <td class="red"><%= @injury_home_total_min != 0 ? (@injury_home_total_or/@injury_home_total_min * 240 +
            @injury_home_total_stl/@injury_home_total_min * 240 +
            @injury_home_total_blk/@injury_home_total_min * 240 -
            @injury_home_total_to/@injury_home_total_min * 240).round(2) : "" %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>

<div class="tableBody fulltable" style="display:none">
  <h5> NEXT STAT </h5>
  <table border="1" class="tableSide">
    <thead>
      <tr>
        <th>Birth Date</th>
        <th><%= @game.away_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>OR</th>
        <th>STL</th>
        <th>BLK</th>
        <th>TO</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @away_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
            darkstyle="background:red;"
          end
          if @away_drtg_two_container.include?(player.id) || @away_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end

      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td class="lists list<%= player.id %>"  style='<%= style %>' ><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group1.size %>"><%= '%.2f' % @away_drtg_one %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="changeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>

    <% @away_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
            darkstyle="background:red;"
          end
          if @away_drtg_two_container.include?(player.id) || @away_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @away_players_group2.size %>"><%= '%.2f' % @away_drtg_two %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="changeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="15"></td>
      </tr>
    <% @away_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
            darkstyle="background:red;"
          end
          if @away_drtg_two_container.include?(player.id) || @away_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td  style='<%= style %>' class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= darkstyle %>'  class="changeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="16"></td>
      </tr>
      <tr style="background: darkred">
        <td>TOTALS</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @away_total_or.round(2) %></td>
        <td><%= @away_total_stl.round(2) %></td>
        <td><%= @away_total_blk.round(2) %></td>
        <td><%= @away_total_to.round(2) %></td>
        <td><%= '%.2f' % @away_total_poss %>%</td>
        <td><%= @away_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="awaysum1"></td>
        <td colspan="2" id="awaysum" style="background:#ff6666"></td>
        <td id="awaysum2"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= (@away_total_or/@away_total_min * 240).round(2) %></td>
        <td><%= (@away_total_stl/@away_total_min * 240).round(2) %></td>
        <td><%= (@away_total_blk/@away_total_min * 240).round(2) %></td>
        <td><%= (@away_total_to/@away_total_min * 240).round(2) %></td>
        <td class="red"><%= (@away_total_or/@away_total_min * 240 +
            @away_total_stl/@away_total_min * 240 +
            @away_total_blk/@away_total_min * 240 -
            @away_total_to/@away_total_min * 240).round(2) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
</table>

<table border="1" class="tableSide">
    <thead>
      <tr>
        <th>Birth Date</th>
        <th><%= @game.home_team %> <br> Starters</th>
        <th>POS</th>
        <th>HT</th>
        <th>OR</th>
        <th>STL</th>
        <th>BLK</th>
        <th>TO</th>
        <th>PLAYER <br> POSS %</th>
        <th>MINS</th>
        <th>PRO RATE</th>
        <th>ORTG</th>
        <th></th>
        <th>DRTG</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @home_players_group1.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
            darkstyle="background:red;"
          end
          if @home_drtg_two_container.include?(player.id) || @home_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group1.size %>"><%= '%.2f' % @home_drtg_one %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="changeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>

    <% @home_players_group2.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
            darkstyle="background:red;"
          end
          if @home_drtg_two_container.include?(player.id) || @home_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_mins %>
        <td style='<%= style %>' ><%= player.sum_mins/(count - 2) %></td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <% if index == 0 %>
        <td rowspan="<%= @home_players_group2.size %>"><%= '%.2f' % @home_drtg_two %></td>
        <% end %>
        <td style='<%= darkstyle %>'  class="changeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td>BENCH</td>
        <td colspan="15"></td>
      </tr>
    <% @home_players_group3.each_with_index do |player, index| 
          count = 1
          style =""
          darkstyle=""
          if player.possession
              count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
          if count < 10 || player.sum_mins/(count - 2) < 10
            style="background:red;"
            darkstyle="background:red;"
          end
          if @home_drtg_two_container.include?(player.id) || @home_drtg_one_container.include?(player.id)
            style="background:skyblue;"
            darkstyle="background:dodgerblue;"
          end
      %>
      <tr>
        <%
          if player.birthdate
            birthdate_index = player.birthdate.index(" in ")
            birthdate_index = player.birthdate.index("(Age") unless birthdate_index
          end
        %>
        <td style='<%= style %>' ><%= birthdate_index ? player.birthdate[0..birthdate_index-1] : player.birthdate %></td>
        <td style='<%= style %>'  class="lists list<%= player.id %>"><%= player.player_name %></td>
        <td style='<%= style %>' ><%= player.position %></td>
        <% 
        if player.height
          height_index = player.height.index(",")
        end
        %>
        <td style='<%= style %>' ><%= height_index ? player.height[0..height_index-1] : "" %></td>
        <%
          count = 1
          if player.possession
            count = player.possession.scan(/,/).count + 1
          end
          if count == 2
            count = 1
          end
        %>
        <td style='<%= style %>' ><%= (player.sum_or.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_stl.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_blk.to_f/count).round(2) %></td>
        <td style='<%= style %>' ><%= (player.sum_to.to_f/count).round(2) %></td>
         <% if player.sum_poss && player.team_poss && player.team_poss != 0 %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * player.sum_poss.to_f/player.team_poss) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.sum_mins ? player.sum_mins/(count - 2) : "Checking" %></td>
        <% if player.sum_poss %>
        <td style='<%= style %>' ><%= '%.2f' % (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>%</td>
        <% else %>
        <td style='<%= style %>' ></td>
        <% end %>
        <td style='<%= style %>' ><%= player.ortg %></td>
        <td style='<%= darkstyle %>'  class="changeOrtg<%= player.id %>"></td>
        <td style='<%= style %>' ><%= player.drtg %></td>
        <td style='<%= style %>' ></td>
        <td style='<%= darkstyle %>'  class="changeDrtg<%= player.id %>"></td>
      </tr>
    <% end %>
      <tr style="background: grey">
        <td colspan="16"></td>
      </tr>
      <tr style="background: darkred">
        <td>TOTALS</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @home_total_or.round(2) %></td>
        <td><%= @home_total_stl.round(2) %></td>
        <td><%= @home_total_blk.round(2) %></td>
        <td><%= @home_total_to.round(2) %></td>
        <td><%= '%.2f' % @home_total_poss %>%</td>
        <td><%= @home_total_min %></td>
        <td>100%</td>
        <td></td>
        <td id="homesum1"></td>
        <td colspan="2" id="homesum" style="background:#ff6666"></td>
        <td id="homesum2"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= (@home_total_or/@home_total_min * 240).round(2) %></td>
        <td><%= (@home_total_stl/@home_total_min * 240).round(2) %></td>
        <td><%= (@home_total_blk/@home_total_min * 240).round(2) %></td>
        <td><%= (@home_total_to/@home_total_min * 240).round(2) %></td>
        <td class="red"><%= (@home_total_or/@home_total_min * 240 +
            @home_total_stl/@home_total_min * 240 +
            @home_total_blk/@home_total_min * 240 -
            @home_total_to/@home_total_min * 240).round(2) %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="2"></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>
<% @away_players.each_with_index do |player, index|
  unless player.possession
    next
  end
%>
<div style="display:none" class="boxes box<%= player.id %>">
            <table border="1">
                <thead>
                  <tr>
                    <th>GameID</th>
                    <th>MIN</th>
                    <th>FGA</th>
                    <th>FTA</th>
                    <th>TO</th>
                    <th>OR</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>POSS</th>
                    <th>PTS</th>
                    <th>PPP</th>
                    <th>TEAM POSS</th>
                  </tr>
                </thead>
                <tbody>
               
                  <%
                    game_list = player.possession.split(/,/)
                    total_mins = 0
                    total_fga = 0 
                    total_fta = 0
                    total_toValue = 0
                    total_orValue = 0
                    total_stlValue = 0
                    total_blkValue = 0
                    total_poss = 0
                    total_pts = 0
                    total_ppp = 0
                    total_team_poss = 0
                    game_list.each do |search_game_id|
                      search_game = Nba.where(id: search_game_id).first
                      search_player = Player.where("nba_id = ? AND player_name = ?", search_game_id, player.player_name).first
                      next unless search_player
                      team_player = Player.where("nba_id = ? AND player_name = 'TEAM' AND team_abbr = ?", search_game_id, search_player.team_abbr).first
                      total_mins = total_mins + search_player.mins
                      total_fga = total_fga + search_player.fga
                      total_fta = total_fta + search_player.fta
                      total_toValue = total_toValue + search_player.toValue
                      total_orValue = total_orValue + search_player.orValue
                      total_stlValue = total_stlValue + search_player.stlValue.to_i
                      total_blkValue = total_blkValue + search_player.blkValue.to_i
                      total_poss = total_poss + search_player.poss
                      total_pts = total_pts + search_player.ptsValue.to_i
                      if search_player.poss != 0
                        total_ppp = total_ppp + search_player.ptsValue.to_f / search_player.poss
                      end
                      total_team_poss = total_team_poss + team_player.poss
                  %>
                  <tr>
                    <td><%= search_game.date %>, <%= search_game.year %></td>
                    <td><%= search_player.mins %></td>
                    <td><%= search_player.fga %></td>
                    <td><%= search_player.fta %></td>
                    <td><%= search_player.toValue %></td>
                    <td><%= search_player.orValue %></td>
                    <td><%= search_player.stlValue %></td>
                    <td><%= search_player.blkValue %></td>
                    <td><%= search_player.poss.round(2) %></td>
                    <td><%= search_player.ptsValue %></td>
                    <% if search_player.poss != 0 %>
                      <td><%= (search_player.ptsValue.to_f / search_player.poss).round(3) %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td><%= team_player.poss.round(2) %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Total</td>
                    <td><%= total_mins %></td>
                    <td><%= total_fga %></td>
                    <td><%= total_fta %></td>
                    <td><%= total_toValue %></td>
                    <td><%= total_orValue %></td>
                    <td><%= total_stlValue %></td>
                    <td><%= total_blkValue %></td>
                    <td><%= total_poss.round(2) %></td>
                    <td><%= total_pts %></td>
                    <td><%= total_ppp.round(3) %></td>
                    <td><%= total_team_poss.round(2) %></td>
                  </tr>
                </tbody>
            </table>
      </div>
      <% end %>

      <% @home_players.each_with_index do |player, index| %>
<div style="display:none" class="boxes box<%= player.id %>">
            <table border="1">
                <thead>
                  <tr>
                    <th>GameID</th>
                    <th>MIN</th>
                    <th>FGA</th>
                    <th>FTA</th>
                    <th>TO</th>
                    <th>OR</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>POSS</th>
                    <th>PTS</th>
                    <th>PPP</th>
                    <th>TEAM POSS</th>
                  </tr>
                </thead>
                <tbody>
               
                  <%
                    game_list = player.possession ? player.possession.split(/,/) : []
                    total_mins = 0
                    total_fga = 0
                    total_fta = 0
                    total_toValue = 0
                    total_orValue = 0
                    total_stlValue = 0
                    total_blkValue = 0
                    total_poss = 0
                    total_pts = 0
                    total_ppp = 0
                    total_team_poss = 0
                    game_list.each do |search_game_id|
                      search_game = Nba.where(id: search_game_id).first
                      search_player = Player.where("nba_id = ? AND player_name = ?", search_game_id, player.player_name).first
                      next unless search_player
                      team_player = Player.where("nba_id = ? AND player_name = 'TEAM' AND team_abbr = ?", search_game_id, search_player.team_abbr).first
                      total_mins = total_mins + search_player.mins
                      total_fga = total_fga + search_player.fga
                      total_fta = total_fta + search_player.fta
                      total_toValue = total_toValue + search_player.toValue
                      total_orValue = total_orValue + search_player.orValue
                      total_stlValue = total_stlValue + search_player.stlValue.to_i
                      total_blkValue = total_blkValue + search_player.blkValue.to_i
                      total_poss = total_poss + search_player.poss
                      total_pts = total_pts + search_player.ptsValue.to_i
                      if search_player.poss != 0
                        total_ppp = total_ppp + search_player.ptsValue.to_f / search_player.poss
                      end
                      total_team_poss = total_team_poss + team_player.poss
                  %>
                  <tr>
                    <td><%= search_game.date %>, <%= search_game.year %></td>
                    <td><%= search_player.mins %></td>
                    <td><%= search_player.fga %></td>
                    <td><%= search_player.fta %></td>
                    <td><%= search_player.toValue %></td>
                    <td><%= search_player.orValue %></td>
                    <td><%= search_player.stlValue %></td>
                    <td><%= search_player.blkValue %></td>
                    <td><%= search_player.poss.round(2) %></td>
                    <td><%= search_player.ptsValue %></td>
                    <% if search_player.poss != 0 %>
                      <td><%= (search_player.ptsValue.to_f / search_player.poss).round(3) %></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td><%= team_player.poss.round(2) %></td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>Total</td>
                    <td><%= total_mins %></td>
                    <td><%= total_fga %></td>
                    <td><%= total_fta %></td>
                    <td><%= total_toValue %></td>
                    <td><%= total_orValue %></td>
                    <td><%= total_stlValue %></td>
                    <td><%= total_blkValue %></td>
                    <td><%= total_poss.round(2) %></td>
                    <td><%= total_pts %></td>
                    <td><%= total_ppp.round(3) %></td>
                    <td><%= total_team_poss.round(2) %></td>
                  </tr>
                </tbody>
            </table>
      </div>
      <% end %>
<script>
$(document).ready(function(){
  $(".lists").click(function() {
    if ($(".box" + $(this)[0].className.substr(10)).css("display") == "none")
    {
      $(".boxes").css("display", "none");
      $(".box" + $(this)[0].className.substr(10)).fadeIn(750);
      var position = $(this).position();
      $(".box" + $(this)[0].className.substr(10)).css("position", "absolute");
      $(".box" + $(this)[0].className.substr(10)).css("top", position.top + 20);
      $(".box" + $(this)[0].className.substr(10)).css("left", position.left);
      $(".box" + $(this)[0].className.substr(10)).css("background", "white");
    }
    else {
      $(".boxes").css("display", "none");
    }
  });
  
  $('.injuryCheck').change(function() {
    console.log(this.checked);
    var injuryCheckboxes = $('.injuryCheck');
    var injuries = [];
    for(var i = 0; i < injuryCheckboxes.length; i ++) {
      if(injuryCheckboxes[i].checked)
        injuries.push(injuryCheckboxes[i].className.substr(18));
    }
    var hreflinks = window.location.pathname.split('/');
    hreflinks[4] = injuries.join(',');
    window.location.pathname = hreflinks.join('/');
  });
});
$('.awayPossessions').on('input', function() {
    awayInput();
});
function awayInput() {
  var value = $('.awayPossessions').val();

  var injurysum1 = 0, injurysum2 = 0;
  <% @away_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name))
      next
    end
  %>
  var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
  console.log(prorate);
    $(".injurychangeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100);
    injurysum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @away_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name))
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_one %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_one %>;
    <% end %>
    <% @away_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name))
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_two %>)/100);
     injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_two %>;
    <% end %>
    <% @away_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_away_drtg_two_container.include?(player.id) || @injury_away_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @away_injury_name.include?(player.player_name))
      next
    end
  %>
  var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_away_total_poss ) %>
  console.log(prorate);
  <%
    if player.position == 'SG' || player.position == 'PG'
  %>
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_one %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_one %>;
    <% else %>
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_home_drtg_two %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_home_drtg_two %>;
  <%
    end 
  end
  %>
  injurysum = (injurysum1+injurysum2)/2
  injurysum = Math.round(injurysum*10)/10;
  injurysum1 = Math.round(injurysum1*10)/10;
  injurysum2 = Math.round(injurysum2*10)/10;
  $('#injuryawaysum').html(injurysum);
  $('#injuryawaysum1').html(injurysum1);
  $('#injuryawaysum2').html(injurysum2);

  var sum1 = 0, sum2 = 0;
  <% @away_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
  var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
  console.log(prorate);
    $(".changeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100);
    sum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @away_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_one %>)/100);
    sum2 += value/10000 * prorate * <%= @home_drtg_one %>;
    <% end %>
    <% @away_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_two %>)/100);
     sum2 += value/10000 * prorate * <%= @home_drtg_two %>;
    <% end %>
    <% @away_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
  var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @away_total_poss ) %>
  console.log(prorate);
  <%
    if player.position == 'SG' || player.position == 'PG'
  %>
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_one %>)/100);
    sum2 += value/10000 * prorate * <%= @home_drtg_one %>;
    <% else %>
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @home_drtg_two %>)/100);
    sum2 += value/10000 * prorate * <%= @home_drtg_two %>;
  <%
    end 
  end
  %>
  sum = (sum1+sum2)/2
  sum = Math.round(sum*10)/10;
  sum1 = Math.round(sum1*10)/10;
  sum2 = Math.round(sum2*10)/10;
  $('#awaysum').html(sum);
  $('#awaysum1').html(sum1);
  $('#awaysum2').html(sum2);
}
awayInput();
$('.homePossessions').on('input', function() {
    homeInput();
});
function homeInput() {
  var value = $('.homePossessions').val();
    var injurysum1 = 0, injurysum2 = 0;
   <% @home_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name))
      next
    end
  %>
   var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
   console.log(prorate);
    $(".injurychangeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100);
    injurysum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @home_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name))
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_one %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_one %>;
    <% end %>
    <% @home_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name))
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
    console.log(prorate);
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_two %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_two %>;
    <% end %>
    <% @home_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if !(@injury_home_drtg_two_container.include?(player.id) || @injury_home_drtg_one_container.include?(player.id)) && (count < 10 || player.sum_mins/(count - 2) < 10 || @home_injury_name.include?(player.player_name))
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @injury_home_total_poss ) %>
    console.log(prorate);
    <%
      if player.position == 'SG' || player.position == 'PG'
    %>
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_one %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_one %>;
    <% else %>
    $(".injurychangeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @injury_away_drtg_two %>)/100);
    injurysum2 += value/10000 * prorate * <%= @injury_away_drtg_two %>;
    <%
      end 
    end
    %>
    injurysum = (injurysum1+injurysum2)/2
    injurysum = Math.round(injurysum*10)/10;
    injurysum1 = Math.round(injurysum1*10)/10;
    injurysum2 = Math.round(injurysum2*10)/10;
    $('#injuryhomesum').html(injurysum);
    $('#injuryhomesum1').html(injurysum1);
    $('#injuryhomesum2').html(injurysum2);

    var sum1 = 0, sum2 = 0;
   <% @home_players.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
   var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
   console.log(prorate);
    $(".changeOrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= player.ortg ? player.ortg : 0 %>)/100);
    sum1 += value/10000 * prorate * <%= player.ortg ? player.ortg : 0 %>;
    <% end %>
    <% @home_players_group1.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_one %>)/100);
    sum2 += value/10000 * prorate * <%= @away_drtg_one %>;
    <% end %>
    <% @home_players_group2.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
    console.log(prorate);
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_two %>)/100);
    sum2 += value/10000 * prorate * <%= @away_drtg_two %>;
    <% end %>
    <% @home_players_group3.each_with_index do |player, index| 
    count = 1
    if player.possession
        count = player.possession.scan(/,/).count + 1
    end
    if count < 10 || player.sum_mins/(count - 2) < 10
      next
    end
  %>
    var prorate = <%= (100 * (100 * player.sum_poss.to_f/player.team_poss) / @home_total_poss ) %>
    console.log(prorate);
    <%
      if player.position == 'SG' || player.position == 'PG'
    %>
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_one %>)/100);
    sum2 += value/10000 * prorate * <%= @away_drtg_one %>;
    <% else %>
    $(".changeDrtg<%= player.id %>").html(Math.round(value/100 * prorate * <%= @away_drtg_two %>)/100);
    sum2 += value/10000 * prorate * <%= @away_drtg_two %>;
    <%
      end 
    end
    %>
    sum = (sum1+sum2)/2
    sum = Math.round(sum*10)/10;
    sum1 = Math.round(sum1*10)/10;
    sum2 = Math.round(sum2*10)/10;
    $('#homesum').html(sum);
    $('#homesum1').html(sum1);
    $('#homesum2').html(sum2);
}
homeInput();
</script>



<div style="
    position: absolute;
    top: 10px;
    left: 10px;
">
  <button class="btn btn-danger refreshbutton">Refresh</button>
</div>
  
<script>
 $('.refreshbutton').click(function(){
    window.location.href = window.location.href;
  });
</script>

<div class="tableBody injury">
  <table border="1">
    <thead>
      <tr>
        <th width="100">Team</th>
        <th width="100">Date</th>
        <th width="100">Name</th>
        <th width="100">Status</th>
        <th width="600">Description</th>
      </tr>
    </thead>
    <tbody>
      <% @home_injury.each do |injury| %>
        <tr>
          <td> <%= injury.team %> </td>
          <td> <%= injury.date %> </td>
          <td> <%= injury.name %> </td>
          <td> <%= injury.status %> </td>
          <td> <%= injury.text %> </td>
        </tr>
      <% end %>
      <% @away_injury.each do |injury| %>
        <tr>
          <td> <%= injury.team %> </td>
          <td> <%= injury.date %> </td>
          <td> <%= injury.name %> </td>
          <td> <%= injury.status %> </td>
          <td> <%= injury.text %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>