<%= select_tag :weeks, options_for_select(@week_dropdown, @game_index), :id => "select_weeks" %>
<script>
$(document).ready(function(){
    $('#select_weeks').change(function() {
        window.location.href = "/welcome/index/" + $(this).val()
    });
});
</script>

<div class="main">
	<table class="game-index" border="1">
  		<thead style="font-size: 0.7em">
  			<tr>
  				<th width="40"></th>
  				<th width="30"></th>
  				<th width="200"></th>
  				<th width="30"></th>
  				<th width="50"></th>
  				<th width="50"></th>
  				<th width="50"></th>
  				<th width="50"></th>
  				<th width="150"></th>
  				<th width="150"></th>
  				<th colspan="9">1st Half</th>
  				<th colspan="2">Drives</th>
  				<th width="30"></th>
  			</tr>
  			<tr>
  				<th width="40">Game #</th>
  				<th width="30">Start Time</th>
  				<th width="200">MATCH-UPS</th>
  				<th width="30">1H score</th>
  				<th width="50">Time</th>
  				<th width="50">Count Down</th>
  				<th width="50">1H Total yards</th>
  				<th width="50">1H Rushing yards</th>
  				<th width="150">KICKED</th>
  				<th>FULL GAME <br> 2ND HALF LINES</th>
  				<th>CAR</th>
  				<th>AVE <br> CAR</th>
  				<th>C/ATT</th>
  				<th>AVE <br> ATT</th>
  				<th>TOTAL <br> PLAYS</th>
  				<th>TOTAL <br> PLAYS/ <br> YARDS</th>
  				<th>LONGEST <br> PASS</th>
  				<th>LONGEST <br> RUSH</th>
  				<th>SACKS</th>
  				<th>1st Half</th>
  				<th>2nd Half</th>
  				<th width="30">FG score</th>
  			</tr>
  		</thead>
		<tbody>
		<% @games.each_with_index do |game, index| %>
		<%
			color = "royalblue"
			if index % 2 == 1
				color = "dodgerblue"
			end
			game_state = game.game_state.to_i

			if game_state == 4
				color = "rgb(156,225,104)"
				if index % 2 == 1
					color = "rgb(147,213,186)"
				end
			elsif game_state == 1 || game_state == 2
				color = "lightyellow"
				if index % 2 == 1
					color = "yellow"
				end
			elsif game_state == 0
				color = "red"
				if index % 2 == 1
					color = "palevioletred"
				end
			elsif game_state == 3
				color = "orange"
				if index % 2 == 1
					color = "orangered"
				end
			end
			style = "background:#{color}"
			away_team_total = ""
			away_team_rushing = ""
			home_team_total = ""
			home_team_rushing = ""
			home_result = ""
			away_result = ""
			game_status = ""

			home_car = ""
    		ome_ave_car = ""
    		home_pass_long = ""
    		home_rush_long = ""
    		home_c_att = ""
    		home_ave_att = ""
    		home_total_play = ""
    		home_play_yard = ""
    		home_sacks = ""
    		away_car = ""
    		away_ave_car = ""
    		away_pass_long = ""
    		away_rush_long = ""
    		away_c_att = ""
    		away_ave_att = ""
    		away_total_play = ""
    		away_play_yard = ""
    		away_sacks = ""

			score = game.scores.find_by(result: "Half")
			if score
				home_team_total = score.home_team_total
				away_team_total = score.away_team_total
				away_team_rushing = score.away_team_rushing
				home_team_rushing = score.home_team_rushing
				home_result = score.home_result
				away_result = score.away_result
				game_status = score.game_status
				if game.game_state == 3 || game.game_state == 5 || game.game_state == 6
					game_status = "-"
				end
				if game_status.size > 0 && game_status[0] == "0"
					game_status.slice!(0)
				end

				home_car = score.home_car
    			home_ave_car = score.home_ave_car
    			home_pass_long = score.home_pass_long
    			home_rush_long = score.home_rush_long
    			home_c_att = score.home_c_att
    			home_ave_att = score.home_ave_att
    			home_total_play = score.home_total_play
    			home_play_yard = score.home_play_yard
    			if home_play_yard != ""
    				home_play_yard_index = home_play_yard.index(".")
    				home_play_yard = home_play_yard[0..home_play_yard_index+2]
    			end
    			home_sacks = score.home_sacks
    			away_car = score.away_car
    			away_ave_car = score.away_ave_car
    			away_pass_long = score.away_pass_long
    			away_rush_long = score.away_rush_long
    			away_c_att = score.away_c_att
    			away_ave_att = score.away_ave_att
    			away_total_play = score.away_total_play
    			away_play_yard = score.away_play_yard
    			if away_play_yard != ""
    				away_play_yard_index = away_play_yard.index(".")
    				away_play_yard = away_play_yard[0..away_play_yard_index+2]
    			end
    			away_sacks = score.away_sacks

			end
			home_full = ""
			away_full = ""
			full = game.scores.find_by(result: "Final")
			if full
				home_full = full.home_result
				away_full = full.away_result
			end
			f_min = ""
			if game_state == 0
				diff = (DateTime.parse(game.game_status) + 15.minutes).to_i - Time.now.to_i
				if diff > 0
					f_min = (diff / 60).to_s + ":"
					if (diff % 60) < 10
						f_min = f_min + "0"
					end
					f_min = f_min + (diff % 60).to_s
				end
			end

			if game_state == 6
				home_result = game.game_status
				away_result = game.game_status
			end
			pinnacle = ""
			if game.home_pinnacle
				home_pinnacle = game.home_pinnacle
				away_pinnacle = game.away_pinnacle
				if home_pinnacle[0] != "-"
					temp = home_pinnacle
					home_pinnacle = away_pinnacle
					away_pinnacle = temp
				end
				index = home_pinnacle.index(" ")
				pinnacle = index ? home_pinnacle[0..index-1] : ""
				index = away_pinnacle.index(" ")
				if index
					if pinnacle != ""
						pinnacle = pinnacle + " and "
					end
					pinnacle = pinnacle + away_pinnacle[0..index-1]
				end
			end
			if pinnacle != ""
				if game.home_pinnacle[0] == "-"
					pinnacle = game.home_abbr + " was " + pinnacle
				else
					pinnacle = game.away_abbr + " was " + pinnacle
				end
			end
			second_pinnacle = ""
			if game.home_2nd_pinnacle
				home_2nd_pinnacle = game.home_2nd_pinnacle
				away_2nd_pinnacle = game.away_2nd_pinnacle
				if home_2nd_pinnacle[0] != "-"
					temp = home_2nd_pinnacle
					home_2nd_pinnacle = away_2nd_pinnacle
					away_2nd_pinnacle = temp
				end
				index = home_2nd_pinnacle.index(" ")
				second_pinnacle = index ? home_2nd_pinnacle[0..index-1] : ""
				index = away_2nd_pinnacle.index(" ")
				if index
					if second_pinnacle != ""
						second_pinnacle = second_pinnacle + " and "
					end
					second_pinnacle = second_pinnacle + away_2nd_pinnacle[0..index-1]
				end
			end
			if second_pinnacle != ""
				if game.home_2nd_pinnacle[0] == "-"
					second_pinnacle = game.home_abbr + " was " + second_pinnacle
				else
					second_pinnacle = game.away_abbr + " was " + second_pinnacle
				end
			end

			first_drive = ""
			second_drive = ""
			first_drive = game.first_drive.to_s
			if game_state == 5
				first_drive = game.first_drive.to_s
				second_drive = (game.second_drive.to_i - game.first_drive.to_i).to_s
			end
			darkcolor = ""
			if game_state == 0
				darkcolor = "background:darkred;"
			end
		%>
			<tr style=<%= style %> >
				<td class="borderTop"><%= game.away_number %></td>
				<% game_date = game.game_date.strftime("%l:%M %P") %>
				<td rowspan="2" class="borderTop"><%= game_date %></td>
				<td class="borderTop"><%= game.away_team %></td>
				<td class="borderTop"><%= away_result %></td>
				<td rowspan="2" class="borderTop"><%= game_status %></td>
				<td rowspan="2" class="borderTop main-time" ><%= f_min %></td>
				<td class="borderTop"><%= away_team_total %></td>
				<td class="borderTop"><%= away_team_rushing %></td>
				<%
					if game.kicked == "home"
				%>
					<td rowspan="2" class="borderTop" style = "text-transform: uppercase"> <%= game.home_team %> <br> kicked</td>
				<%
					elsif game.kicked == "away"
				%>
					<td rowspan="2" class="borderTop" style = "text-transform: uppercase"> <%= game.away_team %> <br> kicked</td>
				<%
					else
				%>
					<td rowspan="2" class="borderTop" style = "text-transform: uppercase"></td>
				<%
					end
				%>
				<td class="borderTop"><%= pinnacle %></td>
				<td class="borderTop"><%= away_car %></td>
				<td class="borderTop" style=<%= darkcolor %> ><%= away_ave_car %></td>
				<td class="borderTop"><%= away_c_att %></td>
				<td class="borderTop" style=<%= darkcolor %> ><%= away_ave_att %></td>
				<td class="borderTop"><%= away_total_play %></td>
				<td class="borderTop" style=<%= darkcolor %> ><%= away_play_yard %></td>
				<td class="borderTop"><%= away_pass_long %></td>
				<td class="borderTop"><%= away_rush_long %></td>
				<td class="borderTop"><%= away_sacks %></td>
				<td rowspan="2" class="borderTop"><%= first_drive %></td>
				<td rowspan="2" class="borderTop"><%= second_drive %></td>
				<td class="borderTop"><%= away_full %></td>
			</tr>
			<tr style=<%= style %> >
				<td><%= game.home_number %></td>
				<td><%= game.home_team %></td>
				<td><%= home_result %></td>
				<td><%= home_team_total %></td>
				<td><%= home_team_rushing %></td>
				<td><%= second_pinnacle %></td>
				<td><%= home_car %></td>
				<td style=<%= darkcolor %> ><%= home_ave_car %></td>
				<td><%= home_c_att %></td>
				<td style=<%= darkcolor %> ><%= home_ave_att %></td>
				<td><%= home_total_play %></td>
				<td style=<%= darkcolor %> ><%= home_play_yard %></td>
				<td><%= home_pass_long %></td>
				<td><%= home_rush_long %></td>
				<td><%= home_sacks %></td>
				<td><%= home_full %></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

<script>
setInterval(repeat, 1000)
function repeat() {
	var list = $(".main-time")
	for (var i = 0; i < list.length ; i++) {
		var value = list[i].innerHTML
		if (value !="") {
			var se_index = value.indexOf(":")
			min = parseInt(value.substring(0, se_index))
			sec = parseInt(value.substring(se_index+1, value.length+1))
			var time = min * 60 + sec - 1;
			if (time == 0)
				list[i].innerHTML = ""
			else
				list[i].innerHTML = Math.floor(time/60) + ":" + ("0" + time%60).slice(-2)
		}
	}
}
</script>