<% content_for :title, 'Filter' %>
<style>
  .class {
    display: none;
  }

  .class1 {
    display: block;
  }
</style>
<%= @game_start_index %>
<%= @game_end_index %>
<%= form_tag("/filter/filter", method: "get") do %>
  <label>Home Team: </label>
  <select name="home_team_id">
    <option value="0" <%= @home_team_id == 0 ? "selected" : '' %>>All</option>
    <% @teams.each do |team| %>
      <option value="<%= team.id %>" <%= @home_team_id == team.id ? "selected" : '' %>><%= team.team %></option>
    <% end %>
  </select>

  <label>Away Team: </label>
  <select name="away_team_id">
    <option value="0" <%= @away_team_id == 0 ? "selected" : '' %>>All</option>
    <% @teams.each do |team| %>
      <option value="<%= team.id %>" <%= @away_team_id == team.id ? "selected" : '' %>><%= team.team %></option>
    <% end %>
  </select>

  <label>Last City Home: </label>
  <select name="last_city_home">
    <option value="0" <%= @last_city_home.to_s == "0" ? "selected" : '' %>>All</option>
    <% @teams.each do |team| %>
      <option value="<%= team.id %>" <%= @last_city_home == team.id.to_s ? "selected" : '' %>><%= team.team %></option>
      <option value="<%= team.id.to_s+'-0' %>" <%= @last_city_home == team.id.to_s+"-0" ? "selected" : '' %>><%= team.team+"-0" %></option>
      <option value="<%= team.id.to_s+'-1' %>" <%= @last_city_home == team.id.to_s+"-1" ? "selected" : '' %>><%= team.team+"-1" %></option>
      <option value="<%= team.id.to_s+'-2' %>" <%= @last_city_home == team.id.to_s+"-2" ? "selected" : '' %>><%= team.team+"-2" %></option>
      <option value="<%= team.id.to_s+'-3' %>" <%= @last_city_home == team.id.to_s+"-3" ? "selected" : '' %>><%= team.team+"-3" %></option>
    <% end %>
  </select>

  <label>Last City Away: </label>
  <select name="last_city_away">
    <option value="0" <%= @last_city_away.to_s == "0" ? "selected" : '' %>>All</option>
    <% @teams.each do |team| %>
      <option value="<%= team.id %>" <%= @last_city_away == team.id.to_s ? "selected" : '' %>><%= team.team %></option>
      <option value="<%= team.id.to_s+'-0' %>" <%= @last_city_away == team.id.to_s+"-0" ? "selected" : '' %>><%= team.team+"-0" %></option>
      <option value="<%= team.id.to_s+'-1' %>" <%= @last_city_away == team.id.to_s+"-1" ? "selected" : '' %>><%= team.team+"-1" %></option>
      <option value="<%= team.id.to_s+'-2' %>" <%= @last_city_away == team.id.to_s+"-2" ? "selected" : '' %>><%= team.team+"-2" %></option>
      <option value="<%= team.id.to_s+'-3' %>" <%= @last_city_away == team.id.to_s+"-3" ? "selected" : '' %>><%= team.team+"-3" %></option>
    <% end %>
  </select>

  <label>Next City Home: </label>
  <select name="next_city_home">
    <option value="0" <%= @next_city_home.to_s == "0" ? "selected" : '' %>>All</option>
    <% @teams.each do |team| %>
      <option value="<%= team.id %>" <%= @next_city_home == team.id.to_s ? "selected" : '' %>><%= team.team %></option>
      <option value="<%= team.id.to_s+'-0' %>" <%= @next_city_home == team.id.to_s+"-0" ? "selected" : '' %>><%= team.team+"-0" %></option>
      <option value="<%= team.id.to_s+'-1' %>" <%= @next_city_home == team.id.to_s+"-1" ? "selected" : '' %>><%= team.team+"-1" %></option>
      <option value="<%= team.id.to_s+'-2' %>" <%= @next_city_home == team.id.to_s+"-2" ? "selected" : '' %>><%= team.team+"-2" %></option>
      <option value="<%= team.id.to_s+'-3' %>" <%= @next_city_home == team.id.to_s+"-3" ? "selected" : '' %>><%= team.team+"-3" %></option>
    <% end %>
  </select>

  <label>Next City Away: </label>
  <select name="next_city_away">
    <option value="0" <%= @next_city_away.to_s == "0" ? "selected" : '' %>>All</option>
    <% @teams.each do |team| %>
      <option value="<%= team.id %>" <%= @next_city_home == team.id.to_s ? "selected" : '' %>><%= team.team %></option>
      <option value="<%= team.id.to_s+'-0' %>" <%= @next_city_away == team.id.to_s+"-0" ? "selected" : '' %>><%= team.team+"-0" %></option>
      <option value="<%= team.id.to_s+'-1' %>" <%= @next_city_away == team.id.to_s+"-1" ? "selected" : '' %>><%= team.team+"-1" %></option>
      <option value="<%= team.id.to_s+'-2' %>" <%= @next_city_away == team.id.to_s+"-2" ? "selected" : '' %>><%= team.team+"-2" %></option>
      <option value="<%= team.id.to_s+'-3' %>" <%= @next_city_away == team.id.to_s+"-3" ? "selected" : '' %>><%= team.team+"-3" %></option>
    <% end %>
  </select>


  <input type="checkbox" name="datePicker" id="datePicker" <%= @datePicker ? "checked" : "" %> />
  <label for="datePicker">All dates</label>

  <input type="text" data-toggle="daterangepicker" name="date" data-filter-type="date-range"
         style="width: 400px; text-align:center; display: <%= @datePicker ? "none" : "inline" %>"
         class="daterange"
  >

  <input type="submit" value="Filter">
<% end %>
<script>
    $('#datePicker').change(function () {
        var value = this.checked;
        if (value) {
            $(".daterange").css("display", "none");
        } else {
            $(".daterange").css("display", "inline");
        }
    });
</script>
<div style="display: flex;">
  <% (1..((@games.length + 9)/10).to_i).each do |index| %>
    <button class="btn-primary apply apply<%= index %>"><%= "#{index * 10 - 9} - #{index * 10 < @games.length ? index * 10 : @games.length}" %></button>
  <% end %>
</div>
<% @games.each_with_index do |game, index| %>
  <div style="border-bottom: 20px solid black;" class="class class<%= (index/10).to_i + 1 %>">
    <img style="border-radius: 0;" src="https://s3.amazonaws.com/nba-daemon/images/<%= game.game_id %>.png" />
  </div>
<% end %>

<ul class="list-group">
  <li class="list-group-item"><%= link_to 'Home', { controller: 'index', action: 'home' }%></li>
</ul>
<script>
    $(document).ready(function(){
        $(".apply1").click(function(){
            $(".class").css("display", "none");
            $(".class1").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply2").click(function(){
            $(".class").css("display", "none");
            $(".class2").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply3").click(function(){
            $(".class").css("display", "none");
            $(".class3").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply4").click(function(){
            $(".class").css("display", "none");
            $(".class4").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply5").click(function(){
            $(".class").css("display", "none");
            $(".class5").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply6").click(function(){
            $(".class").css("display", "none");
            $(".class6").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply7").click(function(){
            $(".class").css("display", "none");
            $(".class7").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply8").click(function(){
            $(".class").css("display", "none");
            $(".class8").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply9").click(function(){
            $(".class").css("display", "none");
            $(".class9").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });
        $(".apply10").click(function(){
            $(".class").css("display", "none");
            $(".class10").css("display", "block");
            $(".active").removeClass("active");
            $(this).addClass("active");
        });

        $(".apply1").addClass("active");
    });

    var start = moment("<%= @game_start_index %>").format('MMM DD, YYYY');
    var end = moment("<%= @game_end_index %>").format('MMM DD, YYYY');
    $('.daterange').daterangepicker({
        showCustomRangeLabel: true,
        showDropdowns: true,
        alwaysShowCalendars: true,
        ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Next 7 Days': [moment(), moment().add(6, 'days')],
            'This Week': [moment().startOf('week'), moment().endOf('week')],
            'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')]
        },
        locale: {
            format: 'MMM DD, YYYY'
        },
        startDate: start,
        endDate: end
    });

    // function cb(start, end) {
    //     window.location.href = "/welcome/index/" + start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD');
    // }
</script>
