<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) else 'NBA Database' end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css">
	<script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"> </script>
	<script src="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"> </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
